In [15]:
import pandas as pd
import datetime
# !pip install xlrd
# !pip install pandas

Requirement already satisfied: xlrd in c:\users\ad\miniconda3\lib\site-packages (2.0.1)
Requirement already satisfied: pandas in c:\users\ad\miniconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\ad\miniconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ad\miniconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\ad\miniconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\ad\miniconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [16]:
pd.read_excel('C:/Users/minipojectweb/data/pm25/202005.xls', header =3 )

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2020-05-31,29,18,26,21,25,28,23,29,21,28,29,32,22,21,22,17,25
1,2020-05-30,26,19,22,24,27,23,22,26,13,19,28,32,24,16,21,31,20
2,2020-05-29,21,21,20,15,26,23,21,21,15,26,22,27,23,16,21,28,19
3,2020-05-28,18,22,19,12,22,21,28,19,15,22,19,22,16,16,19,22,17
4,2020-05-27,13,21,14,10,20,17,21,14,11,20,17,20,17,14,19,24,14
5,2020-05-26,25,30,27,19,24,29,34,26,22,35,28,35,20,26,25,20,22
6,2020-05-25,26,25,16,18,20,21,28,29,18,43,31,25,13,16,17,24,19
7,2020-05-24,17,17,18,13,20,20,21,18,15,21,19,22,16,17,17,21,16
8,2020-05-23,32,12,16,24,18,21,12,31,16,17,28,23,13,11,14,18,18
9,2020-05-22,28,10,17,22,16,20,9,27,12,18,25,22,12,11,15,11,16
10,2020-05-21,11,12,17,12,12,13,12,12,7,10,17,16,10,10,13,12,12
11,2020-05-20,3,7,6,4,8,7,6,4,4,4,7,8,7,5,8,13,5
12,2020-05-19,7,12,11,6,10,7,13,6,5,7,9,11,9,9,10,19,4
13,2020-05-18,26,20,32,24,19,17,26,27,15,26,24,22,17,19,21,13,17
14,2020-05-17,28,17,37,20,27,18,25,28,22,24,23,23,20,26,22,21,15
15,2020-05-16,15,23,28,10,19,15,21,14,11,17,12,19,16,16,22,23,8
16,2020-05-15,11,15,19,11,12,13,18,12,12,15,15,14,11,17,14,14,11
17,2020-05-14,13,17,23,10,15,14,18,13,12,14,15,17,13,16,16,14,12
18,2020-05-13,10,13,13,7,10,10,12,10,10,11,10,11,9,10,11,12,8
19,2020-05-12,15,21,18,11,27,18,22,16,17,20,19,25,19,17,16,34,13
20,2020-05-11,28,20,24,24,27,22,21,30,24,27,30,31,22,18,17,40,18
21,2020-05-10,21,12,14,16,16,14,13,21,10,16,20,19,11,9,10,19,11
22,2020-05-09,8,8,10,8,6,7,13,9,7,9,9,8,6,10,7,12,6
23,2020-05-08,12,12,17,12,12,11,14,12,10,9,15,15,10,13,12,14,10
24,2020-05-07,12,8,10,11,14,7,9,11,9,7,11,12,11,8,9,12,5
25,2020-05-06,16,14,17,15,19,12,15,17,11,15,20,18,17,12,14,18,12
26,2020-05-05,19,14,20,15,20,17,14,19,11,18,17,21,17,13,18,19,13
27,2020-05-04,17,21,22,14,15,13,24,17,14,17,16,18,13,18,20,18,11
28,2020-05-03,18,19,23,15,9,13,22,16,19,16,16,11,9,21,18,13,14
29,2020-05-02,29,23,27,21,18,16,26,27,30,23,21,21,20,25,22,18,17
30,2020-05-01,31,22,27,23,20,20,25,27,28,24,23,22,20,24,20,23,20

In [17]:
def excelappend(yy, mm):
    
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/pm25/{}{}.xls'.format(yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)

    return(excel_df)

In [18]:
test = excelappend(2020, 09)
test

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-18-54b29768f61d>, line 1)

In [57]:
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if len(str(mm)) <= 1 :
            yymm = f'{yy}0{mm}'
            print(yymm)
        else:
            yymm  = f'{yy}{mm}'
            print(yymm)

202001
202002
202003
202004
202005
202006
202007
202008
202009
202010
202011
202012
202101
202102
202103
202104
202105
202106
202107
202108
202109
202110
202111
202112

In [60]:
for yy in [2020, 2021]:
    for mm in range (1, 13):
        mm_str = str(mm).zfill(2)
        yymm = f'{yy}{mm_str}'
        print(yymm)

202001
<class 'str'>
202002
<class 'str'>
202003
<class 'str'>
202004
<class 'str'>
202005
<class 'str'>
202006
<class 'str'>
202007
<class 'str'>
202008
<class 'str'>
202009
<class 'str'>
202010
<class 'str'>
202011
<class 'str'>
202012
<class 'str'>
202101
<class 'str'>
202102
<class 'str'>
202103
<class 'str'>
202104
<class 'str'>
202105
<class 'str'>
202106
<class 'str'>
202107
<class 'str'>
202108
<class 'str'>
202109
<class 'str'>
202110
<class 'str'>
202111
<class 'str'>
202112
<class 'str'>

In [153]:
PH25DF = pd.DataFrame()

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [159]:
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappend(str(yy), str(mm).zfill(2))
            PH25DF = PH25DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [160]:
PH25DF

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2021-06-20,28,26,20,37,23,18,30,30,17,23,25,22,22,21,22,23.0,18
1,2021-06-19,26,23,15,29,16,15,20,29,14,23,22,20,15,14,17,16.0,14
2,2021-06-18,11,15,19,10,8,5,18,11,7,7,8,8,8,14,16,9.0,4
3,2021-06-17,8,9,10,10,10,6,6,9,6,7,7,9,7,8,8,8.0,5
4,2021-06-16,4,6,4,5,5,4,5,5,4,5,7,6,5,6,5,6.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,2021-06-05,23,22,24,29,29,31,25,26,19,27,30,35,23,20,22,22.0,25
462,2021-06-04,12,9,8,12,9,9,11,13,9,10,11,10,7,9,8,7.0,7
463,2021-06-03,17,17,20,19,10,15,23,19,18,19,16,12,9,21,16,5.0,14
464,2021-06-02,29,21,32,30,23,24,28,28,21,25,25,25,21,27,23,14.0,24
465,2021-06-01,22,14,26,20,22,20,15,22,19,22,19,20,19,18,17,15.0,17

In [163]:
PH25DF.info

<bound method DataFrame.info of              날짜  서울  부산  대구  인천  광주  대전  울산  경기  강원  충북  충남  전북  전남  경북  경남  \
0    2021-06-20  28  26  20  37  23  18  30  30  17  23  25  22  22  21  22
1    2021-06-19  26  23  15  29  16  15  20  29  14  23  22  20  15  14  17
2    2021-06-18  11  15  19  10   8   5  18  11   7   7   8   8   8  14  16
3    2021-06-17   8   9  10  10  10   6   6   9   6   7   7   9   7   8   8
4    2021-06-16   4   6   4   5   5   4   5   5   4   5   7   6   5   6   5
..          ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
461  2021-06-05  23  22  24  29  29  31  25  26  19  27  30  35  23  20  22
462  2021-06-04  12   9   8  12   9   9  11  13   9  10  11  10   7   9   8
463  2021-06-03  17  17  20  19  10  15  23  19  18  19  16  12   9  21  16
464  2021-06-02  29  21  32  30  23  24  28  28  21  25  25  25  21  27  23
465  2021-06-01  22  14  26  20  22  20  15  22  19  22  19  20  19  18  17

       제주  세종
0    23.0  18
1    16.0  14
2     9.0   4
3     8.0   5
4     6.0   4
..    ...  ..
461  22.0  25
462   7.0   7
463   5.0  14
464  14.0  24
465  15.0  17

[466 rows x 18 columns]>

In [173]:
PH25DF[['날짜', '부산']]

             날짜  부산
0    2021-06-20  26
1    2021-06-19  23
2    2021-06-18  15
3    2021-06-17   9
4    2021-06-16   6
..          ...  ..
461  2021-06-05  22
462  2021-06-04   9
463  2021-06-03  17
464  2021-06-02  21
465  2021-06-01  14

[466 rows x 2 columns]

In [174]:
PH25DF

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2021-06-20,28,26,20,37,23,18,30,30,17,23,25,22,22,21,22,23.0,18
1,2021-06-19,26,23,15,29,16,15,20,29,14,23,22,20,15,14,17,16.0,14
2,2021-06-18,11,15,19,10,8,5,18,11,7,7,8,8,8,14,16,9.0,4
3,2021-06-17,8,9,10,10,10,6,6,9,6,7,7,9,7,8,8,8.0,5
4,2021-06-16,4,6,4,5,5,4,5,5,4,5,7,6,5,6,5,6.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,2021-06-05,23,22,24,29,29,31,25,26,19,27,30,35,23,20,22,22.0,25
462,2021-06-04,12,9,8,12,9,9,11,13,9,10,11,10,7,9,8,7.0,7
463,2021-06-03,17,17,20,19,10,15,23,19,18,19,16,12,9,21,16,5.0,14
464,2021-06-02,29,21,32,30,23,24,28,28,21,25,25,25,21,27,23,14.0,24
465,2021-06-01,22,14,26,20,22,20,15,22,19,22,19,20,19,18,17,15.0,17

In [22]:
# 엑셀 경로 받아오는 함수(pm2.5)
def excelappend(yy, mm):
    
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/pm25/{}{}.xls'.format(yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)

    return(excel_df)


# 데이터프레임 만드는 반복문 (pm2.5)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH25DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappend(str(yy), str(mm).zfill(2))
            PH25DF = PH25DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')


# 경로에 저장  
PH25DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH2_5' # 저장경로
PH25DF.to_excel(save_PATH + '.xlsx', index=False)
PH25DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [32]:
a = PH25DF[['날짜', '부산']]
PH25DF

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
426,2021-06-20,28,26,20,37,23,18,30,30,17,23,25,22,22,21,22,23.0,18
427,2021-06-19,26,23,15,29,16,15,20,29,14,23,22,20,15,14,17,16.0,14
428,2021-06-18,11,15,19,10,8,5,18,11,7,7,8,8,8,14,16,9.0,4
429,2021-06-17,8,9,10,10,10,6,6,9,6,7,7,9,7,8,8,8.0,5
430,2021-06-16,4,6,4,5,5,4,5,5,4,5,7,6,5,6,5,6.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,22,11,12,17,11,14,9,19,15,17,18,13,10,11,10,12.0,14
26,2020-04-04,27,23,25,19,24,22,22,27,26,29,26,24,21,23,21,27.0,25
27,2020-04-03,32,21,24,24,28,25,24,32,23,30,32,32,22,22,19,26.0,28
28,2020-04-02,24,16,17,21,20,21,17,24,21,22,25,22,18,17,14,24.0,20
29,2020-04-01,30,19,30,23,21,23,23,30,30,36,26,22,19,25,22,21.0,26

In [31]:
a = a.rename({'날짜':'date', '부산':'PH2.5'}, axis='columns')
seoul_df   = PH25DF[ [ '날짜','서울' ] ].rename({'서울':'PH2.5'}, axis='columns')
pusan_df   = PH25DF[ [ '날짜','부산' ] ].rename({'부산':'PH2.5'}, axis='columns')
daegu_df   = PH25DF[ [ '날짜','대구' ] ].rename({'대구':'PH2.5'}, axis='columns')
incheon_df = PH25DF[ [ '날짜','인천' ] ].rename({'인천':'PH2.5'}, axis='columns')

             날짜  PH2.5
426  2021-06-20     28
427  2021-06-19     26
428  2021-06-18     11
429  2021-06-17      8
430  2021-06-16      4
..          ...    ...
25   2020-04-05     22
26   2020-04-04     27
27   2020-04-03     32
28   2020-04-02     24
29   2020-04-01     30

[446 rows x 2 columns]

             날짜  부산
0    2020-04-30  14
1    2020-04-29  23
2    2020-04-28  16
3    2020-04-27  16
4    2020-04-26  24
..          ...  ..
441  2021-06-05  22
442  2021-06-04   9
443  2021-06-03  17
444  2021-06-02  21
445  2021-06-01  14

[446 rows x 2 columns]

In [195]:
a

             날짜  부산
0    2020-04-30  14
1    2020-04-29  23
2    2020-04-28  16
3    2020-04-27  16
4    2020-04-26  24
..          ...  ..
441  2021-06-05  22
442  2021-06-04   9
443  2021-06-03  17
444  2021-06-02  21
445  2021-06-01  14

[446 rows x 2 columns]

In [198]:
a =PH25DF.sort_values( by = '날짜', ascending=False)
a

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
426,2021-06-20,28,26,20,37,23,18,30,30,17,23,25,22,22,21,22,23.0,18
427,2021-06-19,26,23,15,29,16,15,20,29,14,23,22,20,15,14,17,16.0,14
428,2021-06-18,11,15,19,10,8,5,18,11,7,7,8,8,8,14,16,9.0,4
429,2021-06-17,8,9,10,10,10,6,6,9,6,7,7,9,7,8,8,8.0,5
430,2021-06-16,4,6,4,5,5,4,5,5,4,5,7,6,5,6,5,6.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,22,11,12,17,11,14,9,19,15,17,18,13,10,11,10,12.0,14
26,2020-04-04,27,23,25,19,24,22,22,27,26,29,26,24,21,23,21,27.0,25
27,2020-04-03,32,21,24,24,28,25,24,32,23,30,32,32,22,22,19,26.0,28
28,2020-04-02,24,16,17,21,20,21,17,24,21,22,25,22,18,17,14,24.0,20
29,2020-04-01,30,19,30,23,21,23,23,30,30,36,26,22,19,25,22,21.0,26

In [201]:
type(PH25DF.columns)

pandas.core.indexes.base.Index

In [205]:
for i in PH25DF.columns[1:]:
    print(i)

서울
부산
대구
인천
광주
대전
울산
경기
강원
충북
충남
전북
전남
경북
경남
제주
세종

In [206]:
PH25DF.head(1)

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2020-04-30,19,14,21,15,17,16,19,19,22,22,17,17,14,20,14,15.0,16

In [207]:
a = PH25DF.rename({'서울':'Seoul'},axis='columns')
a.hread(1)

,날짜,Seoul,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2020-04-30,19,14,21,15,17,16,19,19,22,22,17,17,14,20,14,15.0,16

In [211]:
b = PH25DF[['날짜', '서울']]
b.head(1)

           날짜  서울
0  2020-04-30  19

In [14]:
for city in PH25DF.columns[1:]:
    city = PH25DF[['날짜',city]]
    break

NameError: name 'PH25DF' is not defined

In [6]:
for i in range(10):
    i= i+1

In [35]:
for city in PH25DF.columns[1:]:
    globals()[city] = PH25DF[ [ '날짜',city ] ].rename({ city:'PH2.5'}, axis='columns')
    break

In [36]:
서울

             날짜  PH2.5
426  2021-06-20     28
427  2021-06-19     26
428  2021-06-18     11
429  2021-06-17      8
430  2021-06-16      4
..          ...    ...
25   2020-04-05     22
26   2020-04-04     27
27   2020-04-03     32
28   2020-04-02     24
29   2020-04-01     30

[446 rows x 2 columns]

In [49]:
PH25DF_I = PH25DF.rename({'서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON','울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK', '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}, axis='columns')
PH25DF_I.head(1)

,날짜,SEOUL,PUSAN,DEAGU,INCHEON,KWANG_JU,DAEJEON,ULSAN,KYEONG_GI,KANGONE,CHUNG_BUK,CHUNG_NAM,JEON_BUK,JEON_NAM,KYUNG_BUK,KYUNG_NAM,JE_JU,SEJONG
426,2021-06-20,28,26,20,37,23,18,30,30,17,23,25,22,22,21,22,23.0,18

In [39]:
PH25DF.head(1)

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
426,2021-06-20,28,26,20,37,23,18,30,30,17,23,25,22,22,21,22,23.0,18

In [ ]:
for city in PH25DF.columns[1:]:
    globals()[city] = PH25DF[ [ '날짜',city ] ].rename({ city:'PH2.5'}, axis='columns')
    break

In [55]:
for city in PH25DF_I.columns[1:]:
    globals()[f'{city}_df'] = PH25DF_I[ [ '날짜',city ] ].rename({ city:'PH2.5'}, axis='columns')
    print(city)

SEOUL
PUSAN
DEAGU
INCHEON
KWANG_JU
DAEJEON
ULSAN
KYEONG_GI
KANGONE
CHUNG_BUK
CHUNG_NAM
JEON_BUK
JEON_NAM
KYUNG_BUK
KYUNG_NAM
JE_JU
SEJONG

In [57]:
SEJONG_df

             날짜  PH2.5
426  2021-06-20     18
427  2021-06-19     14
428  2021-06-18      4
429  2021-06-17      5
430  2021-06-16      4
..          ...    ...
25   2020-04-05     14
26   2020-04-04     25
27   2020-04-03     28
28   2020-04-02     20
29   2020-04-01     26

[446 rows x 2 columns]