In [5]:
import pandas as pd 
import numpy as np
import bokeh
import webbrowser
from bokeh.io import output_notebook, show, save, output_notebook, curdoc, output_file
from bokeh.plotting import figure, show
from bokeh.models import Select, CheckboxButtonGroup, ColumnDataSource, DataTable, TableColumn, WMTSTileSource, FactorRange, PanTool
from bokeh.models import BoxZoomTool, PanTool, ResetTool
from bokeh.layouts import row, column
from bokeh import layouts
from bokeh.resources import INLINE
from bokeh.models import *
from bokeh.plotting import *
from bokeh.io import *
from bokeh.tile_providers import *
from bokeh.palettes import *
from bokeh.transform import *
from bokeh.layouts import *


# 예측모델 오픈 최종

def finalopen(a):
    filepath = f'C:/Users/ad/Desktop/test/fin/{a}FIN.xlsx'
    excel_df  = pd.read_excel(filepath)
    print (filepath + '# orig')
    return(excel_df)

def perdopen(a):
    filepath2 = f'C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/{a}.xlsx'
    excel_df2 = pd.read_excel(filepath2)
    print (filepath2 + '# cop')
    return(excel_df2)
    
columnss = ['SEOUL', 'PUSAN', 'DEAGU', 'INCHEON', 'KWANG_JU', 'DAEJEON', 'ULSAN',
       'KYEONG_GI', 'KANGONE', 'CHUNG_BUK', 'CHUNG_NAM', 'JEON_BUK',
       'JEON_NAM', 'KYUNG_BUK', 'KYUNG_NAM', 'JE_JU', 'SEJONG']
for col in columnss:
     globals()[f'{col}FINAL'] = finalopen(col)
     globals()[f'{col}pred'] = perdopen(col)
     globals()[f'{col}pred'].rename(columns={'PM25' : 'PM2.5'}, inplace=True)


# 최종파일 오픈 최종

def make_graphs():

    columnss = ['SEOUL', 'PUSAN', 'DEAGU', 'INCHEON', 'KWANG_JU', 'DAEJEON', 'ULSAN',
       'KYEONG_GI', 'KANGONE', 'CHUNG_BUK', 'CHUNG_NAM', 'JEON_BUK',
       'JEON_NAM', 'KYUNG_BUK', 'KYUNG_NAM', 'JE_JU', 'SEJONG']

    for col in columnss:
        globals()[f'{col}FINAL_cop'] = globals()[f'{col}FINAL'].copy()
        globals()[f'{col}FINAL_cop']['DATE'] = pd.to_datetime(globals()[f'{col}FINAL_cop']['DATE'])
        globals()[f'{col}pred_cop'] = globals()[f'{col}pred'].copy()
        globals()[f'{col}pred_cop']['DATE'] = pd.to_datetime(globals()[f'{col}pred']['DATE'])

        # 라인그래프 1
        globals()[f'{col}ap1'] = figure(
            plot_width=400, plot_height=400, 
            x_axis_type='datetime', output_backend="svg",
            sizing_mode='stretch_width', toolbar_location="right",
            tools = "pan,wheel_zoom,box_zoom,reset,hover,save",
            title=f"{col}'s PM2.5, PM10 Prediction Model")

        globals()[f'{col}ap1'].line(globals()[f'{col}FINAL_cop']['DATE'][:100], globals()[f'{col}FINAL_cop']['PM10'][:100], color='red', alpha=0.3, legend_label = 'PM10')
        globals()[f'{col}ap1'].line(globals()[f'{col}pred_cop']['DATE'], globals()[f'{col}pred_cop']['PM10'], color='navy', alpha=0.8, legend_label = 'Predict PM10')
        globals()[f'{col}ap1'].y_range = Range1d(0, 120, bounds='auto')

        # 라인그래프 2
        globals()[f'{col}ap2'] = figure(
            plot_width=400, plot_height=400, 
            x_axis_type='datetime', output_backend="svg",
            sizing_mode='stretch_width',  toolbar_location="right",
            tools = "pan,wheel_zoom,box_zoom,reset,hover,save",
            title=f"{col}'s PM2.5 Prediction Model")

        globals()[f'{col}ap2'].line(globals()[f'{col}FINAL_cop']['DATE'][:100], globals()[f'{col}FINAL_cop']['PM2.5'][:100], color='red', alpha=0.3, legend_label = 'PM2.5')
        globals()[f'{col}ap2'].line(globals()[f'{col}pred_cop']['DATE'], globals()[f'{col}pred_cop']['PM2.5'], color='navy', alpha=0.8, legend_label = 'Predict PM2.5')
        globals()[f'{col}ap2'].y_range = Range1d(0, 120, bounds='auto')

        # 표
        
        globals()[f'{col}pred_cop'].drop("LOWER_CENTIGRADE",axis=1,inplace=True)
        globals()[f'{col}pred_cop'].drop("UPPER_CENTIGRADE",axis=1,inplace=True)
        globals()[f'{col}pred_cop']['DATE'] = globals()[f'{col}pred_cop']['DATE'].astype(str)
        #globals()[f'{col}pred_cop'][['PM10', 'PM2.5']] = globals()[f'{col}pred_cop'][['PM10', 'PM2.5']].astype(int)
        source = ColumnDataSource(globals()[f'{col}pred_cop'])

        columns = [ TableColumn( field=col, title=col ) for col in globals()[f'{col}pred_cop'].columns ]
        globals()[f'{col}preddata_table'] = DataTable(source=source, columns = columns, background='navy',width=800,sizing_mode='scale_both' )

C:/Users/ad/Desktop/test/fin/SEOULFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/SEOUL.xlsx# cop
C:/Users/ad/Desktop/test/fin/PUSANFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/PUSAN.xlsx# cop
C:/Users/ad/Desktop/test/fin/DEAGUFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/DEAGU.xlsx# cop
C:/Users/ad/Desktop/test/fin/INCHEONFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/INCHEON.xlsx# cop
C:/Users/ad/Desktop/test/fin/KWANG_JUFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/KWANG_JU.xlsx# cop
C:/Users/ad/Desktop/test/fin/DAEJEONFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/DAEJEON.xlsx# cop
C:/Users/ad/Desktop/test/fin/ULSANFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/ULSAN.xlsx# cop
C:/Users/ad/Desktop/test/fin/KYEONG_GIFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/KYEONG_GI.xlsx# cop
C:/Users/ad/Desktop/test/fin/KANGONEFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/KANGONE.xlsx# cop
C:/Users/ad/Desktop/test/fin/CHUNG_BUKFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/CHUNG_BUK.xlsx# cop
C:/Users/ad/Desktop/test/fin/CHUNG_NAMFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/CHUNG_NAM.xlsx# cop
C:/Users/ad/Desktop/test/fin/JEON_BUKFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/JEON_BUK.xlsx# cop
C:/Users/ad/Desktop/test/fin/JEON_NAMFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/JEON_NAM.xlsx# cop
C:/Users/ad/Desktop/test/fin/KYUNG_BUKFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/KYUNG_BUK.xlsx# cop
C:/Users/ad/Desktop/test/fin/KYUNG_NAMFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/KYUNG_NAM.xlsx# cop
C:/Users/ad/Desktop/test/fin/JE_JUFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/JE_JU.xlsx# cop
C:/Users/ad/Desktop/test/fin/SEJONGFIN.xlsx# orig
C:/Users/ad/Documents/카카오톡 받은 파일/tabledata/SEJONG.xlsx# cop

In [6]:
make_graphs()
for i in columnss:
    globals()[f'layout_with_widgets_{i}pre'] = column(   column(row(globals()[f'{i}ap1'],globals()[f'{i}ap2'])),
                                                        row(column(globals()[f'{i}preddata_table'])))
    save(obj=globals()[f'layout_with_widgets_{i}pre'], filename= f'{i}pred.html')
    print(f'{i}pred.html save complete!')

C:\Users\ad\miniconda3\lib\site-packages\bokeh\io\saving.py:126: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  warn("save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN")
C:\Users\ad\miniconda3\lib\site-packages\bokeh\io\saving.py:139: UserWarning: save() called but no title was supplied and output_file(...) was never called, using default title 'Bokeh Plot'
  warn("save() called but no title was supplied and output_file(...) was never called, using default title 'Bokeh Plot'")
SEOULpred.html save complete!
PUSANpred.html save complete!
DEAGUpred.html save complete!
INCHEONpred.html save complete!
KWANG_JUpred.html save complete!
DAEJEONpred.html save complete!
ULSANpred.html save complete!
KYEONG_GIpred.html save complete!
KANGONEpred.html save complete!
CHUNG_BUKpred.html save complete!
CHUNG_NAMpred.html save complete!
JEON_BUKpred.html save complete!
JEON_NAMpred.html save complete!
KYUNG_BUKpred.html save complete!
KYUNG_NAMpred.html save complete!
JE_JUpred.html save complete!
SEJONGpred.html save complete!

In [7]:
make_graphs()
reset_output()

In [8]:
webbrowser.open('KYEONG_GIpred.html')

True

In [117]:
PUSANpred_cop.dtypes

DATE                 datetime64[ns]
PM10                        float64
PM2.5                       float64
CENTIGRADE                  float64
PRECIPITATION               float64
WIND SPEED                  float64
RELATIVE HUMIDITY           float64
dtype: object

In [118]:
aa

0                                              2021-06-23
1                                              2021-06-24
2                                              2021-06-25
3                                              2021-06-26
4                                              2021-06-27
5                                              2021-06-28
6                                              2021-06-29
DATE    0    2021-06-23
1    2021-06-24
2    2021-06-2...
Name: DATE, dtype: object

In [127]:
from bokeh.models import HoverTool
hover = HoverTool(
    tooltips=[
        ("value","$y")
    ]

)


a2p = figure( plot_width=450, plot_height=400, x_axis_type='datetime', output_backend="svg", sizing_mode='stretch_width', title="Test",y_minor_ticks =10,toolbar_location='left',tools=[hover] )
ss  =  ColumnDataSource(
    data=dict(
        x     = PUSANFINAL.index,
        y     = PUSANFINAL['PM10'],
        des   = PUSANFINAL.index))


a2p.line(PUSANFINAL_cop['DATE'], PUSANFINAL_cop['PM10'], color='red', alpha=0.1, legend_label = 'PM10',)
a2p.line(PUSANFINAL_cop['DATE'], PUSANFINAL_cop['PM2.5'], color='orange', alpha=0.7, legend_label = 'PM2.5')

GlyphRenderer(id='71652', ...)

In [53]:
aa = SEOULFINAL.copy()
bb = PUSANpred.copy()
aa['DATE'] =  pd.to_datetime(SEOULFINAL['DATE'])
bb['DATE'] =  pd.to_datetime(PUSANpred['DATE'])
bb.dtypes
bb

,DATE,PM10,PM25,LOWER_CENTIGRADE,UPPER_CENTIGRADE,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-23,37.789914,17.389257,18.786148,25.973419,22.323278,1.993652,3.135491,47.190577
1,2021-06-24,37.243441,16.979287,18.601223,25.950828,22.464511,6.008139,3.155871,50.684720
2,2021-06-25,33.535000,16.063520,19.121698,26.429637,22.674597,6.561482,3.383079,53.215638
3,2021-06-26,36.290630,16.838632,19.032993,26.449787,22.777302,6.524365,3.264007,53.366580
4,2021-06-27,31.124514,15.622209,19.674659,26.561424,23.063706,2.257110,3.141801,53.436725
5,2021-06-28,38.480987,17.424603,18.885065,26.847286,23.076387,5.496904,3.262460,50.595361
6,2021-06-29,37.165519,17.393608,19.497301,26.876038,23.056960,1.194592,3.180991,47.446359

In [46]:
bbb = bb.astype({'PM10':'int'})
bb

,DATE,PM10,PM25,LOWER_CENTIGRADE,UPPER_CENTIGRADE,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-23,37.789914,17.389257,18.786148,25.973419,22.323278,1.993652,3.135491,47.190577
1,2021-06-24,37.243441,16.979287,18.601223,25.950828,22.464511,6.008139,3.155871,50.684720
2,2021-06-25,33.535000,16.063520,19.121698,26.429637,22.674597,6.561482,3.383079,53.215638
3,2021-06-26,36.290630,16.838632,19.032993,26.449787,22.777302,6.524365,3.264007,53.366580
4,2021-06-27,31.124514,15.622209,19.674659,26.561424,23.063706,2.257110,3.141801,53.436725
5,2021-06-28,38.480987,17.424603,18.885065,26.847286,23.076387,5.496904,3.262460,50.595361
6,2021-06-29,37.165519,17.393608,19.497301,26.876038,23.056960,1.194592,3.180991,47.446359

In [64]:
aaaa = figure( plot_width=450, plot_height=400, x_axis_type='datetime', output_backend="svg",sizing_mode='stretch_width', title=f"{col}'s PM10 predict the future")

aaaa.line(aa['DATE'][:100], aa['PM10'][:100], color='red',  alpha=0.4, legend_label ='PM10')
aaaa.line(bb['DATE'], bb['PM10'], color='navy', alpha=0.9, legend_label ='predict PM10')

GlyphRenderer(id='2836', ...)

In [70]:
#show(aaaa)
bb.rename(columns={'PM25' : 'PM2.5'}, inplace=True)
bb

,DATE,PM10,PM2.5,LOWER_CENTIGRADE,UPPER_CENTIGRADE,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-23,37.789914,17.389257,18.786148,25.973419,22.323278,1.993652,3.135491,47.190577
1,2021-06-24,37.243441,16.979287,18.601223,25.950828,22.464511,6.008139,3.155871,50.684720
2,2021-06-25,33.535000,16.063520,19.121698,26.429637,22.674597,6.561482,3.383079,53.215638
3,2021-06-26,36.290630,16.838632,19.032993,26.449787,22.777302,6.524365,3.264007,53.366580
4,2021-06-27,31.124514,15.622209,19.674659,26.561424,23.063706,2.257110,3.141801,53.436725
5,2021-06-28,38.480987,17.424603,18.885065,26.847286,23.076387,5.496904,3.262460,50.595361
6,2021-06-29,37.165519,17.393608,19.497301,26.876038,23.056960,1.194592,3.180991,47.446359

In [56]:
aa

,DATE,PM10,PM2.5,CO,NO2,O3,SO2,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-24,23,13,0.4,0.016,0.033,0.003,22.9,0.0,2.8,48.0
1,2021-06-23,18,10,0.3,0.015,0.041,0.003,22.9,0.0,2.8,48.0
2,2021-06-22,23,13,0.4,0.018,0.039,0.003,22.9,0.0,2.8,48.0
3,2021-06-21,41,24,0.4,0.015,0.051,0.003,22.9,0.0,2.8,48.0
4,2021-06-20,51,31,0.5,0.014,0.059,0.004,22.9,0.0,2.8,48.0
...,...,...,...,...,...,...,...,...,...,...,...
445,2020-04-05,47,22,0.4,0.015,0.038,0.003,7.2,0.0,2.8,29.5
446,2020-04-04,68,27,0.4,0.015,0.037,0.003,8.9,0.0,3.4,36.4
447,2020-04-03,56,32,0.5,0.028,0.032,0.003,10.0,0.0,2.7,53.8
448,2020-04-02,39,24,0.5,0.027,0.029,0.003,9.3,0.0,2.3,41.4
449,2020-04-01,69,30,0.5,0.020,0.041,0.004,11.3,0.0,3.7,35.6

In [92]:
bb.drop("LOWER_CENTIGRADE",axis=1,inplace=True)
bb.drop("UPPER_CENTIGRADE",axis=1,inplace=True)
bb

,DATE,PM10,PM2.5,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-23,37.789914,17.389257,22.323278,1.993652,3.135491,47.190577
1,2021-06-24,37.243441,16.979287,22.464511,6.008139,3.155871,50.684720
2,2021-06-25,33.535000,16.063520,22.674597,6.561482,3.383079,53.215638
3,2021-06-26,36.290630,16.838632,22.777302,6.524365,3.264007,53.366580
4,2021-06-27,31.124514,15.622209,23.063706,2.257110,3.141801,53.436725
5,2021-06-28,38.480987,17.424603,23.076387,5.496904,3.262460,50.595361
6,2021-06-29,37.165519,17.393608,23.056960,1.194592,3.180991,47.446359

In [96]:
print(bb)

        DATE       PM10      PM2.5  CENTIGRADE  PRECIPITATION  WIND SPEED  \
0 2021-06-23  37.789914  17.389257   22.323278       1.993652    3.135491
1 2021-06-24  37.243441  16.979287   22.464511       6.008139    3.155871
2 2021-06-25  33.535000  16.063520   22.674597       6.561482    3.383079
3 2021-06-26  36.290630  16.838632   22.777302       6.524365    3.264007
4 2021-06-27  31.124514  15.622209   23.063706       2.257110    3.141801
5 2021-06-28  38.480987  17.424603   23.076387       5.496904    3.262460
6 2021-06-29  37.165519  17.393608   23.056960       1.194592    3.180991

   RELATIVE HUMIDITY
0          47.190577
1          50.684720
2          53.215638
3          53.366580
4          53.436725
5          50.595361
6          47.446359