In [1]:
import pandas as pd
import datetime
#!pip install xlrd
#!pip install pandas
#!pip install openyxl

In [4]:
# 엑셀 경로 받아오는 함수(pm2.5)
def excelappend(yy, mm):
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/pm25/{}{}.xls'.format(yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)


def test111(): 
    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    PH25DF      = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(str(yy), str(mm).zfill(2))
                PH25DF = PH25DF.append(temp, ignore_index=True)
                print(f'{yy}{str(mm).zfill(2)} success')

In [5]:
test111()

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [26]:
# 엑셀 경로 받아오는 함수(pm2.5)
def excelappend(yy, mm, zz='pm25'):
    
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/{}/{}{}.xls'.format(zz, yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)
    print(filepath)
    return(excel_df)

In [24]:
def testMoudle():

    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    PH25DF      = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(str(yy), str(mm).zfill(2))
                PH25DF = PH25DF.append(temp, ignore_index=True)
                print(f'{yy}{str(mm).zfill(2)} success')

In [31]:
# 엑셀 경로 받아오는 함수(pm2.5)
def excelappend(yy, mm, aa='pm25'):
    
    # 엑셀경로
    filepath = f'C:/Users/minipojectweb/data/{aa}/{yy}{mm}.xls'
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)
    print(filepath)
    return(excel_df)

In [38]:
mmm = '04'
aaa = 'pm10'
excelappend(2020, str(mmm).zfill(2), aaa).head(1)

C:/Users/minipojectweb/data/pm10/202004.xls

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2020-04-30,34,31,41,31,37,35,39,40,39,39,35,35,30,40,31,36,39

In [45]:
def testMoudle(path='pm25'):
    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    PH25DF      = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(str(yy), str(mm).zfill(2), path)
                PH25DF = PH25DF.append(temp, ignore_index=True)
                PH25DF
                print(f'{yy}{str(mm).zfill(2)} success')

In [44]:
PH25DF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [46]:
# 엑셀 경로 받아오는 함수(pm10)
def excelappendph10(yy, mm):
    
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/pm10/{}{}.xls'.format(yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)

    return(excel_df)


# 데이터프레임 만드는 반복문 (pm10)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH10DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendph10(str(yy), str(mm).zfill(2))
            PH10DF = PH10DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')


# 경로에 저장  
PH10DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH10' # 저장경로
PH10DF.to_excel(save_PATH + '.xlsx', index=False)
PH10DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [47]:
PH10DF

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
426,2021-06-20,50,42,36,61,35,34,43,56,34,38,46,39,34,35,36,37.0,38
427,2021-06-19,42,39,31,44,28,28,33,47,26,38,37,33,27,28,31,25.0,29
428,2021-06-18,17,23,31,15,13,12,27,19,15,13,13,14,15,22,24,17.0,12
429,2021-06-17,17,15,20,18,17,13,12,19,15,14,15,17,14,19,15,19.0,13
430,2021-06-16,10,10,11,13,10,9,10,13,10,11,16,13,11,14,10,15.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,47,34,33,44,32,35,31,48,33,41,45,36,31,31,32,36.0,39
26,2020-04-04,68,48,57,60,69,68,47,77,59,77,82,73,61,59,50,68.0,74
27,2020-04-03,56,37,43,47,47,44,40,56,40,47,54,52,40,39,33,48.0,50
28,2020-04-02,39,30,38,36,41,38,29,40,31,37,43,42,39,33,31,56.0,42
29,2020-04-01,69,35,56,60,43,50,41,74,49,66,61,49,40,49,41,44.0,58

In [48]:
aa = {'서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON','울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK', '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}
PH10DF_I = PH10DF.rename(aa, axis='columns')

In [49]:
PH10DF_I

,날짜,SEOUL,PUSAN,DEAGU,INCHEON,KWANG_JU,DAEJEON,ULSAN,KYEONG_GI,KANGONE,CHUNG_BUK,CHUNG_NAM,JEON_BUK,JEON_NAM,KYUNG_BUK,KYUNG_NAM,JE_JU,SEJONG
426,2021-06-20,50,42,36,61,35,34,43,56,34,38,46,39,34,35,36,37.0,38
427,2021-06-19,42,39,31,44,28,28,33,47,26,38,37,33,27,28,31,25.0,29
428,2021-06-18,17,23,31,15,13,12,27,19,15,13,13,14,15,22,24,17.0,12
429,2021-06-17,17,15,20,18,17,13,12,19,15,14,15,17,14,19,15,19.0,13
430,2021-06-16,10,10,11,13,10,9,10,13,10,11,16,13,11,14,10,15.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,47,34,33,44,32,35,31,48,33,41,45,36,31,31,32,36.0,39
26,2020-04-04,68,48,57,60,69,68,47,77,59,77,82,73,61,59,50,68.0,74
27,2020-04-03,56,37,43,47,47,44,40,56,40,47,54,52,40,39,33,48.0,50
28,2020-04-02,39,30,38,36,41,38,29,40,31,37,43,42,39,33,31,56.0,42
29,2020-04-01,69,35,56,60,43,50,41,74,49,66,61,49,40,49,41,44.0,58

In [50]:
import pandas as pd
import datetime
RENAME_ALL = {
    '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
    '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
    '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}


# pm2.5-----------------------------------------------------------------------------
def excelappend(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/pm25/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH25DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappend(str(yy), str(mm).zfill(2))
            PH25DF = PH25DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
PH25DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH2_5' # 저장경로
PH25DF.to_excel(save_PATH + '.xlsx', index=False)
PH25DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
PH25DF_I = PH25DF.rename(RENAME_ALL, axis='columns')

# pm10-----------------------------------------------------------------------------
def excelappendph10(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/pm10/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH10DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendph10(str(yy), str(mm).zfill(2))
            PH10DF = PH10DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
PH10DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH10' # 저장경로
PH10DF.to_excel(save_PATH + '.xlsx', index=False)
PH10DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
PH10DF_I = PH10DF.rename(RENAME_ALL, axis='columns')

# o3오존-----------------------------------------------------------------------------
def excelappendpho3(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/o3/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
O3DF        = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendpho3(str(yy), str(mm).zfill(2))
            O3DF = O3DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
O3DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_O3' # 저장경로
O3DF.to_excel(save_PATH + '.xlsx', index=False)
O3DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
O3DF_I = O3DF.rename(RENAME_ALL, axis='columns')

# so2아황산가스-----------------------------------------------------------------------------
def excelappendso2(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/so2/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
SO2DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendso2(str(yy), str(mm).zfill(2))
            SO2DF = SO2DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
SO2DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_SO2' # 저장경로
SO2DF.to_excel(save_PATH + '.xlsx', index=False)
SO2DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
SO2DF_I = SO2DF.rename(RENAME_ALL, axis='columns')

#일산화탄소co---------------------
def excelappendCO(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/co/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
CODF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendCO(str(yy), str(mm).zfill(2))
            CODF = CODF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
CODF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_CO' # 저장경로
CODF.to_excel(save_PATH + '.xlsx', index=False)
CODF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
CODF_I = CODF.rename(RENAME_ALL, axis='columns')

#일산화질소NO2---------------------
def excelappendNO2(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/no2/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
NO2DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendNO2(str(yy), str(mm).zfill(2))
            NO2DF = NO2DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
NO2DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_NO2' # 저장경로
NO2DF.to_excel(save_PATH + '.xlsx', index=False)
NO2DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
NO2DF_I = NO2DF.rename(RENAME_ALL, axis='columns')

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [51]:
for city in PH10DF_I.columns[1:]:
    globals()[f'{city}_df2'] = PH10DF_I[ [ '날짜',city ] ].rename({ city:'PH10'}, axis='columns')
    globals()[f'{city}_df_FIN'] = pd.merge(left = globals()[f'{city}_df'], right = globals()[f'{city}_df2'], how = 'left', left_on ='날짜', right_on='날짜')
    print(city)
    print(globals()[f'{city}_df_FIN'])

KeyError: 'SEOUL_df'

In [78]:
for city in PH10DF_I.columns[1:]:
    globals()[f'{city}_df0'] = PH10DF_I[ [ '날짜',city ] ].rename({ city:'PH10'}, axis='columns')
    # print(city)
    # print(globals()[f'{city}_df0'])

for city in PH25DF_I.columns[1:]:
    globals()[f'{city}_df1'] = PH25DF_I[ [ '날짜',city ] ].rename({ city:'PH2.5'}, axis='columns')
    globals()[f'{city}_df1'] = pd.merge(left = globals()[f'{city}_df0'], right = globals()[f'{city}_df1'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df1'])

for city in O3DF_I.columns[1:]:
    globals()[f'{city}_df2'] = O3DF_I[ [ '날짜',city ] ].rename({ city:'O3'}, axis='columns')
    globals()[f'{city}_df2'] = pd.merge(left = globals()[f'{city}_df1'], right = globals()[f'{city}_df2'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df2'])

for city in NO2DF_I.columns[1:]:
    globals()[f'{city}_df3'] = NO2DF_I[ [ '날짜',city ] ].rename({ city:'NO2'}, axis='columns')
    globals()[f'{city}_df3'] = pd.merge(left = globals()[f'{city}_df2'], right = globals()[f'{city}_df3'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df3'])

for city in CODF_I.columns[1:]:
    globals()[f'{city}_df4'] = CODF_I[ [ '날짜',city ] ].rename({ city:'CO'}, axis='columns')
    globals()[f'{city}_df4'] = pd.merge(left = globals()[f'{city}_df3'], right = globals()[f'{city}_df4'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df4'])

for city in SO2DF_I.columns[1:]:
    globals()[f'{city}_df5'] = SO2DF_I[ [ '날짜',city ] ].rename({ city:'SO2'}, axis='columns')
    globals()[f'{city}_df5'] = pd.merge(left = globals()[f'{city}_df4'], right = globals()[f'{city}_df5'], how = 'left', left_on ='날짜', right_on='날짜')
    print(city)
    print(globals()[f'{city}_df5'])
    globals()[f'{city}_df5'].sort_values( by = '날짜', ascending=False, inplace=True)
    pppath    = f'{city}_df5'
    save_PATH = f'C:/Users/ad/Desktop/test/{pppath}'
    globals()[f'{city}_df5'].to_excel(save_PATH + '.xlsx', index=False)
    globals()[f'{city}_df5'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

SEOUL
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    50     28  0.059  0.014  0.5  0.004
1    2021-06-20    50     28  0.059  0.014  0.5  0.004
2    2021-06-20    50     28  0.059  0.014  0.5  0.004
3    2021-06-20    50     28  0.059  0.014  0.5  0.004
4    2021-06-20    50     28  0.059  0.014  0.5  0.004
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    47     22  0.038  0.015  0.4  0.003
457  2020-04-04    68     27  0.037  0.015  0.4  0.003
458  2020-04-03    56     32  0.032  0.028  0.5  0.003
459  2020-04-02    39     24  0.029  0.027  0.5  0.003
460  2020-04-01    69     30  0.041  0.020  0.5  0.004

[461 rows x 7 columns]
PUSAN
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    42     26  0.056  0.015  0.4  0.003
1    2021-06-20    42     26  0.056  0.015  0.4  0.003
2    2021-06-20    42     26  0.056  0.015  0.4  0.003
3    2021-06-20    42     26  0.056  0.015  0.4  0.003
4    2021-06-20    42     26  0.056  0.015  0.4  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    34     11  0.042  0.010  0.3  0.003
457  2020-04-04    48     23  0.047  0.014  0.4  0.004
458  2020-04-03    37     21  0.039  0.022  0.4  0.004
459  2020-04-02    30     16  0.040  0.015  0.3  0.003
460  2020-04-01    35     19  0.036  0.020  0.4  0.003

[461 rows x 7 columns]
DEAGU
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    36     20  0.056  0.009  0.4  0.002
1    2021-06-20    36     20  0.056  0.009  0.4  0.002
2    2021-06-20    36     20  0.056  0.009  0.4  0.002
3    2021-06-20    36     20  0.056  0.009  0.4  0.002
4    2021-06-20    36     20  0.056  0.009  0.4  0.002
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    33     12  0.038  0.009  0.4  0.003
457  2020-04-04    57     25  0.041  0.015  0.4  0.003
458  2020-04-03    43     24  0.038  0.019  0.5  0.003
459  2020-04-02    38     17  0.035  0.017  0.4  0.003
460  2020-04-01    56     30  0.038  0.020  0.5  0.003

[461 rows x 7 columns]
INCHEON
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    61     37  0.065  0.010  0.5  0.003
1    2021-06-20    61     37  0.065  0.010  0.5  0.003
2    2021-06-20    61     37  0.065  0.010  0.5  0.003
3    2021-06-20    61     37  0.065  0.010  0.5  0.003
4    2021-06-20    61     37  0.065  0.010  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    44     17  0.043  0.011  0.4  0.003
457  2020-04-04    60     19  0.043  0.012  0.5  0.003
458  2020-04-03    47     24  0.040  0.022  0.6  0.004
459  2020-04-02    36     21  0.034  0.023  0.5  0.004
460  2020-04-01    60     23  0.047  0.016  0.5  0.005

[461 rows x 7 columns]
KWANG_JU
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    35     23  0.051  0.007  0.4  0.003
1    2021-06-20    35     23  0.051  0.007  0.4  0.003
2    2021-06-20    35     23  0.051  0.007  0.4  0.003
3    2021-06-20    35     23  0.051  0.007  0.4  0.003
4    2021-06-20    35     23  0.051  0.007  0.4  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    32     11  0.041  0.009  0.3  0.003
457  2020-04-04    69     24  0.039  0.015  0.4  0.003
458  2020-04-03    47     28  0.042  0.019  0.5  0.004
459  2020-04-02    41     20  0.039  0.015  0.4  0.003
460  2020-04-01    43     21  0.042  0.013  0.4  0.003

[461 rows x 7 columns]
DAEJEON
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    34     18  0.057  0.007  0.5  0.003
1    2021-06-20    34     18  0.057  0.007  0.5  0.003
2    2021-06-20    34     18  0.057  0.007  0.5  0.003
3    2021-06-20    34     18  0.057  0.007  0.5  0.003
4    2021-06-20    34     18  0.057  0.007  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    35     14  0.034  0.012  0.3  0.002
457  2020-04-04    68     22  0.041  0.012  0.3  0.002
458  2020-04-03    44     25  0.035  0.020  0.4  0.003
459  2020-04-02    38     21  0.030  0.019  0.3  0.002
460  2020-04-01    50     23  0.034  0.019  0.4  0.003

[461 rows x 7 columns]
ULSAN
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    43     30  0.059  0.017  0.5  0.005
1    2021-06-20    43     30  0.059  0.017  0.5  0.005
2    2021-06-20    43     30  0.059  0.017  0.5  0.005
3    2021-06-20    43     30  0.059  0.017  0.5  0.005
4    2021-06-20    43     30  0.059  0.017  0.5  0.005
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    31      9  0.042  0.011  0.4  0.004
457  2020-04-04    47     22  0.044  0.016  0.4  0.004
458  2020-04-03    40     24  0.040  0.024  0.5  0.005
459  2020-04-02    29     17  0.040  0.017  0.4  0.004
460  2020-04-01    41     23  0.034  0.019  0.5  0.004

[461 rows x 7 columns]
KYEONG_GI
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    56     30  0.061  0.010  0.5  0.003
1    2021-06-20    56     30  0.061  0.010  0.5  0.003
2    2021-06-20    56     30  0.061  0.010  0.5  0.003
3    2021-06-20    56     30  0.061  0.010  0.5  0.003
4    2021-06-20    56     30  0.061  0.010  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    48     19  0.040  0.011  0.3  0.003
457  2020-04-04    77     27  0.039  0.014  0.4  0.003
458  2020-04-03    56     32  0.036  0.022  0.5  0.004
459  2020-04-02    40     24  0.033  0.021  0.4  0.003
460  2020-04-01    74     30  0.042  0.020  0.4  0.004

[461 rows x 7 columns]
KANGONE
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    34     17  0.054  0.006  0.4  0.002
1    2021-06-20    34     17  0.054  0.006  0.4  0.002
2    2021-06-20    34     17  0.054  0.006  0.4  0.002
3    2021-06-20    34     17  0.054  0.006  0.4  0.002
4    2021-06-20    34     17  0.054  0.006  0.4  0.002
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    33     15  0.038  0.009  0.4  0.003
457  2020-04-04    59     26  0.046  0.010  0.4  0.003
458  2020-04-03    40     23  0.046  0.011  0.4  0.003
459  2020-04-02    31     21  0.039  0.010  0.4  0.002
460  2020-04-01    49     30  0.039  0.013  0.5  0.003

[461 rows x 7 columns]
CHUNG_BUK
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    38     23  0.055  0.008  0.4  0.002
1    2021-06-20    38     23  0.055  0.008  0.4  0.002
2    2021-06-20    38     23  0.055  0.008  0.4  0.002
3    2021-06-20    38     23  0.055  0.008  0.4  0.002
4    2021-06-20    38     23  0.055  0.008  0.4  0.002
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    41     17  0.037  0.011  0.4  0.003
457  2020-04-04    77     29  0.041  0.014  0.4  0.003
458  2020-04-03    47     30  0.040  0.017  0.5  0.004
459  2020-04-02    37     22  0.037  0.015  0.4  0.003
460  2020-04-01    66     36  0.038  0.019  0.5  0.004

[461 rows x 7 columns]
CHUNG_NAM
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    46     25  0.068  0.006  0.5  0.004
1    2021-06-20    46     25  0.068  0.006  0.5  0.004
2    2021-06-20    46     25  0.068  0.006  0.5  0.004
3    2021-06-20    46     25  0.068  0.006  0.5  0.004
4    2021-06-20    46     25  0.068  0.006  0.5  0.004
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    45     18  0.041  0.009  0.4  0.003
457  2020-04-04    82     26  0.041  0.010  0.4  0.003
458  2020-04-03    54     32  0.038  0.015  0.5  0.004
459  2020-04-02    43     25  0.035  0.014  0.4  0.003
460  2020-04-01    61     26  0.039  0.014  0.4  0.004

[461 rows x 7 columns]
JEON_BUK
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    39     22  0.054  0.006  0.4  0.003
1    2021-06-20    39     22  0.054  0.006  0.4  0.003
2    2021-06-20    39     22  0.054  0.006  0.4  0.003
3    2021-06-20    39     22  0.054  0.006  0.4  0.003
4    2021-06-20    39     22  0.054  0.006  0.4  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    36     13  0.038  0.008  0.3  0.003
457  2020-04-04    73     24  0.041  0.010  0.4  0.003
458  2020-04-03    52     32  0.040  0.014  0.4  0.004
459  2020-04-02    42     22  0.036  0.013  0.4  0.003
460  2020-04-01    49     22  0.040  0.011  0.4  0.003

[461 rows x 7 columns]
JEON_NAM
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    34     22  0.048  0.008  0.5  0.003
1    2021-06-20    34     22  0.048  0.008  0.5  0.003
2    2021-06-20    34     22  0.048  0.008  0.5  0.003
3    2021-06-20    34     22  0.048  0.008  0.5  0.003
4    2021-06-20    34     22  0.048  0.008  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    31     10  0.040  0.007  0.4  0.003
457  2020-04-04    61     21  0.046  0.009  0.5  0.004
458  2020-04-03    40     22  0.045  0.011  0.5  0.004
459  2020-04-02    39     18  0.041  0.010  0.4  0.003
460  2020-04-01    40     19  0.045  0.009  0.4  0.003

[461 rows x 7 columns]
KYUNG_BUK
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    35     21  0.050  0.008  0.4  0.004
1    2021-06-20    35     21  0.050  0.008  0.4  0.004
2    2021-06-20    35     21  0.050  0.008  0.4  0.004
3    2021-06-20    35     21  0.050  0.008  0.4  0.004
4    2021-06-20    35     21  0.050  0.008  0.4  0.004
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    31     11  0.041  0.008  0.3  0.003
457  2020-04-04    59     23  0.049  0.010  0.4  0.004
458  2020-04-03    39     22  0.047  0.013  0.4  0.004
459  2020-04-02    33     17  0.041  0.012  0.4  0.004
460  2020-04-01    49     25  0.041  0.014  0.5  0.004

[461 rows x 7 columns]
KYUNG_NAM
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    36     22  0.058  0.010  0.5  0.003
1    2021-06-20    36     22  0.058  0.010  0.5  0.003
2    2021-06-20    36     22  0.058  0.010  0.5  0.003
3    2021-06-20    36     22  0.058  0.010  0.5  0.003
4    2021-06-20    36     22  0.058  0.010  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    32     10  0.044  0.009  0.3  0.003
457  2020-04-04    50     21  0.051  0.013  0.4  0.003
458  2020-04-03    33     19  0.043  0.017  0.4  0.003
459  2020-04-02    31     14  0.042  0.014  0.4  0.003
460  2020-04-01    41     22  0.043  0.016  0.4  0.003

[461 rows x 7 columns]
JE_JU
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
1    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
2    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
3    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
4    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05  36.0   12.0  0.048  0.006  0.3  0.001
457  2020-04-04  68.0   27.0  0.056  0.009  0.4  0.002
458  2020-04-03  48.0   26.0  0.053  0.010  0.4  0.002
459  2020-04-02  56.0   24.0  0.049  0.010  0.3  0.001
460  2020-04-01  44.0   21.0  0.053  0.007  0.3  0.001

[461 rows x 7 columns]
SEJONG
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    38     18  0.064  0.007  0.5  0.004
1    2021-06-20    38     18  0.064  0.007  0.5  0.004
2    2021-06-20    38     18  0.064  0.007  0.5  0.004
3    2021-06-20    38     18  0.064  0.007  0.5  0.004
4    2021-06-20    38     18  0.064  0.007  0.5  0.004
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    39     14  0.042  0.010  0.4  0.003
457  2020-04-04    74     25  0.043  0.013  0.4  0.003
458  2020-04-03    50     28  0.042  0.019  0.4  0.004
459  2020-04-02    42     20  0.035  0.019  0.3  0.002
460  2020-04-01    58     26  0.040  0.019  0.4  0.003

[461 rows x 7 columns]

In [ ]:
NO2DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_NO2' # 저장경로
NO2DF.to_excel(save_PATH + '.xlsx', index=False)
NO2DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
NO2DF_I = NO2DF.rename(RENAME_ALL, axis='columns')

In [77]:
for i in SO2DF_I.columns[1:] :
    print(i)

SEOUL
PUSAN
DEAGU
INCHEON
KWANG_JU
DAEJEON
ULSAN
KYEONG_GI
KANGONE
CHUNG_BUK
CHUNG_NAM
JEON_BUK
JEON_NAM
KYUNG_BUK
KYUNG_NAM
JE_JU
SEJONG