In [1]:
import pandas as pd
import datetime
#!pip install xlrd
#!pip install pandas
#!pip install openyxl

In [4]:
# 엑셀 경로 받아오는 함수(pm2.5)
def excelappend(yy, mm):
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/pm25/{}{}.xls'.format(yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)


def test111(): 
    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    PH25DF      = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(str(yy), str(mm).zfill(2))
                PH25DF = PH25DF.append(temp, ignore_index=True)
                print(f'{yy}{str(mm).zfill(2)} success')

In [5]:
test111()

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [26]:
# 엑셀 경로 받아오는 함수(pm2.5)
def excelappend(yy, mm, zz='pm25'):
    
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/{}/{}{}.xls'.format(zz, yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)
    print(filepath)
    return(excel_df)

In [24]:
def testMoudle():

    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    PH25DF      = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(str(yy), str(mm).zfill(2))
                PH25DF = PH25DF.append(temp, ignore_index=True)
                print(f'{yy}{str(mm).zfill(2)} success')

In [31]:
# 엑셀 경로 받아오는 함수(pm2.5)
def excelappend(yy, mm, aa='pm25'):
    
    # 엑셀경로
    filepath = f'C:/Users/minipojectweb/data/{aa}/{yy}{mm}.xls'
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)
    print(filepath)
    return(excel_df)

In [38]:
mmm = '04'
aaa = 'pm10'
excelappend(2020, str(mmm).zfill(2), aaa).head(1)

C:/Users/minipojectweb/data/pm10/202004.xls

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2020-04-30,34,31,41,31,37,35,39,40,39,39,35,35,30,40,31,36,39

In [45]:
def testMoudle(path='pm25'):
    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    PH25DF      = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(str(yy), str(mm).zfill(2), path)
                PH25DF = PH25DF.append(temp, ignore_index=True)
                PH25DF
                print(f'{yy}{str(mm).zfill(2)} success')

In [44]:
PH25DF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [46]:
# 엑셀 경로 받아오는 함수(pm10)
def excelappendph10(yy, mm):
    
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/pm10/{}{}.xls'.format(yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)

    return(excel_df)


# 데이터프레임 만드는 반복문 (pm10)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH10DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendph10(str(yy), str(mm).zfill(2))
            PH10DF = PH10DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')


# 경로에 저장  
PH10DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH10' # 저장경로
PH10DF.to_excel(save_PATH + '.xlsx', index=False)
PH10DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [47]:
PH10DF

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
426,2021-06-20,50,42,36,61,35,34,43,56,34,38,46,39,34,35,36,37.0,38
427,2021-06-19,42,39,31,44,28,28,33,47,26,38,37,33,27,28,31,25.0,29
428,2021-06-18,17,23,31,15,13,12,27,19,15,13,13,14,15,22,24,17.0,12
429,2021-06-17,17,15,20,18,17,13,12,19,15,14,15,17,14,19,15,19.0,13
430,2021-06-16,10,10,11,13,10,9,10,13,10,11,16,13,11,14,10,15.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,47,34,33,44,32,35,31,48,33,41,45,36,31,31,32,36.0,39
26,2020-04-04,68,48,57,60,69,68,47,77,59,77,82,73,61,59,50,68.0,74
27,2020-04-03,56,37,43,47,47,44,40,56,40,47,54,52,40,39,33,48.0,50
28,2020-04-02,39,30,38,36,41,38,29,40,31,37,43,42,39,33,31,56.0,42
29,2020-04-01,69,35,56,60,43,50,41,74,49,66,61,49,40,49,41,44.0,58

In [48]:
aa = {'서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON','울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK', '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}
PH10DF_I = PH10DF.rename(aa, axis='columns')

In [49]:
PH10DF_I

,날짜,SEOUL,PUSAN,DEAGU,INCHEON,KWANG_JU,DAEJEON,ULSAN,KYEONG_GI,KANGONE,CHUNG_BUK,CHUNG_NAM,JEON_BUK,JEON_NAM,KYUNG_BUK,KYUNG_NAM,JE_JU,SEJONG
426,2021-06-20,50,42,36,61,35,34,43,56,34,38,46,39,34,35,36,37.0,38
427,2021-06-19,42,39,31,44,28,28,33,47,26,38,37,33,27,28,31,25.0,29
428,2021-06-18,17,23,31,15,13,12,27,19,15,13,13,14,15,22,24,17.0,12
429,2021-06-17,17,15,20,18,17,13,12,19,15,14,15,17,14,19,15,19.0,13
430,2021-06-16,10,10,11,13,10,9,10,13,10,11,16,13,11,14,10,15.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,47,34,33,44,32,35,31,48,33,41,45,36,31,31,32,36.0,39
26,2020-04-04,68,48,57,60,69,68,47,77,59,77,82,73,61,59,50,68.0,74
27,2020-04-03,56,37,43,47,47,44,40,56,40,47,54,52,40,39,33,48.0,50
28,2020-04-02,39,30,38,36,41,38,29,40,31,37,43,42,39,33,31,56.0,42
29,2020-04-01,69,35,56,60,43,50,41,74,49,66,61,49,40,49,41,44.0,58

In [2]:
import pandas as pd
import datetime
RENAME_ALL = {
    '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
    '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
    '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}


# pm2.5-----------------------------------------------------------------------------
def excelappend(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/pm25/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH25DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappend(str(yy), str(mm).zfill(2))
            PH25DF = PH25DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
PH25DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH2_5' # 저장경로
PH25DF.to_excel(save_PATH + '.xlsx', index=False)
PH25DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
PH25DF_I = PH25DF.rename(RENAME_ALL, axis='columns')

# pm10-----------------------------------------------------------------------------
def excelappendph10(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/pm10/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH10DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendph10(str(yy), str(mm).zfill(2))
            PH10DF = PH10DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
PH10DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH10' # 저장경로
PH10DF.to_excel(save_PATH + '.xlsx', index=False)
PH10DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
PH10DF_I = PH10DF.rename(RENAME_ALL, axis='columns')

# o3오존-----------------------------------------------------------------------------
def excelappendpho3(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/o3/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
O3DF        = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendpho3(str(yy), str(mm).zfill(2))
            O3DF = O3DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
O3DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_O3' # 저장경로
O3DF.to_excel(save_PATH + '.xlsx', index=False)
O3DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
O3DF_I = O3DF.rename(RENAME_ALL, axis='columns')

# so2아황산가스-----------------------------------------------------------------------------
def excelappendso2(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/so2/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
SO2DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendso2(str(yy), str(mm).zfill(2))
            SO2DF = SO2DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
SO2DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_SO2' # 저장경로
SO2DF.to_excel(save_PATH + '.xlsx', index=False)
SO2DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
SO2DF_I = SO2DF.rename(RENAME_ALL, axis='columns')

#일산화탄소co---------------------
def excelappendCO(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/co/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
CODF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendCO(str(yy), str(mm).zfill(2))
            CODF = CODF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
CODF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_CO' # 저장경로
CODF.to_excel(save_PATH + '.xlsx', index=False)
CODF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
CODF_I = CODF.rename(RENAME_ALL, axis='columns')

#일산화질소NO2---------------------
def excelappendNO2(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/no2/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
NO2DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendNO2(str(yy), str(mm).zfill(2))
            NO2DF = NO2DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
NO2DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_NO2' # 저장경로
NO2DF.to_excel(save_PATH + '.xlsx', index=False)
NO2DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
NO2DF_I = NO2DF.rename(RENAME_ALL, axis='columns')

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [5]:
NO2DF

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
427,2021-06-20,0.014,0.015,0.009,0.010,0.007,0.007,0.017,0.010,0.006,0.008,0.006,0.006,0.008,0.008,0.010,0.008,0.007
426,2021-06-20,0.014,0.015,0.009,0.010,0.007,0.007,0.017,0.010,0.006,0.008,0.006,0.006,0.008,0.008,0.010,0.008,0.007
428,2021-06-19,0.016,0.013,0.009,0.012,0.007,0.009,0.014,0.012,0.006,0.009,0.007,0.006,0.006,0.007,0.009,0.006,0.008
429,2021-06-18,0.015,0.018,0.013,0.011,0.008,0.009,0.022,0.011,0.007,0.008,0.006,0.007,0.006,0.009,0.013,0.008,0.008
430,2021-06-17,0.016,0.011,0.008,0.016,0.011,0.009,0.012,0.012,0.006,0.010,0.008,0.008,0.007,0.007,0.009,0.005,0.009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,0.015,0.010,0.009,0.011,0.009,0.012,0.011,0.011,0.009,0.011,0.009,0.008,0.007,0.008,0.009,0.006,0.010
26,2020-04-04,0.015,0.014,0.015,0.012,0.015,0.012,0.016,0.014,0.010,0.014,0.010,0.010,0.009,0.010,0.013,0.009,0.013
27,2020-04-03,0.028,0.022,0.019,0.022,0.019,0.020,0.024,0.022,0.011,0.017,0.015,0.014,0.011,0.013,0.017,0.010,0.019
28,2020-04-02,0.027,0.015,0.017,0.023,0.015,0.019,0.017,0.021,0.010,0.015,0.014,0.013,0.010,0.012,0.014,0.010,0.019
29,2020-04-01,0.020,0.020,0.020,0.016,0.013,0.019,0.019,0.020,0.013,0.019,0.014,0.011,0.009,0.014,0.016,0.007,0.019

In [78]:
for city in PH10DF_I.columns[1:]:
    globals()[f'{city}_df0'] = PH10DF_I[ [ '날짜',city ] ].rename({ city:'PH10'}, axis='columns')
    # print(city)
    # print(globals()[f'{city}_df0'])

for city in PH25DF_I.columns[1:]:
    globals()[f'{city}_df1'] = PH25DF_I[ [ '날짜',city ] ].rename({ city:'PH2.5'}, axis='columns')
    globals()[f'{city}_df1'] = pd.merge(left = globals()[f'{city}_df0'], right = globals()[f'{city}_df1'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df1'])

for city in O3DF_I.columns[1:]:
    globals()[f'{city}_df2'] = O3DF_I[ [ '날짜',city ] ].rename({ city:'O3'}, axis='columns')
    globals()[f'{city}_df2'] = pd.merge(left = globals()[f'{city}_df1'], right = globals()[f'{city}_df2'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df2'])

for city in NO2DF_I.columns[1:]:
    globals()[f'{city}_df3'] = NO2DF_I[ [ '날짜',city ] ].rename({ city:'NO2'}, axis='columns')
    globals()[f'{city}_df3'] = pd.merge(left = globals()[f'{city}_df2'], right = globals()[f'{city}_df3'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df3'])

for city in CODF_I.columns[1:]:
    globals()[f'{city}_df4'] = CODF_I[ [ '날짜',city ] ].rename({ city:'CO'}, axis='columns')
    globals()[f'{city}_df4'] = pd.merge(left = globals()[f'{city}_df3'], right = globals()[f'{city}_df4'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df4'])

for city in SO2DF_I.columns[1:]:
    globals()[f'{city}_df5'] = SO2DF_I[ [ '날짜',city ] ].rename({ city:'SO2'}, axis='columns')
    globals()[f'{city}_df5'] = pd.merge(left = globals()[f'{city}_df4'], right = globals()[f'{city}_df5'], how = 'left', left_on ='날짜', right_on='날짜')
    print(city)
    print(globals()[f'{city}_df5'])
    globals()[f'{city}_df5'].sort_values( by = '날짜', ascending=False, inplace=True)
    pppath    = f'{city}_df5'
    save_PATH = f'C:/Users/ad/Desktop/test/{pppath}'
    globals()[f'{city}_df5'].to_excel(save_PATH + '.xlsx', index=False)
    globals()[f'{city}_df5'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

SEOUL
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    50     28  0.059  0.014  0.5  0.004
1    2021-06-20    50     28  0.059  0.014  0.5  0.004
2    2021-06-20    50     28  0.059  0.014  0.5  0.004
3    2021-06-20    50     28  0.059  0.014  0.5  0.004
4    2021-06-20    50     28  0.059  0.014  0.5  0.004
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    47     22  0.038  0.015  0.4  0.003
457  2020-04-04    68     27  0.037  0.015  0.4  0.003
458  2020-04-03    56     32  0.032  0.028  0.5  0.003
459  2020-04-02    39     24  0.029  0.027  0.5  0.003
460  2020-04-01    69     30  0.041  0.020  0.5  0.004

[461 rows x 7 columns]
PUSAN
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    42     26  0.056  0.015  0.4  0.003
1    2021-06-20    42     26  0.056  0.015  0.4  0.003
2    2021-06-20    42     26  0.056  0.015  0.4  0.003
3    2021-06-20    42     26  0.056  0.015  0.4  0.003
4    2021-06-20    42     26  0.056  0.015  0.4  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    34     11  0.042  0.010  0.3  0.003
457  2020-04-04    48     23  0.047  0.014  0.4  0.004
458  2020-04-03    37     21  0.039  0.022  0.4  0.004
459  2020-04-02    30     16  0.040  0.015  0.3  0.003
460  2020-04-01    35     19  0.036  0.020  0.4  0.003

[461 rows x 7 columns]
DEAGU
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    36     20  0.056  0.009  0.4  0.002
1    2021-06-20    36     20  0.056  0.009  0.4  0.002
2    2021-06-20    36     20  0.056  0.009  0.4  0.002
3    2021-06-20    36     20  0.056  0.009  0.4  0.002
4    2021-06-20    36     20  0.056  0.009  0.4  0.002
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    33     12  0.038  0.009  0.4  0.003
457  2020-04-04    57     25  0.041  0.015  0.4  0.003
458  2020-04-03    43     24  0.038  0.019  0.5  0.003
459  2020-04-02    38     17  0.035  0.017  0.4  0.003
460  2020-04-01    56     30  0.038  0.020  0.5  0.003

[461 rows x 7 columns]
INCHEON
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    61     37  0.065  0.010  0.5  0.003
1    2021-06-20    61     37  0.065  0.010  0.5  0.003
2    2021-06-20    61     37  0.065  0.010  0.5  0.003
3    2021-06-20    61     37  0.065  0.010  0.5  0.003
4    2021-06-20    61     37  0.065  0.010  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    44     17  0.043  0.011  0.4  0.003
457  2020-04-04    60     19  0.043  0.012  0.5  0.003
458  2020-04-03    47     24  0.040  0.022  0.6  0.004
459  2020-04-02    36     21  0.034  0.023  0.5  0.004
460  2020-04-01    60     23  0.047  0.016  0.5  0.005

[461 rows x 7 columns]
KWANG_JU
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    35     23  0.051  0.007  0.4  0.003
1    2021-06-20    35     23  0.051  0.007  0.4  0.003
2    2021-06-20    35     23  0.051  0.007  0.4  0.003
3    2021-06-20    35     23  0.051  0.007  0.4  0.003
4    2021-06-20    35     23  0.051  0.007  0.4  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    32     11  0.041  0.009  0.3  0.003
457  2020-04-04    69     24  0.039  0.015  0.4  0.003
458  2020-04-03    47     28  0.042  0.019  0.5  0.004
459  2020-04-02    41     20  0.039  0.015  0.4  0.003
460  2020-04-01    43     21  0.042  0.013  0.4  0.003

[461 rows x 7 columns]
DAEJEON
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    34     18  0.057  0.007  0.5  0.003
1    2021-06-20    34     18  0.057  0.007  0.5  0.003
2    2021-06-20    34     18  0.057  0.007  0.5  0.003
3    2021-06-20    34     18  0.057  0.007  0.5  0.003
4    2021-06-20    34     18  0.057  0.007  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    35     14  0.034  0.012  0.3  0.002
457  2020-04-04    68     22  0.041  0.012  0.3  0.002
458  2020-04-03    44     25  0.035  0.020  0.4  0.003
459  2020-04-02    38     21  0.030  0.019  0.3  0.002
460  2020-04-01    50     23  0.034  0.019  0.4  0.003

[461 rows x 7 columns]
ULSAN
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    43     30  0.059  0.017  0.5  0.005
1    2021-06-20    43     30  0.059  0.017  0.5  0.005
2    2021-06-20    43     30  0.059  0.017  0.5  0.005
3    2021-06-20    43     30  0.059  0.017  0.5  0.005
4    2021-06-20    43     30  0.059  0.017  0.5  0.005
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    31      9  0.042  0.011  0.4  0.004
457  2020-04-04    47     22  0.044  0.016  0.4  0.004
458  2020-04-03    40     24  0.040  0.024  0.5  0.005
459  2020-04-02    29     17  0.040  0.017  0.4  0.004
460  2020-04-01    41     23  0.034  0.019  0.5  0.004

[461 rows x 7 columns]
KYEONG_GI
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    56     30  0.061  0.010  0.5  0.003
1    2021-06-20    56     30  0.061  0.010  0.5  0.003
2    2021-06-20    56     30  0.061  0.010  0.5  0.003
3    2021-06-20    56     30  0.061  0.010  0.5  0.003
4    2021-06-20    56     30  0.061  0.010  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    48     19  0.040  0.011  0.3  0.003
457  2020-04-04    77     27  0.039  0.014  0.4  0.003
458  2020-04-03    56     32  0.036  0.022  0.5  0.004
459  2020-04-02    40     24  0.033  0.021  0.4  0.003
460  2020-04-01    74     30  0.042  0.020  0.4  0.004

[461 rows x 7 columns]
KANGONE
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    34     17  0.054  0.006  0.4  0.002
1    2021-06-20    34     17  0.054  0.006  0.4  0.002
2    2021-06-20    34     17  0.054  0.006  0.4  0.002
3    2021-06-20    34     17  0.054  0.006  0.4  0.002
4    2021-06-20    34     17  0.054  0.006  0.4  0.002
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    33     15  0.038  0.009  0.4  0.003
457  2020-04-04    59     26  0.046  0.010  0.4  0.003
458  2020-04-03    40     23  0.046  0.011  0.4  0.003
459  2020-04-02    31     21  0.039  0.010  0.4  0.002
460  2020-04-01    49     30  0.039  0.013  0.5  0.003

[461 rows x 7 columns]
CHUNG_BUK
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    38     23  0.055  0.008  0.4  0.002
1    2021-06-20    38     23  0.055  0.008  0.4  0.002
2    2021-06-20    38     23  0.055  0.008  0.4  0.002
3    2021-06-20    38     23  0.055  0.008  0.4  0.002
4    2021-06-20    38     23  0.055  0.008  0.4  0.002
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    41     17  0.037  0.011  0.4  0.003
457  2020-04-04    77     29  0.041  0.014  0.4  0.003
458  2020-04-03    47     30  0.040  0.017  0.5  0.004
459  2020-04-02    37     22  0.037  0.015  0.4  0.003
460  2020-04-01    66     36  0.038  0.019  0.5  0.004

[461 rows x 7 columns]
CHUNG_NAM
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    46     25  0.068  0.006  0.5  0.004
1    2021-06-20    46     25  0.068  0.006  0.5  0.004
2    2021-06-20    46     25  0.068  0.006  0.5  0.004
3    2021-06-20    46     25  0.068  0.006  0.5  0.004
4    2021-06-20    46     25  0.068  0.006  0.5  0.004
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    45     18  0.041  0.009  0.4  0.003
457  2020-04-04    82     26  0.041  0.010  0.4  0.003
458  2020-04-03    54     32  0.038  0.015  0.5  0.004
459  2020-04-02    43     25  0.035  0.014  0.4  0.003
460  2020-04-01    61     26  0.039  0.014  0.4  0.004

[461 rows x 7 columns]
JEON_BUK
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    39     22  0.054  0.006  0.4  0.003
1    2021-06-20    39     22  0.054  0.006  0.4  0.003
2    2021-06-20    39     22  0.054  0.006  0.4  0.003
3    2021-06-20    39     22  0.054  0.006  0.4  0.003
4    2021-06-20    39     22  0.054  0.006  0.4  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    36     13  0.038  0.008  0.3  0.003
457  2020-04-04    73     24  0.041  0.010  0.4  0.003
458  2020-04-03    52     32  0.040  0.014  0.4  0.004
459  2020-04-02    42     22  0.036  0.013  0.4  0.003
460  2020-04-01    49     22  0.040  0.011  0.4  0.003

[461 rows x 7 columns]
JEON_NAM
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    34     22  0.048  0.008  0.5  0.003
1    2021-06-20    34     22  0.048  0.008  0.5  0.003
2    2021-06-20    34     22  0.048  0.008  0.5  0.003
3    2021-06-20    34     22  0.048  0.008  0.5  0.003
4    2021-06-20    34     22  0.048  0.008  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    31     10  0.040  0.007  0.4  0.003
457  2020-04-04    61     21  0.046  0.009  0.5  0.004
458  2020-04-03    40     22  0.045  0.011  0.5  0.004
459  2020-04-02    39     18  0.041  0.010  0.4  0.003
460  2020-04-01    40     19  0.045  0.009  0.4  0.003

[461 rows x 7 columns]
KYUNG_BUK
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    35     21  0.050  0.008  0.4  0.004
1    2021-06-20    35     21  0.050  0.008  0.4  0.004
2    2021-06-20    35     21  0.050  0.008  0.4  0.004
3    2021-06-20    35     21  0.050  0.008  0.4  0.004
4    2021-06-20    35     21  0.050  0.008  0.4  0.004
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    31     11  0.041  0.008  0.3  0.003
457  2020-04-04    59     23  0.049  0.010  0.4  0.004
458  2020-04-03    39     22  0.047  0.013  0.4  0.004
459  2020-04-02    33     17  0.041  0.012  0.4  0.004
460  2020-04-01    49     25  0.041  0.014  0.5  0.004

[461 rows x 7 columns]
KYUNG_NAM
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    36     22  0.058  0.010  0.5  0.003
1    2021-06-20    36     22  0.058  0.010  0.5  0.003
2    2021-06-20    36     22  0.058  0.010  0.5  0.003
3    2021-06-20    36     22  0.058  0.010  0.5  0.003
4    2021-06-20    36     22  0.058  0.010  0.5  0.003
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    32     10  0.044  0.009  0.3  0.003
457  2020-04-04    50     21  0.051  0.013  0.4  0.003
458  2020-04-03    33     19  0.043  0.017  0.4  0.003
459  2020-04-02    31     14  0.042  0.014  0.4  0.003
460  2020-04-01    41     22  0.043  0.016  0.4  0.003

[461 rows x 7 columns]
JE_JU
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
1    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
2    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
3    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
4    2021-06-20  37.0   23.0  0.057  0.008  0.3  0.002
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05  36.0   12.0  0.048  0.006  0.3  0.001
457  2020-04-04  68.0   27.0  0.056  0.009  0.4  0.002
458  2020-04-03  48.0   26.0  0.053  0.010  0.4  0.002
459  2020-04-02  56.0   24.0  0.049  0.010  0.3  0.001
460  2020-04-01  44.0   21.0  0.053  0.007  0.3  0.001

[461 rows x 7 columns]
SEJONG
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    38     18  0.064  0.007  0.5  0.004
1    2021-06-20    38     18  0.064  0.007  0.5  0.004
2    2021-06-20    38     18  0.064  0.007  0.5  0.004
3    2021-06-20    38     18  0.064  0.007  0.5  0.004
4    2021-06-20    38     18  0.064  0.007  0.5  0.004
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    39     14  0.042  0.010  0.4  0.003
457  2020-04-04    74     25  0.043  0.013  0.4  0.003
458  2020-04-03    50     28  0.042  0.019  0.4  0.004
459  2020-04-02    42     20  0.035  0.019  0.3  0.002
460  2020-04-01    58     26  0.040  0.019  0.4  0.003

[461 rows x 7 columns]

In [ ]:
NO2DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_NO2' # 저장경로
NO2DF.to_excel(save_PATH + '.xlsx', index=False)
NO2DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
NO2DF_I = NO2DF.rename(RENAME_ALL, axis='columns')

In [77]:
for i in SO2DF_I.columns[1:] :
    print(i)

SEOUL
PUSAN
DEAGU
INCHEON
KWANG_JU
DAEJEON
ULSAN
KYEONG_GI
KANGONE
CHUNG_BUK
CHUNG_NAM
JEON_BUK
JEON_NAM
KYUNG_BUK
KYUNG_NAM
JE_JU
SEJONG

In [13]:
def excelappendNO2(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/no2/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
NO2DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendNO2(str(yy), str(mm).zfill(2))
            NO2DF = NO2DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
A = NO2DF.sort_values( by = '날짜', ascending=False)
NO2DF[400:]

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
400,2021-05-26,0.017,0.019,0.017,0.015,0.008,0.018,0.022,0.015,0.007,0.014,0.010,0.009,0.008,0.011,0.014,0.011,0.019
401,2021-05-25,0.016,0.016,0.015,0.012,0.009,0.012,0.019,0.013,0.007,0.011,0.008,0.008,0.007,0.011,0.012,0.008,0.011
402,2021-05-24,0.017,0.020,0.013,0.014,0.009,0.014,0.026,0.014,0.007,0.012,0.010,0.009,0.006,0.011,0.013,0.007,0.013
403,2021-05-23,0.016,0.016,0.009,0.015,0.007,0.012,0.015,0.012,0.006,0.010,0.009,0.008,0.008,0.007,0.010,0.008,0.012
404,2021-05-22,0.019,0.013,0.008,0.015,0.008,0.010,0.017,0.013,0.006,0.010,0.009,0.007,0.006,0.007,0.010,0.007,0.010
405,2021-05-21,0.017,0.010,0.009,0.011,0.007,0.009,0.014,0.014,0.005,0.010,0.009,0.006,0.005,0.008,0.008,0.006,0.010
406,2021-05-20,0.023,0.019,0.015,0.022,0.011,0.017,0.021,0.019,0.009,0.014,0.014,0.010,0.009,0.011,0.015,0.006,0.018
407,2021-05-19,0.026,0.018,0.014,0.024,0.009,0.015,0.020,0.020,0.008,0.012,0.011,0.009,0.009,0.009,0.012,0.009,0.014
408,2021-05-18,0.025,0.019,0.015,0.020,0.009,0.013,0.018,0.018,0.007,0.011,0.010,0.008,0.007,0.010,0.014,0.008,0.013
409,2021-05-17,0.018,0.016,0.012,0.015,0.007,0.009,0.015,0.015,0.006,0.012,0.009,0.007,0.006,0.009,0.013,0.007,0.010
410,2021-05-16,0.011,0.009,0.010,0.012,0.004,0.008,0.012,0.009,0.004,0.008,0.007,0.007,0.006,0.007,0.008,0.005,0.007
411,2021-05-15,0.022,0.016,0.021,0.021,0.007,0.011,0.025,0.016,0.007,0.011,0.010,0.008,0.008,0.012,0.015,0.007,0.011
412,2021-05-14,0.031,0.018,0.017,0.028,0.011,0.020,0.028,0.022,0.008,0.014,0.014,0.012,0.010,0.012,0.016,0.007,0.016
413,2021-05-13,0.030,0.016,0.014,0.031,0.012,0.020,0.022,0.024,0.008,0.013,0.015,0.011,0.009,0.011,0.013,0.007,0.017
414,2021-05-12,0.019,0.011,0.009,0.021,0.009,0.010,0.013,0.016,0.007,0.011,0.010,0.009,0.007,0.008,0.010,0.005,0.013
415,2021-05-11,0.019,0.012,0.013,0.022,0.010,0.010,0.016,0.014,0.007,0.011,0.008,0.009,0.009,0.009,0.014,0.006,0.009
416,2021-05-10,0.029,0.017,0.019,0.029,0.010,0.017,0.020,0.022,0.010,0.014,0.013,0.011,0.009,0.011,0.013,0.011,0.016
417,2021-05-09,0.012,0.010,0.005,0.010,0.007,0.008,0.011,0.010,0.004,0.008,0.008,0.007,0.006,0.006,0.008,0.009,0.008
418,2021-05-08,0.014,0.012,0.011,0.012,0.008,0.008,0.014,0.011,0.006,0.008,0.007,0.007,0.006,0.007,0.010,0.009,0.010
419,2021-05-07,0.020,0.016,0.017,0.013,0.011,0.016,0.018,0.015,0.008,0.012,0.008,0.008,0.008,0.010,0.012,0.008,0.013
420,2021-05-06,0.024,0.021,0.016,0.020,0.014,0.016,0.024,0.019,0.008,0.013,0.011,0.010,0.011,0.011,0.015,0.010,0.015
421,2021-05-05,0.013,0.008,0.005,0.011,0.007,0.007,0.010,0.010,0.005,0.008,0.007,0.007,0.005,0.005,0.006,0.007,0.008
422,2021-05-04,0.034,0.013,0.013,0.031,0.006,0.017,0.015,0.026,0.011,0.015,0.011,0.008,0.008,0.010,0.011,0.007,0.015
423,2021-05-03,0.023,0.015,0.013,0.019,0.010,0.012,0.017,0.018,0.008,0.012,0.011,0.009,0.008,0.009,0.012,0.009,0.012
424,2021-05-02,0.011,0.009,0.006,0.008,0.007,0.007,0.011,0.008,0.004,0.008,0.007,0.007,0.005,0.006,0.008,0.007,0.009
425,2021-05-01,0.012,0.008,0.006,0.009,0.006,0.009,0.011,0.010,0.006,0.009,0.008,0.007,0.005,0.006,0.007,0.006,0.009
426,2021-06-20,0.014,0.015,0.009,0.010,0.007,0.007,0.017,0.010,0.006,0.008,0.006,0.006,0.008,0.008,0.010,0.008,0.007
427,2021-06-20,0.014,0.015,0.009,0.010,0.007,0.007,0.017,0.010,0.006,0.008,0.006,0.006,0.008,0.008,0.010,0.008,0.007
428,2021-06-19,0.016,0.013,0.009,0.012,0.007,0.009,0.014,0.012,0.006,0.009,0.007,0.006,0.006,0.007,0.009,0.006,0.008
429,2021-06-18,0.015,0.018,0.013,0.011,0.008,0.009,0.022,0.011,0.007,0.008,0.006,0.007,0.006,0.009,0.013,0.008,0.008
430,2021-06-17,0.016,0.011,0.008,0.016,0.011,0.009,0.012,0.012,0.006,0.010,0.008,0.008,0.007,0.007,0.009,0.005,0.009
431,2021-06-16,0.010,0.007,0.006,0.010,0.007,0.007,0.010,0.008,0.004,0.008,0.008,0.007,0.005,0.006,0.007,0.005,0.008
432,2021-06-15,0.019,0.009,0.008,0.023,0.010,0.010,0.012,0.015,0.006,0.008,0.010,0.010,0.007,0.007,0.011,0.008,0.009
433,2021-06-14,0.029,0.010,0.009,0.022,0.008,0.011,0.012,0.017,0.006,0.011,0.011,0.009,0.008,0.007,0.010,0.006,0.010
434,2021-06-13,0.019,0.011,0.007,0.013,0.005,0.008,0.012,0.012,0.005,0.009,0.008,0.007,0.006,0.007,0.009,0.006,0.009
435,2021-06-12,0.015,0.013,0.009,0.012,0.008,0.011,0.015,0.013,0.006,0.010,0.010,0.008,0.007,0.008,0.011,0.007,0.012
436,2021-06-11,0.015,0.014,0.011,0.011,0.008,0.010,0.017,0.011,0.006,0.008,0.007,0.007,0.008,0.008,0.010,0.007,0.009
437,2021-06-10,0.028,0.020,0.012,0.026,0.009,0.014,0.023,0.021,0.008,0.011,0.010,0.009,0.008,0.011,0.015,0.006,0.013
438,2021-06-09,0.028,0.017,0.013,0.027,0.010,0.018,0.022,0.022,0.007,0.014,0.013,0.011,0.009,0.011,0.015,0.007,0.017
439,2021-06-08,0.029,0.019,0.015,0.026,0.011,0.022,0.023,0.022,0.008,0.015,0.011,0.011,0.008,0.012,0.015,0.008,0.018
440,2021-06-07,0.028,0.019,0.014,0.023,0.013,0.017,0.029,0.022,0.009,0.013,0.011,0.010,0.008,0.010,0.013,0.009,0.016
441,2021-06-06,0.011,0.010,0.007,0.009,0.006,0.008,0.015,0.009,0.007,0.008,0.006,0.007,0.006,0.007,0.009,0.008,0.008
442,2021-06-05,0.014,0.013,0.011,0.012,0.008,0.009,0.017,0.011,0.007,0.010,0.007,0.008,0.007,0.008,0.011,0.007,0.009
443,2021-06-04,0.016,0.013,0.009,0.013,0.008,0.010,0.016,0.012,0.007,0.009,0.007,0.007,0.005,0.007,0.010,0.006,0.010
444,2021-06-03,0.022,0.023,0.016,0.022,0.011,0.017,0.025,0.018,0.009,0.013,0.011,0.009,0.009,0.013,0.017,0.006,0.016
445,2021-06-02,0.022,0.028,0.017,0.020,0.010,0.016,0.030,0.018,0.008,0.012,0.011,0.009,0.011,0.014,0.019,0.007,0.015
446,2021-06-01,0.024,0.019,0.012,0.023,0.012,0.015,0.022,0.019,0.009,0.011,0.010,0.010,0.010,0.010,0.017,0.010,0.015

In [ ]:
NO2DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_NO2' # 저장경로
NO2DF.to_excel(save_PATH + '.xlsx', index=False)
NO2DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
NO2DF_I = NO2DF.rename(RENAME_ALL, axis='columns')

In [17]:
def excelappend(aa, yy, mm):
    filepath = f'C:/Users/minipojectweb/data/{aa}/{yy}{mm}.xls'
    excel_df = pd.read_excel(filepath, header=3)
    print (filepath)
    return(excel_df)

In [18]:
excelappend('pm25', 2020, 11)

C:/Users/minipojectweb/data/pm25/202011.xls

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2020-11-30,17,12,13,15,14,15,10,17,15,19,17,14,11,14,11,12,15
1,2020-11-29,14,10,9,12,11,11,9,15,14,16,15,12,9,12,9,9,13
2,2020-11-28,13,13,12,11,8,11,12,12,14,14,11,11,7,14,10,8,10
3,2020-11-27,27,23,25,21,25,23,20,26,22,32,25,29,17,24,21,19,30
4,2020-11-26,38,29,32,32,33,29,26,39,23,40,41,36,24,28,27,24,39
5,2020-11-25,24,19,21,21,19,19,17,26,19,27,25,21,13,20,17,9,23
6,2020-11-24,15,17,19,12,11,14,14,17,17,21,17,13,10,17,15,7,16
7,2020-11-23,15,13,14,12,11,13,11,14,15,16,13,11,9,14,11,11,12
8,2020-11-22,18,11,15,15,13,13,10,17,11,14,16,18,10,13,12,9,12
9,2020-11-21,18,12,17,17,12,15,13,18,13,18,24,18,10,17,13,10,15
10,2020-11-20,13,12,10,11,10,11,11,12,11,13,12,10,9,11,10,12,9
11,2020-11-19,9,9,6,8,8,7,9,9,9,9,8,8,7,9,7,10,7
12,2020-11-18,27,24,40,20,16,23,28,25,32,27,19,17,16,31,24,10,21
13,2020-11-17,41,29,57,37,34,35,34,46,42,45,48,45,29,44,35,11,50
14,2020-11-16,46,27,44,37,31,48,32,53,48,63,58,50,27,42,28,17,69
15,2020-11-15,52,10,26,47,27,30,12,55,28,34,52,43,20,22,16,11,46
16,2020-11-14,46,19,33,39,39,32,20,48,26,39,45,45,26,29,25,22,43
17,2020-11-13,49,23,37,46,35,34,24,56,31,44,48,41,24,32,24,15,51
18,2020-11-12,39,15,32,34,23,25,15,43,21,31,43,29,17,23,18,12,40
19,2020-11-11,21,17,26,19,17,18,18,25,15,22,24,19,14,19,17,13,24
20,2020-11-10,11,16,16,11,15,14,15,14,12,15,16,13,10,15,13,10,15
21,2020-11-09,8,8,10,7,11,10,7,9,8,10,11,10,8,10,8,8,9
22,2020-11-08,15,19,20,10,28,18,18,16,19,23,18,25,18,21,17,19,21
23,2020-11-07,40,24,33,30,38,27,23,41,31,36,38,36,27,30,24,21,30
24,2020-11-06,26,21,38,24,27,28,26,32,20,34,36,27,21,29,22,15,45
25,2020-11-05,17,17,23,14,18,20,17,19,16,24,22,18,14,19,15,10,26
26,2020-11-04,10,10,12,9,11,12,9,11,10,13,13,11,8,11,9,9,12
27,2020-11-03,8,11,10,6,11,9,10,7,7,10,9,9,8,11,9,13,8
28,2020-11-02,17,18,20,12,17,11,16,14,15,16,13,13,14,18,16,22,9
29,2020-11-01,27,11,22,21,16,14,14,23,20,21,17,14,13,21,16,9,17

In [52]:
def test(aa):
    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    global PH25DF
    PH25DF      = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(aa, str(yy), str(mm).zfill(2))
                PH25DF = PH25DF.append(temp, ignore_index=True)
                print(f'{aa} {yy}{str(mm).zfill(2)} success')

    PH25DF.sort_values( by = '날짜', ascending=False, inplace=True)
    save_PATH = f'C:/Users/ad/Desktop/test/KOR_{aa}' # 저장경로
    PH25DF.to_excel(save_PATH + '.xlsx', index=False)
    PH25DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
    global PH25DF_I
    PH25DF_I = PH25DF.rename(RENAME_ALL, axis='columns')

In [53]:
test('pm25')

202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm25/202004.xls
pm25 202004 success
C:/Users/minipojectweb/data/pm25/202005.xls
pm25 202005 success
C:/Users/minipojectweb/data/pm25/202006.xls
pm25 202006 success
C:/Users/minipojectweb/data/pm25/202007.xls
pm25 202007 success
C:/Users/minipojectweb/data/pm25/202008.xls
pm25 202008 success
C:/Users/minipojectweb/data/pm25/202009.xls
pm25 202009 success
C:/Users/minipojectweb/data/pm25/202010.xls
pm25 202010 success
C:/Users/minipojectweb/data/pm25/202011.xls
pm25 202011 success
C:/Users/minipojectweb/data/pm25/202012.xls
pm25 202012 success
C:/Users/minipojectweb/data/pm25/202101.xls
pm25 202101 success
C:/Users/minipojectweb/data/pm25/202102.xls
pm25 202102 success
C:/Users/minipojectweb/data/pm25/202103.xls
pm25 202103 success
C:/Users/minipojectweb/data/pm25/202104.xls
pm25 202104 success
C:/Users/minipojectweb/data/pm25/202105.xls
pm25 202105 success
C:/Users/minipojectweb/data/pm25/202106.xls
pm25 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [50]:
PH25DF = pd.DataFrame()
PH25DF_I = pd.DataFrame()

In [54]:
PH25DF

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
426,2021-06-21,34,28,22,36,25,39,29,42,34,45,42,42,23,23,21,14.0,32
427,2021-06-20,31,26,20,40,22,19,29,34,19,23,27,22,21,20,22,21.0,19
428,2021-06-19,26,23,15,29,16,15,20,29,14,23,22,20,15,14,17,16.0,14
429,2021-06-18,11,15,19,10,8,5,18,11,7,7,8,8,8,14,16,9.0,4
430,2021-06-17,8,9,10,10,10,6,6,9,6,7,7,9,7,8,8,8.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,22,11,12,17,11,14,9,19,15,17,18,13,10,11,10,12.0,14
26,2020-04-04,27,23,25,19,24,22,22,27,26,29,26,24,21,23,21,27.0,25
27,2020-04-03,32,21,24,24,28,25,24,32,23,30,32,32,22,22,19,26.0,28
28,2020-04-02,24,16,17,21,20,21,17,24,21,22,25,22,18,17,14,24.0,20
29,2020-04-01,30,19,30,23,21,23,23,30,30,36,26,22,19,25,22,21.0,26

In [60]:
def test(aa):
    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    globals()[f'{aa}DF'] = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(aa, str(yy), str(mm).zfill(2))
                globals()[f'{aa}DF'] = globals()[f'{aa}DF'].append(temp, ignore_index=True)
                print(f'{aa} {yy}{str(mm).zfill(2)} success')

    globals()[f'{aa}DF'].sort_values( by = '날짜', ascending=False, inplace=True)
    save_PATH = f'C:/Users/ad/Desktop/test/KOR_{aa}' # 저장경로
    globals()[f'{aa}DF'].to_excel(save_PATH + '.xlsx', index=False)
    globals()[f'{aa}DF'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
    globals()[f'{aa}DF_I'] = globals()[f'{aa}DF'].rename(RENAME_ALL, axis='columns')

In [61]:
test('pm25')

202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm25/202004.xls
pm25 202004 success
C:/Users/minipojectweb/data/pm25/202005.xls
pm25 202005 success
C:/Users/minipojectweb/data/pm25/202006.xls
pm25 202006 success
C:/Users/minipojectweb/data/pm25/202007.xls
pm25 202007 success
C:/Users/minipojectweb/data/pm25/202008.xls
pm25 202008 success
C:/Users/minipojectweb/data/pm25/202009.xls
pm25 202009 success
C:/Users/minipojectweb/data/pm25/202010.xls
pm25 202010 success
C:/Users/minipojectweb/data/pm25/202011.xls
pm25 202011 success
C:/Users/minipojectweb/data/pm25/202012.xls
pm25 202012 success
C:/Users/minipojectweb/data/pm25/202101.xls
pm25 202101 success
C:/Users/minipojectweb/data/pm25/202102.xls
pm25 202102 success
C:/Users/minipojectweb/data/pm25/202103.xls
pm25 202103 success
C:/Users/minipojectweb/data/pm25/202104.xls
pm25 202104 success
C:/Users/minipojectweb/data/pm25/202105.xls
pm25 202105 success
C:/Users/minipojectweb/data/pm25/202106.xls
pm25 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [62]:
pm25DF

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
426,2021-06-21,34,28,22,36,25,39,29,42,34,45,42,42,23,23,21,14.0,32
427,2021-06-20,31,26,20,40,22,19,29,34,19,23,27,22,21,20,22,21.0,19
428,2021-06-19,26,23,15,29,16,15,20,29,14,23,22,20,15,14,17,16.0,14
429,2021-06-18,11,15,19,10,8,5,18,11,7,7,8,8,8,14,16,9.0,4
430,2021-06-17,8,9,10,10,10,6,6,9,6,7,7,9,7,8,8,8.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,22,11,12,17,11,14,9,19,15,17,18,13,10,11,10,12.0,14
26,2020-04-04,27,23,25,19,24,22,22,27,26,29,26,24,21,23,21,27.0,25
27,2020-04-03,32,21,24,24,28,25,24,32,23,30,32,32,22,22,19,26.0,28
28,2020-04-02,24,16,17,21,20,21,17,24,21,22,25,22,18,17,14,24.0,20
29,2020-04-01,30,19,30,23,21,23,23,30,30,36,26,22,19,25,22,21.0,26

In [67]:
import pandas as pd
import datetime
RENAME_ALL = {
    '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
    '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
    '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}

def excelappend(aa, yy, mm):
    filepath = f'C:/Users/minipojectweb/data/{aa}/{yy}{mm}.xls'
    excel_df = pd.read_excel(filepath, header=3)
    print (filepath)
    return(excel_df)

def appendname(aa):
    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    globals()[f'{aa}DF'] = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(aa, str(yy), str(mm).zfill(2))
                globals()[f'{aa}DF'] = globals()[f'{aa}DF'].append(temp, ignore_index=True)
                print(f'{aa} {yy}{str(mm).zfill(2)} success')

    globals()[f'{aa}DF'].sort_values( by = '날짜', ascending=False, inplace=True)
    save_PATH = f'C:/Users/ad/Desktop/test/tot/KOR_{aa}' # 저장경로
    globals()[f'{aa}DF'].to_excel(save_PATH + '.xlsx', index=False)
    globals()[f'{aa}DF'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
    globals()[f'{aa}DF_I'] = globals()[f'{aa}DF'].rename(RENAME_ALL, axis='columns')

append_list = ['pm10', 'pm25', 'co', 'no2', 'o3', 'so2']

for i in append_list:
    appendname(i)
    print(i)

202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm10/202004.xls
pm10 202004 success
C:/Users/minipojectweb/data/pm10/202005.xls
pm10 202005 success
C:/Users/minipojectweb/data/pm10/202006.xls
pm10 202006 success
C:/Users/minipojectweb/data/pm10/202007.xls
pm10 202007 success
C:/Users/minipojectweb/data/pm10/202008.xls
pm10 202008 success
C:/Users/minipojectweb/data/pm10/202009.xls
pm10 202009 success
C:/Users/minipojectweb/data/pm10/202010.xls
pm10 202010 success
C:/Users/minipojectweb/data/pm10/202011.xls
pm10 202011 success
C:/Users/minipojectweb/data/pm10/202012.xls
pm10 202012 success
C:/Users/minipojectweb/data/pm10/202101.xls
pm10 202101 success
C:/Users/minipojectweb/data/pm10/202102.xls
pm10 202102 success
C:/Users/minipojectweb/data/pm10/202103.xls
pm10 202103 success
C:/Users/minipojectweb/data/pm10/202104.xls
pm10 202104 success
C:/Users/minipojectweb/data/pm10/202105.xls
pm10 202105 success
C:/Users/minipojectweb/data/pm10/202106.xls
pm10 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
pm10
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm25/202004.xls
pm25 202004 success
C:/Users/minipojectweb/data/pm25/202005.xls
pm25 202005 success
C:/Users/minipojectweb/data/pm25/202006.xls
pm25 202006 success
C:/Users/minipojectweb/data/pm25/202007.xls
pm25 202007 success
C:/Users/minipojectweb/data/pm25/202008.xls
pm25 202008 success
C:/Users/minipojectweb/data/pm25/202009.xls
pm25 202009 success
C:/Users/minipojectweb/data/pm25/202010.xls
pm25 202010 success
C:/Users/minipojectweb/data/pm25/202011.xls
pm25 202011 success
C:/Users/minipojectweb/data/pm25/202012.xls
pm25 202012 success
C:/Users/minipojectweb/data/pm25/202101.xls
pm25 202101 success
C:/Users/minipojectweb/data/pm25/202102.xls
pm25 202102 success
C:/Users/minipojectweb/data/pm25/202103.xls
pm25 202103 success
C:/Users/minipojectweb/data/pm25/202104.xls
pm25 202104 success
C:/Users/minipojectweb/data/pm25/202105.xls
pm25 202105 success
C:/Users/minipojectweb/data/pm25/202106.xls
pm25 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
pm25
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/co/202004.xls
co 202004 success
C:/Users/minipojectweb/data/co/202005.xls
co 202005 success
C:/Users/minipojectweb/data/co/202006.xls
co 202006 success
C:/Users/minipojectweb/data/co/202007.xls
co 202007 success
C:/Users/minipojectweb/data/co/202008.xls
co 202008 success
C:/Users/minipojectweb/data/co/202009.xls
co 202009 success
C:/Users/minipojectweb/data/co/202010.xls
co 202010 success
C:/Users/minipojectweb/data/co/202011.xls
co 202011 success
C:/Users/minipojectweb/data/co/202012.xls
co 202012 success
C:/Users/minipojectweb/data/co/202101.xls
co 202101 success
C:/Users/minipojectweb/data/co/202102.xls
co 202102 success
C:/Users/minipojectweb/data/co/202103.xls
co 202103 success
C:/Users/minipojectweb/data/co/202104.xls
co 202104 success
C:/Users/minipojectweb/data/co/202105.xls
co 202105 success
C:/Users/minipojectweb/data/co/202106.xls
co 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
co
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/no2/202004.xls
no2 202004 success
C:/Users/minipojectweb/data/no2/202005.xls
no2 202005 success
C:/Users/minipojectweb/data/no2/202006.xls
no2 202006 success
C:/Users/minipojectweb/data/no2/202007.xls
no2 202007 success
C:/Users/minipojectweb/data/no2/202008.xls
no2 202008 success
C:/Users/minipojectweb/data/no2/202009.xls
no2 202009 success
C:/Users/minipojectweb/data/no2/202010.xls
no2 202010 success
C:/Users/minipojectweb/data/no2/202011.xls
no2 202011 success
C:/Users/minipojectweb/data/no2/202012.xls
no2 202012 success
C:/Users/minipojectweb/data/no2/202101.xls
no2 202101 success
C:/Users/minipojectweb/data/no2/202102.xls
no2 202102 success
C:/Users/minipojectweb/data/no2/202103.xls
no2 202103 success
C:/Users/minipojectweb/data/no2/202104.xls
no2 202104 success
C:/Users/minipojectweb/data/no2/202105.xls
no2 202105 success
C:/Users/minipojectweb/data/no2/202106.xls
no2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
no2
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/o3/202004.xls
o3 202004 success
C:/Users/minipojectweb/data/o3/202005.xls
o3 202005 success
C:/Users/minipojectweb/data/o3/202006.xls
o3 202006 success
C:/Users/minipojectweb/data/o3/202007.xls
o3 202007 success
C:/Users/minipojectweb/data/o3/202008.xls
o3 202008 success
C:/Users/minipojectweb/data/o3/202009.xls
o3 202009 success
C:/Users/minipojectweb/data/o3/202010.xls
o3 202010 success
C:/Users/minipojectweb/data/o3/202011.xls
o3 202011 success
C:/Users/minipojectweb/data/o3/202012.xls
o3 202012 success
C:/Users/minipojectweb/data/o3/202101.xls
o3 202101 success
C:/Users/minipojectweb/data/o3/202102.xls
o3 202102 success
C:/Users/minipojectweb/data/o3/202103.xls
o3 202103 success
C:/Users/minipojectweb/data/o3/202104.xls
o3 202104 success
C:/Users/minipojectweb/data/o3/202105.xls
o3 202105 success
C:/Users/minipojectweb/data/o3/202106.xls
o3 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
o3
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/so2/202004.xls
so2 202004 success
C:/Users/minipojectweb/data/so2/202005.xls
so2 202005 success
C:/Users/minipojectweb/data/so2/202006.xls
so2 202006 success
C:/Users/minipojectweb/data/so2/202007.xls
so2 202007 success
C:/Users/minipojectweb/data/so2/202008.xls
so2 202008 success
C:/Users/minipojectweb/data/so2/202009.xls
so2 202009 success
C:/Users/minipojectweb/data/so2/202010.xls
so2 202010 success
C:/Users/minipojectweb/data/so2/202011.xls
so2 202011 success
C:/Users/minipojectweb/data/so2/202012.xls
so2 202012 success
C:/Users/minipojectweb/data/so2/202101.xls
so2 202101 success
C:/Users/minipojectweb/data/so2/202102.xls
so2 202102 success
C:/Users/minipojectweb/data/so2/202103.xls
so2 202103 success
C:/Users/minipojectweb/data/so2/202104.xls
so2 202104 success
C:/Users/minipojectweb/data/so2/202105.xls
so2 202105 success
C:/Users/minipojectweb/data/so2/202106.xls
so2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
so2

In [66]:
o3DF_I

,날짜,SEOUL,PUSAN,DEAGU,INCHEON,KWANG_JU,DAEJEON,ULSAN,KYEONG_GI,KANGONE,CHUNG_BUK,CHUNG_NAM,JEON_BUK,JEON_NAM,KYUNG_BUK,KYUNG_NAM,JE_JU,SEJONG
426,2021-06-21,0.053,0.030,0.040,0.055,0.037,0.067,0.029,0.057,0.048,0.063,0.071,0.057,0.038,0.046,0.031,0.044,0.073
427,2021-06-20,0.059,0.056,0.056,0.065,0.051,0.057,0.059,0.061,0.054,0.055,0.068,0.054,0.048,0.050,0.058,0.057,0.064
428,2021-06-19,0.060,0.054,0.045,0.060,0.051,0.048,0.052,0.060,0.042,0.050,0.055,0.048,0.047,0.044,0.050,0.043,0.050
429,2021-06-18,0.031,0.024,0.024,0.040,0.031,0.030,0.024,0.034,0.027,0.025,0.039,0.033,0.028,0.027,0.029,0.032,0.031
430,2021-06-17,0.029,0.030,0.031,0.029,0.029,0.033,0.029,0.031,0.024,0.028,0.036,0.030,0.035,0.030,0.034,0.041,0.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,0.038,0.042,0.038,0.043,0.041,0.034,0.042,0.040,0.038,0.037,0.041,0.038,0.040,0.041,0.044,0.048,0.042
26,2020-04-04,0.037,0.047,0.041,0.043,0.039,0.041,0.044,0.039,0.046,0.041,0.041,0.041,0.046,0.049,0.051,0.056,0.043
27,2020-04-03,0.032,0.039,0.038,0.040,0.042,0.035,0.040,0.036,0.046,0.040,0.038,0.040,0.045,0.047,0.043,0.053,0.042
28,2020-04-02,0.029,0.040,0.035,0.034,0.039,0.030,0.040,0.033,0.039,0.037,0.035,0.036,0.041,0.041,0.042,0.049,0.035
29,2020-04-01,0.041,0.036,0.038,0.047,0.042,0.034,0.034,0.042,0.039,0.038,0.039,0.040,0.045,0.041,0.043,0.053,0.040

In [179]:
import pandas as pd
import datetime


def excelappend(aa, yy, mm):
    filepath = f'C:/Users/minipojectweb/data/{aa}/{yy}{mm}.xls'
    excel_df = pd.read_excel(filepath, header=3)
    print (filepath)
    return(excel_df)

def appendname(aa):
    RENAME_ALL = {
    '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
    '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
    '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}
    
    CURRENTTIME = datetime.datetime.today()
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))
    globals()[f'{aa}DF'] = pd.DataFrame()
    for yy in [2020, 2021]:
        for mm in range (1, 13):
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
                print(f'{yy}{str(mm).zfill(2)} fail')
            else:    
                temp = excelappend(aa, str(yy), str(mm).zfill(2))
                globals()[f'{aa}DF'] = globals()[f'{aa}DF'].append(temp, ignore_index=True)
                print(f'{aa} {yy}{str(mm).zfill(2)} success')

    globals()[f'{aa}DF'].sort_values( by = '날짜', ascending=False, inplace=True)
    save_PATH = f'C:/Users/ad/Desktop/test/tot/KOR_{aa}' # 저장경로
    globals()[f'{aa}DF'].to_excel(save_PATH + '.xlsx', index=False)
    globals()[f'{aa}DF'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
    globals()[f'{aa}DF_I'] = globals()[f'{aa}DF'].rename(RENAME_ALL, axis='columns')

In [181]:
for i in ['pm10', 'pm25', 'co', 'no2', 'o3', 'so2']:
    appendname(i)

202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm10/202004.xls
pm10 202004 success
C:/Users/minipojectweb/data/pm10/202005.xls
pm10 202005 success
C:/Users/minipojectweb/data/pm10/202006.xls
pm10 202006 success
C:/Users/minipojectweb/data/pm10/202007.xls
pm10 202007 success
C:/Users/minipojectweb/data/pm10/202008.xls
pm10 202008 success
C:/Users/minipojectweb/data/pm10/202009.xls
pm10 202009 success
C:/Users/minipojectweb/data/pm10/202010.xls
pm10 202010 success
C:/Users/minipojectweb/data/pm10/202011.xls
pm10 202011 success
C:/Users/minipojectweb/data/pm10/202012.xls
pm10 202012 success
C:/Users/minipojectweb/data/pm10/202101.xls
pm10 202101 success
C:/Users/minipojectweb/data/pm10/202102.xls
pm10 202102 success
C:/Users/minipojectweb/data/pm10/202103.xls
pm10 202103 success
C:/Users/minipojectweb/data/pm10/202104.xls
pm10 202104 success
C:/Users/minipojectweb/data/pm10/202105.xls
pm10 202105 success
C:/Users/minipojectweb/data/pm10/202106.xls
pm10 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm25/202004.xls
pm25 202004 success
C:/Users/minipojectweb/data/pm25/202005.xls
pm25 202005 success
C:/Users/minipojectweb/data/pm25/202006.xls
pm25 202006 success
C:/Users/minipojectweb/data/pm25/202007.xls
pm25 202007 success
C:/Users/minipojectweb/data/pm25/202008.xls
pm25 202008 success
C:/Users/minipojectweb/data/pm25/202009.xls
pm25 202009 success
C:/Users/minipojectweb/data/pm25/202010.xls
pm25 202010 success
C:/Users/minipojectweb/data/pm25/202011.xls
pm25 202011 success
C:/Users/minipojectweb/data/pm25/202012.xls
pm25 202012 success
C:/Users/minipojectweb/data/pm25/202101.xls
pm25 202101 success
C:/Users/minipojectweb/data/pm25/202102.xls
pm25 202102 success
C:/Users/minipojectweb/data/pm25/202103.xls
pm25 202103 success
C:/Users/minipojectweb/data/pm25/202104.xls
pm25 202104 success
C:/Users/minipojectweb/data/pm25/202105.xls
pm25 202105 success
C:/Users/minipojectweb/data/pm25/202106.xls
pm25 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/co/202004.xls
co 202004 success
C:/Users/minipojectweb/data/co/202005.xls
co 202005 success
C:/Users/minipojectweb/data/co/202006.xls
co 202006 success
C:/Users/minipojectweb/data/co/202007.xls
co 202007 success
C:/Users/minipojectweb/data/co/202008.xls
co 202008 success
C:/Users/minipojectweb/data/co/202009.xls
co 202009 success
C:/Users/minipojectweb/data/co/202010.xls
co 202010 success
C:/Users/minipojectweb/data/co/202011.xls
co 202011 success
C:/Users/minipojectweb/data/co/202012.xls
co 202012 success
C:/Users/minipojectweb/data/co/202101.xls
co 202101 success
C:/Users/minipojectweb/data/co/202102.xls
co 202102 success
C:/Users/minipojectweb/data/co/202103.xls
co 202103 success
C:/Users/minipojectweb/data/co/202104.xls
co 202104 success
C:/Users/minipojectweb/data/co/202105.xls
co 202105 success
C:/Users/minipojectweb/data/co/202106.xls
co 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/no2/202004.xls
no2 202004 success
C:/Users/minipojectweb/data/no2/202005.xls
no2 202005 success
C:/Users/minipojectweb/data/no2/202006.xls
no2 202006 success
C:/Users/minipojectweb/data/no2/202007.xls
no2 202007 success
C:/Users/minipojectweb/data/no2/202008.xls
no2 202008 success
C:/Users/minipojectweb/data/no2/202009.xls
no2 202009 success
C:/Users/minipojectweb/data/no2/202010.xls
no2 202010 success
C:/Users/minipojectweb/data/no2/202011.xls
no2 202011 success
C:/Users/minipojectweb/data/no2/202012.xls
no2 202012 success
C:/Users/minipojectweb/data/no2/202101.xls
no2 202101 success
C:/Users/minipojectweb/data/no2/202102.xls
no2 202102 success
C:/Users/minipojectweb/data/no2/202103.xls
no2 202103 success
C:/Users/minipojectweb/data/no2/202104.xls
no2 202104 success
C:/Users/minipojectweb/data/no2/202105.xls
no2 202105 success
C:/Users/minipojectweb/data/no2/202106.xls
no2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/o3/202004.xls
o3 202004 success
C:/Users/minipojectweb/data/o3/202005.xls
o3 202005 success
C:/Users/minipojectweb/data/o3/202006.xls
o3 202006 success
C:/Users/minipojectweb/data/o3/202007.xls
o3 202007 success
C:/Users/minipojectweb/data/o3/202008.xls
o3 202008 success
C:/Users/minipojectweb/data/o3/202009.xls
o3 202009 success
C:/Users/minipojectweb/data/o3/202010.xls
o3 202010 success
C:/Users/minipojectweb/data/o3/202011.xls
o3 202011 success
C:/Users/minipojectweb/data/o3/202012.xls
o3 202012 success
C:/Users/minipojectweb/data/o3/202101.xls
o3 202101 success
C:/Users/minipojectweb/data/o3/202102.xls
o3 202102 success
C:/Users/minipojectweb/data/o3/202103.xls
o3 202103 success
C:/Users/minipojectweb/data/o3/202104.xls
o3 202104 success
C:/Users/minipojectweb/data/o3/202105.xls
o3 202105 success
C:/Users/minipojectweb/data/o3/202106.xls
o3 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/so2/202004.xls
so2 202004 success
C:/Users/minipojectweb/data/so2/202005.xls
so2 202005 success
C:/Users/minipojectweb/data/so2/202006.xls
so2 202006 success
C:/Users/minipojectweb/data/so2/202007.xls
so2 202007 success
C:/Users/minipojectweb/data/so2/202008.xls
so2 202008 success
C:/Users/minipojectweb/data/so2/202009.xls
so2 202009 success
C:/Users/minipojectweb/data/so2/202010.xls
so2 202010 success
C:/Users/minipojectweb/data/so2/202011.xls
so2 202011 success
C:/Users/minipojectweb/data/so2/202012.xls
so2 202012 success
C:/Users/minipojectweb/data/so2/202101.xls
so2 202101 success
C:/Users/minipojectweb/data/so2/202102.xls
so2 202102 success
C:/Users/minipojectweb/data/so2/202103.xls
so2 202103 success
C:/Users/minipojectweb/data/so2/202104.xls
so2 202104 success
C:/Users/minipojectweb/data/so2/202105.xls
so2 202105 success
C:/Users/minipojectweb/data/so2/202106.xls
so2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [175]:
def cutcity(what):
    for city in globals()[f'{what}DF_I'].columns[1:]:
        globals()[f'{what}{city}DF_II'] = globals()[f'{what}DF_I'][ [ '날짜',city ] ].rename({ city: what}, axis='columns')

pm10DF_I.columns

Index(['날짜', 'SEOUL', 'PUSAN', 'DEAGU', 'INCHEON', 'KWANG_JU', 'DAEJEON',
       'ULSAN', 'KYEONG_GI', 'KANGONE', 'CHUNG_BUK', 'CHUNG_NAM', 'JEON_BUK',
       'JEON_NAM', 'KYUNG_BUK', 'KYUNG_NAM', 'JE_JU', 'SEJONG'],
      dtype='object')

In [176]:
append_list = ['pm10', 'pm25', 'co', 'no2', 'o3', 'so2']
for i in append_list:
    cutcity(i)

In [177]:
def mergecity(what, afterwhat):
    for city in globals()[f'{what}DF_I'].columns[1:]:
        globals()[f'{what}{city}DF_II'] = pd.merge(left = globals()[f'{what}{city}DF_II'], right = globals()[f'{afterwhat}{city}DF_II'], how = 'left', left_on ='날짜', right_on='날짜')
        globals()[f'{what}{city}DF_II'].drop_duplicates() # 중복 행제거 모든열기준
        globals()[f'{what}{city}DF_II'].sort_values( by = '날짜', ascending=False, inplace=True)
        pppath    = f'{city}_FIN'
        save_PATH = f'C:/Users/ad/Desktop/test/{pppath}'
        globals()[f'{what}{city}DF_II'].to_excel(save_PATH + '.xlsx', index=False)
        globals()[f'{what}{city}DF_II'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [178]:
append_list = ['pm25', 'co', 'no2', 'o3', 'so2']
for what in ['pm10']:
    pass
    for afterwhat in append_list:
        mergecity(what, afterwhat)

In [109]:
append_list = ['pm10', 'pm25', 'co', 'no2', 'o3', 'so2']

for i in append_list:
    appendname(i)
    print(i)
for i in append_list:
    cutcity(i)

202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm10/202004.xls
pm10 202004 success
C:/Users/minipojectweb/data/pm10/202005.xls
pm10 202005 success
C:/Users/minipojectweb/data/pm10/202006.xls
pm10 202006 success
C:/Users/minipojectweb/data/pm10/202007.xls
pm10 202007 success
C:/Users/minipojectweb/data/pm10/202008.xls
pm10 202008 success
C:/Users/minipojectweb/data/pm10/202009.xls
pm10 202009 success
C:/Users/minipojectweb/data/pm10/202010.xls
pm10 202010 success
C:/Users/minipojectweb/data/pm10/202011.xls
pm10 202011 success
C:/Users/minipojectweb/data/pm10/202012.xls
pm10 202012 success
C:/Users/minipojectweb/data/pm10/202101.xls
pm10 202101 success
C:/Users/minipojectweb/data/pm10/202102.xls
pm10 202102 success
C:/Users/minipojectweb/data/pm10/202103.xls
pm10 202103 success
C:/Users/minipojectweb/data/pm10/202104.xls
pm10 202104 success
C:/Users/minipojectweb/data/pm10/202105.xls
pm10 202105 success
C:/Users/minipojectweb/data/pm10/202106.xls
pm10 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
pm10
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm25/202004.xls
pm25 202004 success
C:/Users/minipojectweb/data/pm25/202005.xls
pm25 202005 success
C:/Users/minipojectweb/data/pm25/202006.xls
pm25 202006 success
C:/Users/minipojectweb/data/pm25/202007.xls
pm25 202007 success
C:/Users/minipojectweb/data/pm25/202008.xls
pm25 202008 success
C:/Users/minipojectweb/data/pm25/202009.xls
pm25 202009 success
C:/Users/minipojectweb/data/pm25/202010.xls
pm25 202010 success
C:/Users/minipojectweb/data/pm25/202011.xls
pm25 202011 success
C:/Users/minipojectweb/data/pm25/202012.xls
pm25 202012 success
C:/Users/minipojectweb/data/pm25/202101.xls
pm25 202101 success
C:/Users/minipojectweb/data/pm25/202102.xls
pm25 202102 success
C:/Users/minipojectweb/data/pm25/202103.xls
pm25 202103 success
C:/Users/minipojectweb/data/pm25/202104.xls
pm25 202104 success
C:/Users/minipojectweb/data/pm25/202105.xls
pm25 202105 success
C:/Users/minipojectweb/data/pm25/202106.xls
pm25 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
pm25
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/co/202004.xls
co 202004 success
C:/Users/minipojectweb/data/co/202005.xls
co 202005 success
C:/Users/minipojectweb/data/co/202006.xls
co 202006 success
C:/Users/minipojectweb/data/co/202007.xls
co 202007 success
C:/Users/minipojectweb/data/co/202008.xls
co 202008 success
C:/Users/minipojectweb/data/co/202009.xls
co 202009 success
C:/Users/minipojectweb/data/co/202010.xls
co 202010 success
C:/Users/minipojectweb/data/co/202011.xls
co 202011 success
C:/Users/minipojectweb/data/co/202012.xls
co 202012 success
C:/Users/minipojectweb/data/co/202101.xls
co 202101 success
C:/Users/minipojectweb/data/co/202102.xls
co 202102 success
C:/Users/minipojectweb/data/co/202103.xls
co 202103 success
C:/Users/minipojectweb/data/co/202104.xls
co 202104 success
C:/Users/minipojectweb/data/co/202105.xls
co 202105 success
C:/Users/minipojectweb/data/co/202106.xls
co 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
co
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/no2/202004.xls
no2 202004 success
C:/Users/minipojectweb/data/no2/202005.xls
no2 202005 success
C:/Users/minipojectweb/data/no2/202006.xls
no2 202006 success
C:/Users/minipojectweb/data/no2/202007.xls
no2 202007 success
C:/Users/minipojectweb/data/no2/202008.xls
no2 202008 success
C:/Users/minipojectweb/data/no2/202009.xls
no2 202009 success
C:/Users/minipojectweb/data/no2/202010.xls
no2 202010 success
C:/Users/minipojectweb/data/no2/202011.xls
no2 202011 success
C:/Users/minipojectweb/data/no2/202012.xls
no2 202012 success
C:/Users/minipojectweb/data/no2/202101.xls
no2 202101 success
C:/Users/minipojectweb/data/no2/202102.xls
no2 202102 success
C:/Users/minipojectweb/data/no2/202103.xls
no2 202103 success
C:/Users/minipojectweb/data/no2/202104.xls
no2 202104 success
C:/Users/minipojectweb/data/no2/202105.xls
no2 202105 success
C:/Users/minipojectweb/data/no2/202106.xls
no2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
no2
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/o3/202004.xls
o3 202004 success
C:/Users/minipojectweb/data/o3/202005.xls
o3 202005 success
C:/Users/minipojectweb/data/o3/202006.xls
o3 202006 success
C:/Users/minipojectweb/data/o3/202007.xls
o3 202007 success
C:/Users/minipojectweb/data/o3/202008.xls
o3 202008 success
C:/Users/minipojectweb/data/o3/202009.xls
o3 202009 success
C:/Users/minipojectweb/data/o3/202010.xls
o3 202010 success
C:/Users/minipojectweb/data/o3/202011.xls
o3 202011 success
C:/Users/minipojectweb/data/o3/202012.xls
o3 202012 success
C:/Users/minipojectweb/data/o3/202101.xls
o3 202101 success
C:/Users/minipojectweb/data/o3/202102.xls
o3 202102 success
C:/Users/minipojectweb/data/o3/202103.xls
o3 202103 success
C:/Users/minipojectweb/data/o3/202104.xls
o3 202104 success
C:/Users/minipojectweb/data/o3/202105.xls
o3 202105 success
C:/Users/minipojectweb/data/o3/202106.xls
o3 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
o3
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/so2/202004.xls
so2 202004 success
C:/Users/minipojectweb/data/so2/202005.xls
so2 202005 success
C:/Users/minipojectweb/data/so2/202006.xls
so2 202006 success
C:/Users/minipojectweb/data/so2/202007.xls
so2 202007 success
C:/Users/minipojectweb/data/so2/202008.xls
so2 202008 success
C:/Users/minipojectweb/data/so2/202009.xls
so2 202009 success
C:/Users/minipojectweb/data/so2/202010.xls
so2 202010 success
C:/Users/minipojectweb/data/so2/202011.xls
so2 202011 success
C:/Users/minipojectweb/data/so2/202012.xls
so2 202012 success
C:/Users/minipojectweb/data/so2/202101.xls
so2 202101 success
C:/Users/minipojectweb/data/so2/202102.xls
so2 202102 success
C:/Users/minipojectweb/data/so2/202103.xls
so2 202103 success
C:/Users/minipojectweb/data/so2/202104.xls
so2 202104 success
C:/Users/minipojectweb/data/so2/202105.xls
so2 202105 success
C:/Users/minipojectweb/data/so2/202106.xls
so2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
so2

In [169]:
append_list = ['pm25', 'co', 'no2', 'o3', 'so2']
for afterwhat in append_list:
    mergecity('pm10', afterwhat)

             날짜  pm10  pm25
0    2021-06-21    56    34
1    2021-06-20    51    31
2    2021-06-19    42    26
3    2021-06-18    17    11
4    2021-06-17    17     8
..          ...   ...   ...
442  2020-04-05    47    22
443  2020-04-04    68    27
444  2020-04-03    56    32
445  2020-04-02    39    24
446  2020-04-01    69    30

[447 rows x 3 columns]
             날짜  pm25
426  2021-06-21    34
427  2021-06-20    31
428  2021-06-19    26
429  2021-06-18    11
430  2021-06-17     8
..          ...   ...
25   2020-04-05    22
26   2020-04-04    27
27   2020-04-03    32
28   2020-04-02    24
29   2020-04-01    30

[447 rows x 2 columns]
             날짜  pm10  pm25   co
0    2021-06-21    56    34  0.5
1    2021-06-20    51    31  0.5
2    2021-06-19    42    26  0.5
3    2021-06-18    17    11  0.3
4    2021-06-17    17     8  0.3
..          ...   ...   ...  ...
442  2020-04-05    47    22  0.4
443  2020-04-04    68    27  0.4
444  2020-04-03    56    32  0.5
445  2020-04-02    39    24  0.5
446  2020-04-01    69    30  0.5

[447 rows x 4 columns]
             날짜   co
426  2021-06-21  0.5
427  2021-06-20  0.5
428  2021-06-19  0.5
429  2021-06-18  0.3
430  2021-06-17  0.3
..          ...  ...
25   2020-04-05  0.4
26   2020-04-04  0.4
27   2020-04-03  0.5
28   2020-04-02  0.5
29   2020-04-01  0.5

[447 rows x 2 columns]
             날짜  pm10  pm25   co    no2
0    2021-06-21    56    34  0.5  0.011
1    2021-06-20    51    31  0.5  0.014
2    2021-06-19    42    26  0.5  0.016
3    2021-06-18    17    11  0.3  0.015
4    2021-06-17    17     8  0.3  0.016
..          ...   ...   ...  ...    ...
442  2020-04-05    47    22  0.4  0.015
443  2020-04-04    68    27  0.4  0.015
444  2020-04-03    56    32  0.5  0.028
445  2020-04-02    39    24  0.5  0.027
446  2020-04-01    69    30  0.5  0.020

[447 rows x 5 columns]
             날짜    no2
426  2021-06-21  0.011
427  2021-06-20  0.014
428  2021-06-19  0.016
429  2021-06-18  0.015
430  2021-06-17  0.016
..          ...    ...
25   2020-04-05  0.015
26   2020-04-04  0.015
27   2020-04-03  0.028
28   2020-04-02  0.027
29   2020-04-01  0.020

[447 rows x 2 columns]
             날짜  pm10  pm25   co    no2     o3
0    2021-06-21    56    34  0.5  0.011  0.053
1    2021-06-20    51    31  0.5  0.014  0.059
2    2021-06-19    42    26  0.5  0.016  0.060
3    2021-06-18    17    11  0.3  0.015  0.031
4    2021-06-17    17     8  0.3  0.016  0.029
..          ...   ...   ...  ...    ...    ...
442  2020-04-05    47    22  0.4  0.015  0.038
443  2020-04-04    68    27  0.4  0.015  0.037
444  2020-04-03    56    32  0.5  0.028  0.032
445  2020-04-02    39    24  0.5  0.027  0.029
446  2020-04-01    69    30  0.5  0.020  0.041

[447 rows x 6 columns]
             날짜     o3
426  2021-06-21  0.053
427  2021-06-20  0.059
428  2021-06-19  0.060
429  2021-06-18  0.031
430  2021-06-17  0.029
..          ...    ...
25   2020-04-05  0.038
26   2020-04-04  0.037
27   2020-04-03  0.032
28   2020-04-02  0.029
29   2020-04-01  0.041

[447 rows x 2 columns]
             날짜  pm10  pm25   co    no2     o3    so2
0    2021-06-21    56    34  0.5  0.011  0.053  0.003
1    2021-06-20    51    31  0.5  0.014  0.059  0.004
2    2021-06-19    42    26  0.5  0.016  0.060  0.004
3    2021-06-18    17    11  0.3  0.015  0.031  0.003
4    2021-06-17    17     8  0.3  0.016  0.029  0.003
..          ...   ...   ...  ...    ...    ...    ...
442  2020-04-05    47    22  0.4  0.015  0.038  0.003
443  2020-04-04    68    27  0.4  0.015  0.037  0.003
444  2020-04-03    56    32  0.5  0.028  0.032  0.003
445  2020-04-02    39    24  0.5  0.027  0.029  0.003
446  2020-04-01    69    30  0.5  0.020  0.041  0.004

[447 rows x 7 columns]
             날짜    so2
426  2021-06-21  0.003
427  2021-06-20  0.004
428  2021-06-19  0.004
429  2021-06-18  0.003
430  2021-06-17  0.003
..          ...    ...
25   2020-04-05  0.003
26   2020-04-04  0.003
27   2020-04-03  0.003
28   2020-04-02  0.003
29   2020-04-01  0.004

[447 rows x 2 columns]

In [183]:
so2SEOULDF_II

             날짜    so2
426  2021-06-21  0.003
427  2021-06-20  0.004
428  2021-06-19  0.004
429  2021-06-18  0.003
430  2021-06-17  0.003
..          ...    ...
25   2020-04-05  0.003
26   2020-04-04  0.003
27   2020-04-03  0.003
28   2020-04-02  0.003
29   2020-04-01  0.004

[447 rows x 2 columns]