In [1]:
import pandas as pd
import datetime
#!pip install xlrd
#!pip install pandas
#!pip install openyxl

In [68]:
# 엑셀 경로 받아오는 함수(pm2.5)
def excelappend(yy, mm):
    
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/pm25/{}{}.xls'.format(yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)

    return(excel_df)


# 데이터프레임 만드는 반복문 (pm2.5)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH25DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappend(str(yy), str(mm).zfill(2))
            PH25DF = PH25DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')

# 경로에 저장  
PH25DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH2_5' # 저장경로
PH25DF.to_excel(save_PATH + '.xlsx', index=False)
PH25DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [29]:
#영어이름을 한글로 변경
PH25DF_I = PH25DF.rename({'서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON','울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK', '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}, axis='columns')
PH25DF_I.head(1)

,날짜,SEOUL,PUSAN,DEAGU,INCHEON,KWANG_JU,DAEJEON,ULSAN,KYEONG_GI,KANGONE,CHUNG_BUK,CHUNG_NAM,JEON_BUK,JEON_NAM,KYUNG_BUK,KYUNG_NAM,JE_JU,SEJONG
426,2021-06-20,28,26,20,37,23,18,30,30,17,23,25,22,22,21,22,23.0,18

In [31]:
PH10DF.dtypes

날짜     object
서울      int64
부산      int64
대구      int64
인천      int64
광주      int64
대전      int64
울산      int64
경기      int64
강원      int64
충북      int64
충남      int64
전북      int64
전남      int64
경북      int64
경남      int64
제주    float64
세종      int64
dtype: object

In [7]:
# 도시이름 df 각각생성
for city in PH25DF_I.columns[1:]:
    globals()[f'{city}_df'] = PH25DF_I[ [ '날짜',city ] ].rename({ city:'PH2.5'}, axis='columns')
    print(city)

SEOUL
PUSAN
DEAGU
INCHEON
KWANG_JU
DAEJEON
ULSAN
KYEONG_GI
KANGONE
CHUNG_BUK
CHUNG_NAM
JEON_BUK
JEON_NAM
KYUNG_BUK
KYUNG_NAM
JE_JU
SEJONG

In [11]:
# 엑셀 경로 받아오는 함수(pm10)
def excelappendph10(yy, mm):
    
    # 엑셀경로
    filepath = 'C:/Users/minipojectweb/data/pm10/{}{}.xls'.format(yy, mm)
    # 엑셀불러오기"
    excel_df = pd.read_excel(filepath, header=3)

    return(excel_df)


# 데이터프레임 만드는 반복문 (pm10)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH10DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendph10(str(yy), str(mm).zfill(2))
            PH10DF = PH10DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')


# 경로에 저장  
PH10DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH10' # 저장경로
PH10DF.to_excel(save_PATH + '.xlsx', index=False)
PH10DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [17]:
# 도시이름 df 각각생성
PH10DF_I = PH10DF.rename({'서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON','울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK', '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}, axis='columns')
for city in PH10DF_I.columns[1:]:
    globals()[f'{city}_df2'] = PH10DF_I[ [ '날짜',city ] ].rename({ city:'PH10'}, axis='columns')
    print(city)

SEOUL
PUSAN
DEAGU
INCHEON
KWANG_JU
DAEJEON
ULSAN
KYEONG_GI
KANGONE
CHUNG_BUK
CHUNG_NAM
JEON_BUK
JEON_NAM
KYUNG_BUK
KYUNG_NAM
JE_JU
SEJONG

In [25]:
for city in PH10DF_I.columns[1:]:
    globals()[f'{city}_df2'] = PH10DF_I[ [ '날짜',city ] ].rename({ city:'PH10'}, axis='columns')
    globals()[f'{city}_df_FIN'] = pd.merge(left = globals()[f'{city}_df'], right = globals()[f'{city}_df2'], how = 'left', left_on ='날짜', right_on='날짜')
    print(city)
    print(globals()[f'{city}_df_FIN'])

SEOUL
             날짜  PH2.5  PH10
0    2021-06-20     28    50
1    2021-06-19     26    42
2    2021-06-18     11    17
3    2021-06-17      8    17
4    2021-06-16      4    10
..          ...    ...   ...
441  2020-04-05     22    47
442  2020-04-04     27    68
443  2020-04-03     32    56
444  2020-04-02     24    39
445  2020-04-01     30    69

[446 rows x 3 columns]
PUSAN
             날짜  PH2.5  PH10
0    2021-06-20     26    42
1    2021-06-19     23    39
2    2021-06-18     15    23
3    2021-06-17      9    15
4    2021-06-16      6    10
..          ...    ...   ...
441  2020-04-05     11    34
442  2020-04-04     23    48
443  2020-04-03     21    37
444  2020-04-02     16    30
445  2020-04-01     19    35

[446 rows x 3 columns]
DEAGU
             날짜  PH2.5  PH10
0    2021-06-20     20    36
1    2021-06-19     15    31
2    2021-06-18     19    31
3    2021-06-17     10    20
4    2021-06-16      4    11
..          ...    ...   ...
441  2020-04-05     12    33
442  2020-04-04     25    57
443  2020-04-03     24    43
444  2020-04-02     17    38
445  2020-04-01     30    56

[446 rows x 3 columns]
INCHEON
             날짜  PH2.5  PH10
0    2021-06-20     37    61
1    2021-06-19     29    44
2    2021-06-18     10    15
3    2021-06-17     10    18
4    2021-06-16      5    13
..          ...    ...   ...
441  2020-04-05     17    44
442  2020-04-04     19    60
443  2020-04-03     24    47
444  2020-04-02     21    36
445  2020-04-01     23    60

[446 rows x 3 columns]
KWANG_JU
             날짜  PH2.5  PH10
0    2021-06-20     23    35
1    2021-06-19     16    28
2    2021-06-18      8    13
3    2021-06-17     10    17
4    2021-06-16      5    10
..          ...    ...   ...
441  2020-04-05     11    32
442  2020-04-04     24    69
443  2020-04-03     28    47
444  2020-04-02     20    41
445  2020-04-01     21    43

[446 rows x 3 columns]
DAEJEON
             날짜  PH2.5  PH10
0    2021-06-20     18    34
1    2021-06-19     15    28
2    2021-06-18      5    12
3    2021-06-17      6    13
4    2021-06-16      4     9
..          ...    ...   ...
441  2020-04-05     14    35
442  2020-04-04     22    68
443  2020-04-03     25    44
444  2020-04-02     21    38
445  2020-04-01     23    50

[446 rows x 3 columns]
ULSAN
             날짜  PH2.5  PH10
0    2021-06-20     30    43
1    2021-06-19     20    33
2    2021-06-18     18    27
3    2021-06-17      6    12
4    2021-06-16      5    10
..          ...    ...   ...
441  2020-04-05      9    31
442  2020-04-04     22    47
443  2020-04-03     24    40
444  2020-04-02     17    29
445  2020-04-01     23    41

[446 rows x 3 columns]
KYEONG_GI
             날짜  PH2.5  PH10
0    2021-06-20     30    56
1    2021-06-19     29    47
2    2021-06-18     11    19
3    2021-06-17      9    19
4    2021-06-16      5    13
..          ...    ...   ...
441  2020-04-05     19    48
442  2020-04-04     27    77
443  2020-04-03     32    56
444  2020-04-02     24    40
445  2020-04-01     30    74

[446 rows x 3 columns]
KANGONE
             날짜  PH2.5  PH10
0    2021-06-20     17    34
1    2021-06-19     14    26
2    2021-06-18      7    15
3    2021-06-17      6    15
4    2021-06-16      4    10
..          ...    ...   ...
441  2020-04-05     15    33
442  2020-04-04     26    59
443  2020-04-03     23    40
444  2020-04-02     21    31
445  2020-04-01     30    49

[446 rows x 3 columns]
CHUNG_BUK
             날짜  PH2.5  PH10
0    2021-06-20     23    38
1    2021-06-19     23    38
2    2021-06-18      7    13
3    2021-06-17      7    14
4    2021-06-16      5    11
..          ...    ...   ...
441  2020-04-05     17    41
442  2020-04-04     29    77
443  2020-04-03     30    47
444  2020-04-02     22    37
445  2020-04-01     36    66

[446 rows x 3 columns]
CHUNG_NAM
             날짜  PH2.5  PH10
0    2021-06-20     25    46
1    2021-06-19     22    37
2    2021-06-18      8    13
3    2021-06-17      7    15
4    2021-06-16      7    16
..          ...    ...   ...
441  2020-04-05     18    45
442  2020-04-04     26    82
443  2020-04-03     32    54
444  2020-04-02     25    43
445  2020-04-01     26    61

[446 rows x 3 columns]
JEON_BUK
             날짜  PH2.5  PH10
0    2021-06-20     22    39
1    2021-06-19     20    33
2    2021-06-18      8    14
3    2021-06-17      9    17
4    2021-06-16      6    13
..          ...    ...   ...
441  2020-04-05     13    36
442  2020-04-04     24    73
443  2020-04-03     32    52
444  2020-04-02     22    42
445  2020-04-01     22    49

[446 rows x 3 columns]
JEON_NAM
             날짜  PH2.5  PH10
0    2021-06-20     22    34
1    2021-06-19     15    27
2    2021-06-18      8    15
3    2021-06-17      7    14
4    2021-06-16      5    11
..          ...    ...   ...
441  2020-04-05     10    31
442  2020-04-04     21    61
443  2020-04-03     22    40
444  2020-04-02     18    39
445  2020-04-01     19    40

[446 rows x 3 columns]
KYUNG_BUK
             날짜  PH2.5  PH10
0    2021-06-20     21    35
1    2021-06-19     14    28
2    2021-06-18     14    22
3    2021-06-17      8    19
4    2021-06-16      6    14
..          ...    ...   ...
441  2020-04-05     11    31
442  2020-04-04     23    59
443  2020-04-03     22    39
444  2020-04-02     17    33
445  2020-04-01     25    49

[446 rows x 3 columns]
KYUNG_NAM
             날짜  PH2.5  PH10
0    2021-06-20     22    36
1    2021-06-19     17    31
2    2021-06-18     16    24
3    2021-06-17      8    15
4    2021-06-16      5    10
..          ...    ...   ...
441  2020-04-05     10    32
442  2020-04-04     21    50
443  2020-04-03     19    33
444  2020-04-02     14    31
445  2020-04-01     22    41

[446 rows x 3 columns]
JE_JU
             날짜  PH2.5  PH10
0    2021-06-20   23.0  37.0
1    2021-06-19   16.0  25.0
2    2021-06-18    9.0  17.0
3    2021-06-17    8.0  19.0
4    2021-06-16    6.0  15.0
..          ...    ...   ...
441  2020-04-05   12.0  36.0
442  2020-04-04   27.0  68.0
443  2020-04-03   26.0  48.0
444  2020-04-02   24.0  56.0
445  2020-04-01   21.0  44.0

[446 rows x 3 columns]
SEJONG
             날짜  PH2.5  PH10
0    2021-06-20     18    38
1    2021-06-19     14    29
2    2021-06-18      4    12
3    2021-06-17      5    13
4    2021-06-16      4    11
..          ...    ...   ...
441  2020-04-05     14    39
442  2020-04-04     25    74
443  2020-04-03     28    50
444  2020-04-02     20    42
445  2020-04-01     26    58

[446 rows x 3 columns]

In [45]:
JE_JU_df_FIN = JE_JU_df_FIN.fillna(method='pad')
JE_JU_df_FIN = JE_JU_df_FIN.astype({'PH2.5': 'int', 'PH10':'int'})
JE_JU_df_FIN

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [7]:
import pandas as pd
import datetime
RENAME_ALL = {
    '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
    '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
    '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}


# pm2.5-----------------------------------------------------------------------------
def excelappend(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/pm25/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH25DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappend(str(yy), str(mm).zfill(2))
            PH25DF = PH25DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
PH25DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH2_5' # 저장경로
PH25DF.to_excel(save_PATH + '.xlsx', index=False)
PH25DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
PH25DF_I = PH25DF.rename(RENAME_ALL, axis='columns')

# pm10-----------------------------------------------------------------------------
def excelappendph10(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/pm10/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
PH10DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendph10(str(yy), str(mm).zfill(2))
            PH10DF = PH10DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
PH10DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_PH10' # 저장경로
PH10DF.to_excel(save_PATH + '.xlsx', index=False)
PH10DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
PH10DF_I = PH10DF.rename(RENAME_ALL, axis='columns')

# o3오존-----------------------------------------------------------------------------
def excelappendpho3(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/o3/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
O3DF        = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendpho3(str(yy), str(mm).zfill(2))
            O3DF = O3DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
O3DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_O3' # 저장경로
O3DF.to_excel(save_PATH + '.xlsx', index=False)
O3DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
O3DF_I = O3DF.rename(RENAME_ALL, axis='columns')

# so2아황산가스-----------------------------------------------------------------------------
def excelappendso2(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/so2/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
SO2DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendso2(str(yy), str(mm).zfill(2))
            SO2DF = SO2DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
SO2DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_SO2' # 저장경로
SO2DF.to_excel(save_PATH + '.xlsx', index=False)
SO2DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
SO2DF_I = SO2DF.rename(RENAME_ALL, axis='columns')

#일산화탄소co---------------------
def excelappendCO(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/co/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
CODF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendCO(str(yy), str(mm).zfill(2))
            CODF = CODF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
CODF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_CO' # 저장경로
CODF.to_excel(save_PATH + '.xlsx', index=False)
CODF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
CODF_I = CODF.rename(RENAME_ALL, axis='columns')

#일산화질소NO2---------------------
def excelappendNO2(yy, mm):
    filepath = 'C:/Users/minipojectweb/data/no2/{}{}.xls'.format(yy, mm)
    excel_df = pd.read_excel(filepath, header=3)
    return(excel_df)
CURRENTTIME = datetime.datetime.today()
CURRENTTIME = int(CURRENTTIME.strftime('%m'))
NO2DF      = pd.DataFrame()
for yy in [2020, 2021]:
    for mm in range (1, 13):
        if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :
            print(f'{yy}{str(mm).zfill(2)} fail')
        else:    
            temp = excelappendNO2(str(yy), str(mm).zfill(2))
            NO2DF = NO2DF.append(temp, ignore_index=True)
            print(f'{yy}{str(mm).zfill(2)} success')
NO2DF.sort_values( by = '날짜', ascending=False, inplace=True)
save_PATH = 'C:/Users/ad/Desktop/test/KOR_NO2' # 저장경로
NO2DF.to_excel(save_PATH + '.xlsx', index=False)
NO2DF.to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
NO2DF_I = NO2DF.rename(RENAME_ALL, axis='columns')

202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
202004 success
202005 success
202006 success
202007 success
202008 success
202009 success
202010 success
202011 success
202012 success
202101 success
202102 success
202103 success
202104 success
202105 success
202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [9]:
for city in PH10DF_I.columns[1:]:
    globals()[f'{city}_df0'] = PH10DF_I[ [ '날짜',city ] ].rename({ city:'PH10'}, axis='columns')
    # print(city)
    # print(globals()[f'{city}_df0'])

for city in PH25DF_I.columns[1:]:
    globals()[f'{city}_df1'] = PH25DF_I[ [ '날짜',city ] ].rename({ city:'PH2.5'}, axis='columns')
    globals()[f'{city}_df1'] = pd.merge(left = globals()[f'{city}_df0'], right = globals()[f'{city}_df1'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df1'])

for city in O3DF_I.columns[1:]:
    globals()[f'{city}_df2'] = O3DF_I[ [ '날짜',city ] ].rename({ city:'O3'}, axis='columns')
    globals()[f'{city}_df2'] = pd.merge(left = globals()[f'{city}_df1'], right = globals()[f'{city}_df2'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df2'])

for city in NO2DF_I.columns[1:]:
    globals()[f'{city}_df3'] = NO2DF_I[ [ '날짜',city ] ].rename({ city:'NO2'}, axis='columns')
    globals()[f'{city}_df3'] = pd.merge(left = globals()[f'{city}_df2'], right = globals()[f'{city}_df3'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df3'])

for city in CODF_I.columns[1:]:
    globals()[f'{city}_df4'] = CODF_I[ [ '날짜',city ] ].rename({ city:'CO'}, axis='columns')
    globals()[f'{city}_df4'] = pd.merge(left = globals()[f'{city}_df3'], right = globals()[f'{city}_df4'], how = 'left', left_on ='날짜', right_on='날짜')
    # print(city)
    # print(globals()[f'{city}_df4'])

for city in SO2DF_I.columns[1:]:
    globals()[f'{city}_df5'] = SO2DF_I[ [ '날짜',city ] ].rename({ city:'SO2'}, axis='columns')
    globals()[f'{city}_df5'] = pd.merge(left = globals()[f'{city}_df4'], right = globals()[f'{city}_df5'], how = 'left', left_on ='날짜', right_on='날짜')
    print(city)
    print(globals()[f'{city}_df5'])
    globals()[f'{city}_df5'].sort_values( by = '날짜', ascending=False, inplace=True)
    globals()[f'{city}_df5'].drop_duplicates() # 중복 행제거 모든열기준
    pppath    = f'{city}_df5'
    save_PATH = f'C:/Users/ad/Desktop/test/{pppath}'
    globals()[f'{city}_df5'].to_excel(save_PATH + '.xlsx', index=False)
    globals()[f'{city}_df5'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

SEOUL
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    56     34  0.053  0.011  0.5  0.003
1    2021-06-20    51     31  0.059  0.014  0.5  0.004
2    2021-06-19    42     26  0.060  0.016  0.5  0.004
3    2021-06-18    17     11  0.031  0.015  0.3  0.003
4    2021-06-17    17      8  0.029  0.016  0.3  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    47     22  0.038  0.015  0.4  0.003
443  2020-04-04    68     27  0.037  0.015  0.4  0.003
444  2020-04-03    56     32  0.032  0.028  0.5  0.003
445  2020-04-02    39     24  0.029  0.027  0.5  0.003
446  2020-04-01    69     30  0.041  0.020  0.5  0.004

[447 rows x 7 columns]
PUSAN
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    42     28  0.030  0.021  0.4  0.003
1    2021-06-20    42     26  0.056  0.015  0.4  0.003
2    2021-06-19    39     23  0.054  0.013  0.3  0.003
3    2021-06-18    23     15  0.024  0.018  0.3  0.003
4    2021-06-17    15      9  0.030  0.011  0.2  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    34     11  0.042  0.010  0.3  0.003
443  2020-04-04    48     23  0.047  0.014  0.4  0.004
444  2020-04-03    37     21  0.039  0.022  0.4  0.004
445  2020-04-02    30     16  0.040  0.015  0.3  0.003
446  2020-04-01    35     19  0.036  0.020  0.4  0.003

[447 rows x 7 columns]
DEAGU
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    36     22  0.040  0.014  0.4  0.002
1    2021-06-20    36     20  0.056  0.009  0.4  0.002
2    2021-06-19    31     15  0.045  0.009  0.3  0.002
3    2021-06-18    31     19  0.024  0.013  0.4  0.002
4    2021-06-17    20     10  0.031  0.008  0.3  0.002
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    33     12  0.038  0.009  0.4  0.003
443  2020-04-04    57     25  0.041  0.015  0.4  0.003
444  2020-04-03    43     24  0.038  0.019  0.5  0.003
445  2020-04-02    38     17  0.035  0.017  0.4  0.003
446  2020-04-01    56     30  0.038  0.020  0.5  0.003

[447 rows x 7 columns]
INCHEON
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    51     36  0.055  0.011  0.5  0.003
1    2021-06-20    62     40  0.065  0.010  0.5  0.003
2    2021-06-19    44     29  0.060  0.012  0.5  0.003
3    2021-06-18    15     10  0.040  0.011  0.4  0.002
4    2021-06-17    18     10  0.029  0.016  0.3  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    44     17  0.043  0.011  0.4  0.003
443  2020-04-04    60     19  0.043  0.012  0.5  0.003
444  2020-04-03    47     24  0.040  0.022  0.6  0.004
445  2020-04-02    36     21  0.034  0.023  0.5  0.004
446  2020-04-01    60     23  0.047  0.016  0.5  0.005

[447 rows x 7 columns]
KWANG_JU
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    37     25  0.037  0.013  0.4  0.003
1    2021-06-20    35     22  0.051  0.007  0.4  0.003
2    2021-06-19    28     16  0.051  0.007  0.4  0.003
3    2021-06-18    13      8  0.031  0.008  0.3  0.003
4    2021-06-17    17     10  0.029  0.011  0.4  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    32     11  0.041  0.009  0.3  0.003
443  2020-04-04    69     24  0.039  0.015  0.4  0.003
444  2020-04-03    47     28  0.042  0.019  0.5  0.004
445  2020-04-02    41     20  0.039  0.015  0.4  0.003
446  2020-04-01    43     21  0.042  0.013  0.4  0.003

[447 rows x 7 columns]
DAEJEON
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    59     39  0.067  0.010  0.6  0.003
1    2021-06-20    34     19  0.057  0.007  0.5  0.003
2    2021-06-19    28     15  0.048  0.009  0.4  0.003
3    2021-06-18    12      5  0.030  0.009  0.4  0.002
4    2021-06-17    13      6  0.033  0.009  0.4  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    35     14  0.034  0.012  0.3  0.002
443  2020-04-04    68     22  0.041  0.012  0.3  0.002
444  2020-04-03    44     25  0.035  0.020  0.4  0.003
445  2020-04-02    38     21  0.030  0.019  0.3  0.002
446  2020-04-01    50     23  0.034  0.019  0.4  0.003

[447 rows x 7 columns]
ULSAN
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    41     29  0.029  0.023  0.5  0.004
1    2021-06-20    43     29  0.059  0.017  0.5  0.005
2    2021-06-19    33     20  0.052  0.014  0.4  0.003
3    2021-06-18    27     18  0.024  0.022  0.4  0.004
4    2021-06-17    12      6  0.029  0.012  0.3  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    31      9  0.042  0.011  0.4  0.004
443  2020-04-04    47     22  0.044  0.016  0.4  0.004
444  2020-04-03    40     24  0.040  0.024  0.5  0.005
445  2020-04-02    29     17  0.040  0.017  0.4  0.004
446  2020-04-01    41     23  0.034  0.019  0.5  0.004

[447 rows x 7 columns]
KYEONG_GI
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    63     42  0.057  0.009  0.5  0.003
1    2021-06-20    57     34  0.061  0.010  0.5  0.003
2    2021-06-19    47     29  0.060  0.012  0.5  0.003
3    2021-06-18    19     11  0.034  0.011  0.4  0.002
4    2021-06-17    19      9  0.031  0.012  0.3  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    48     19  0.040  0.011  0.3  0.003
443  2020-04-04    77     27  0.039  0.014  0.4  0.003
444  2020-04-03    56     32  0.036  0.022  0.5  0.004
445  2020-04-02    40     24  0.033  0.021  0.4  0.003
446  2020-04-01    74     30  0.042  0.020  0.4  0.004

[447 rows x 7 columns]
KANGONE
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    49     34  0.048  0.006  0.5  0.002
1    2021-06-20    35     19  0.054  0.006  0.4  0.002
2    2021-06-19    26     14  0.042  0.006  0.4  0.002
3    2021-06-18    15      7  0.027  0.007  0.4  0.002
4    2021-06-17    15      6  0.024  0.006  0.3  0.002
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    33     15  0.038  0.009  0.4  0.003
443  2020-04-04    59     26  0.046  0.010  0.4  0.003
444  2020-04-03    40     23  0.046  0.011  0.4  0.003
445  2020-04-02    31     21  0.039  0.010  0.4  0.002
446  2020-04-01    49     30  0.039  0.013  0.5  0.003

[447 rows x 7 columns]
CHUNG_BUK
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    64     45  0.063  0.008  0.5  0.002
1    2021-06-20    39     23  0.055  0.008  0.4  0.002
2    2021-06-19    38     23  0.050  0.009  0.4  0.002
3    2021-06-18    13      7  0.025  0.008  0.3  0.002
4    2021-06-17    14      7  0.028  0.010  0.3  0.002
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    41     17  0.037  0.011  0.4  0.003
443  2020-04-04    77     29  0.041  0.014  0.4  0.003
444  2020-04-03    47     30  0.040  0.017  0.5  0.004
445  2020-04-02    37     22  0.037  0.015  0.4  0.003
446  2020-04-01    66     36  0.038  0.019  0.5  0.004

[447 rows x 7 columns]
CHUNG_NAM
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    61     42  0.071  0.007  0.5  0.004
1    2021-06-20    46     27  0.068  0.006  0.5  0.004
2    2021-06-19    37     22  0.055  0.007  0.4  0.004
3    2021-06-18    13      8  0.039  0.006  0.3  0.003
4    2021-06-17    15      7  0.036  0.008  0.3  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    45     18  0.041  0.009  0.4  0.003
443  2020-04-04    82     26  0.041  0.010  0.4  0.003
444  2020-04-03    54     32  0.038  0.015  0.5  0.004
445  2020-04-02    43     25  0.035  0.014  0.4  0.003
446  2020-04-01    61     26  0.039  0.014  0.4  0.004

[447 rows x 7 columns]
JEON_BUK
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    61     42  0.057  0.008  0.4  0.003
1    2021-06-20    40     22  0.054  0.006  0.4  0.003
2    2021-06-19    33     20  0.048  0.006  0.4  0.003
3    2021-06-18    14      8  0.033  0.007  0.3  0.002
4    2021-06-17    17      9  0.030  0.008  0.3  0.002
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    36     13  0.038  0.008  0.3  0.003
443  2020-04-04    73     24  0.041  0.010  0.4  0.003
444  2020-04-03    52     32  0.040  0.014  0.4  0.004
445  2020-04-02    42     22  0.036  0.013  0.4  0.003
446  2020-04-01    49     22  0.040  0.011  0.4  0.003

[447 rows x 7 columns]
JEON_NAM
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    35     23  0.038  0.008  0.4  0.002
1    2021-06-20    34     21  0.048  0.008  0.5  0.003
2    2021-06-19    27     15  0.047  0.006  0.4  0.003
3    2021-06-18    15      8  0.028  0.006  0.3  0.002
4    2021-06-17    14      7  0.035  0.007  0.4  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    31     10  0.040  0.007  0.4  0.003
443  2020-04-04    61     21  0.046  0.009  0.5  0.004
444  2020-04-03    40     22  0.045  0.011  0.5  0.004
445  2020-04-02    39     18  0.041  0.010  0.4  0.003
446  2020-04-01    40     19  0.045  0.009  0.4  0.003

[447 rows x 7 columns]
KYUNG_BUK
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    37     23  0.046  0.009  0.4  0.003
1    2021-06-20    35     20  0.050  0.008  0.4  0.004
2    2021-06-19    28     14  0.044  0.007  0.3  0.003
3    2021-06-18    22     14  0.027  0.009  0.4  0.003
4    2021-06-17    19      8  0.030  0.007  0.3  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    31     11  0.041  0.008  0.3  0.003
443  2020-04-04    59     23  0.049  0.010  0.4  0.004
444  2020-04-03    39     22  0.047  0.013  0.4  0.004
445  2020-04-02    33     17  0.041  0.012  0.4  0.004
446  2020-04-01    49     25  0.041  0.014  0.5  0.004

[447 rows x 7 columns]
KYUNG_NAM
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    34     21  0.031  0.014  0.5  0.003
1    2021-06-20    36     22  0.058  0.010  0.5  0.003
2    2021-06-19    31     17  0.050  0.009  0.4  0.003
3    2021-06-18    24     16  0.029  0.013  0.4  0.003
4    2021-06-17    15      8  0.034  0.009  0.3  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    32     10  0.044  0.009  0.3  0.003
443  2020-04-04    50     21  0.051  0.013  0.4  0.003
444  2020-04-03    33     19  0.043  0.017  0.4  0.003
445  2020-04-02    31     14  0.042  0.014  0.4  0.003
446  2020-04-01    41     22  0.043  0.016  0.4  0.003

[447 rows x 7 columns]
JE_JU
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21  26.0   14.0  0.044  0.010  0.2  0.001
1    2021-06-20  36.0   21.0  0.057  0.008  0.3  0.002
2    2021-06-19  25.0   16.0  0.043  0.006  0.3  0.002
3    2021-06-18  17.0    9.0  0.032  0.008  0.2  0.002
4    2021-06-17  19.0    8.0  0.041  0.005  0.2  0.001
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05  36.0   12.0  0.048  0.006  0.3  0.001
443  2020-04-04  68.0   27.0  0.056  0.009  0.4  0.002
444  2020-04-03  48.0   26.0  0.053  0.010  0.4  0.002
445  2020-04-02  56.0   24.0  0.049  0.010  0.3  0.001
446  2020-04-01  44.0   21.0  0.053  0.007  0.3  0.001

[447 rows x 7 columns]
SEJONG
             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-21    53     32  0.073  0.007  0.6  0.003
1    2021-06-20    38     19  0.064  0.007  0.5  0.004
2    2021-06-19    29     14  0.050  0.008  0.4  0.003
3    2021-06-18    12      4  0.031  0.008  0.4  0.003
4    2021-06-17    13      5  0.034  0.009  0.3  0.003
..          ...   ...    ...    ...    ...  ...    ...
442  2020-04-05    39     14  0.042  0.010  0.4  0.003
443  2020-04-04    74     25  0.043  0.013  0.4  0.003
444  2020-04-03    50     28  0.042  0.019  0.4  0.004
445  2020-04-02    42     20  0.035  0.019  0.3  0.002
446  2020-04-01    58     26  0.040  0.019  0.4  0.003

[447 rows x 7 columns]

In [4]:
DEAGU_df5

             날짜  PH10  PH2.5     O3    NO2   CO    SO2
0    2021-06-20    36     20  0.056  0.009  0.4  0.002
9    2021-06-20    36     20  0.056  0.009  0.4  0.002
15   2021-06-20    36     20  0.056  0.009  0.4  0.002
1    2021-06-20    36     20  0.056  0.009  0.4  0.002
13   2021-06-20    36     20  0.056  0.009  0.4  0.002
..          ...   ...    ...    ...    ...  ...    ...
456  2020-04-05    33     12  0.038  0.009  0.4  0.003
457  2020-04-04    57     25  0.041  0.015  0.4  0.003
458  2020-04-03    43     24  0.038  0.019  0.5  0.003
459  2020-04-02    38     17  0.035  0.017  0.4  0.003
460  2020-04-01    56     30  0.038  0.020  0.5  0.003

[461 rows x 7 columns]