In [1]:
# from numpy import append
# import pandas as pd
# import datetime

# RENAME_ALL = {
#     '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
#     '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
#     '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}

# def excelappend(aa, yy, mm):
#     '''
#     aa = 파일경로
#     yy = 년도 4자리(ex: 2020)
#     mm = 월 2자리 (ex : 01, 11, 12)
#     '''
#     filepath = f'C:/Users/minipojectweb/data/{aa}/{yy}{mm}.xls' 
#     excel_df = pd.read_excel(filepath, header=3)
#     print (filepath)
#     return(excel_df)

# def appendname(aa):
#     '''
#     aa는 excelappend의 aa (파일 경로를 뜻함)
#     '''
#     CURRENTTIME = datetime.datetime.today()                        # 오늘 날짜 / 시간 /초
#     CURRENTTIME = int(CURRENTTIME.strftime('%m'))                  # 오늘 날짜의 월을 추출
#     globals()[f'{aa}DF'] = pd.DataFrame()
#     for yy in [2020, 2021]:                                        # 년도는 2020, 2021 두개
#         for mm in range (1, 13):                                   # 월은 1~12
#             if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME : # 2020 1~3월/ 2021 현재월보다 크면 제외
#                 print(f'{yy}{str(mm).zfill(2)} fail')
#             else:    
#                 temp = excelappend(aa, str(yy), str(mm).zfill(2))          # zfill 문자열의 빈칸을 0으로 채워줌
#                 globals()[f'{aa}DF'] = globals()[f'{aa}DF'].append(temp, ignore_index=True)
#                 print(f'{aa} {yy}{str(mm).zfill(2)} success')

#     globals()[f'{aa}DF'].sort_values( by = '날짜', ascending=False, inplace=True)
#     save_PATH = f'C:/Users/ad/Desktop/tot/test/KOR_{aa}' # 저장경로
#     globals()[f'{aa}DF'].to_excel(save_PATH + '.xlsx', index=False)
#     globals()[f'{aa}DF'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
#     globals()[f'{aa}DF_I'] = globals()[f'{aa}DF'].rename(RENAME_ALL, axis='columns')

In [434]:
from numpy import append
import pandas as pd
import datetime


def excelappend(aa, yy, mm):
    '''
    aa = 파일경로
    yy = 년도 4자리(ex: 2020)
    mm = 월 2자리 (ex : 01, 11, 12)
    '''
    filepath = f'C:/Users/minipojectweb/data/{aa}/{yy}{mm}.xls'
    excel_df = pd.read_excel(filepath, header=3)
    print (filepath)
    return(excel_df)

def appendname(aa):
    '''
    aa는 excelappend의 aa (파일 경로를 뜻함)
    '''
    RENAME_ALL = {
    '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
    '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
    '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}
    
    CURRENTTIME = datetime.datetime.today()           # 오늘 날짜 / 시간 /초
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))     # 오늘 날짜의 월을 추출
    globals()[f'{aa}DF'] = pd.DataFrame()
    for yy in [2020, 2021]:                                                   # 2020 ~ 2021
        for mm in range (1, 13):                                              # 1 ~ 12
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :     # 2020 1~3월/ 2021 현재월보다 크면 제외
                print(f'{yy}{str(mm).zfill(2)} fail')                         # zfill 문자열의 빈칸을 0으로 채워줌
            else:    
                temp = excelappend(aa, str(yy), str(mm).zfill(2))
                globals()[f'{aa}DF'] = globals()[f'{aa}DF'].append(temp, ignore_index=True)
                print(f'{aa} {yy}{str(mm).zfill(2)} success')

    globals()[f'{aa}DF'].sort_values( by = '날짜', ascending=False, inplace=True)
    save_PATH = f'C:/Users/ad/Desktop/test/tot/KOR_{aa}' # 저장경로
    globals()[f'{aa}DF'].to_excel(save_PATH + '.xlsx', index=False)
    globals()[f'{aa}DF'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
    globals()[f'{aa}DF_I'] = globals()[f'{aa}DF'].rename(RENAME_ALL, axis='columns')

In [435]:
for i in ['pm10', 'pm25', 'co', 'no2', 'o3', 'so2']:
    appendname(i)

202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm10/202004.xls
pm10 202004 success
C:/Users/minipojectweb/data/pm10/202005.xls
pm10 202005 success
C:/Users/minipojectweb/data/pm10/202006.xls
pm10 202006 success
C:/Users/minipojectweb/data/pm10/202007.xls
pm10 202007 success
C:/Users/minipojectweb/data/pm10/202008.xls
pm10 202008 success
C:/Users/minipojectweb/data/pm10/202009.xls
pm10 202009 success
C:/Users/minipojectweb/data/pm10/202010.xls
pm10 202010 success
C:/Users/minipojectweb/data/pm10/202011.xls
pm10 202011 success
C:/Users/minipojectweb/data/pm10/202012.xls
pm10 202012 success
C:/Users/minipojectweb/data/pm10/202101.xls
pm10 202101 success
C:/Users/minipojectweb/data/pm10/202102.xls
pm10 202102 success
C:/Users/minipojectweb/data/pm10/202103.xls
pm10 202103 success
C:/Users/minipojectweb/data/pm10/202104.xls
pm10 202104 success
C:/Users/minipojectweb/data/pm10/202105.xls
pm10 202105 success
C:/Users/minipojectweb/data/pm10/202106.xls
pm10 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm25/202004.xls
pm25 202004 success
C:/Users/minipojectweb/data/pm25/202005.xls
pm25 202005 success
C:/Users/minipojectweb/data/pm25/202006.xls
pm25 202006 success
C:/Users/minipojectweb/data/pm25/202007.xls
pm25 202007 success
C:/Users/minipojectweb/data/pm25/202008.xls
pm25 202008 success
C:/Users/minipojectweb/data/pm25/202009.xls
pm25 202009 success
C:/Users/minipojectweb/data/pm25/202010.xls
pm25 202010 success
C:/Users/minipojectweb/data/pm25/202011.xls
pm25 202011 success
C:/Users/minipojectweb/data/pm25/202012.xls
pm25 202012 success
C:/Users/minipojectweb/data/pm25/202101.xls
pm25 202101 success
C:/Users/minipojectweb/data/pm25/202102.xls
pm25 202102 success
C:/Users/minipojectweb/data/pm25/202103.xls
pm25 202103 success
C:/Users/minipojectweb/data/pm25/202104.xls
pm25 202104 success
C:/Users/minipojectweb/data/pm25/202105.xls
pm25 202105 success
C:/Users/minipojectweb/data/pm25/202106.xls
pm25 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/co/202004.xls
co 202004 success
C:/Users/minipojectweb/data/co/202005.xls
co 202005 success
C:/Users/minipojectweb/data/co/202006.xls
co 202006 success
C:/Users/minipojectweb/data/co/202007.xls
co 202007 success
C:/Users/minipojectweb/data/co/202008.xls
co 202008 success
C:/Users/minipojectweb/data/co/202009.xls
co 202009 success
C:/Users/minipojectweb/data/co/202010.xls
co 202010 success
C:/Users/minipojectweb/data/co/202011.xls
co 202011 success
C:/Users/minipojectweb/data/co/202012.xls
co 202012 success
C:/Users/minipojectweb/data/co/202101.xls
co 202101 success
C:/Users/minipojectweb/data/co/202102.xls
co 202102 success
C:/Users/minipojectweb/data/co/202103.xls
co 202103 success
C:/Users/minipojectweb/data/co/202104.xls
co 202104 success
C:/Users/minipojectweb/data/co/202105.xls
co 202105 success
C:/Users/minipojectweb/data/co/202106.xls
co 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/no2/202004.xls
no2 202004 success
C:/Users/minipojectweb/data/no2/202005.xls
no2 202005 success
C:/Users/minipojectweb/data/no2/202006.xls
no2 202006 success
C:/Users/minipojectweb/data/no2/202007.xls
no2 202007 success
C:/Users/minipojectweb/data/no2/202008.xls
no2 202008 success
C:/Users/minipojectweb/data/no2/202009.xls
no2 202009 success
C:/Users/minipojectweb/data/no2/202010.xls
no2 202010 success
C:/Users/minipojectweb/data/no2/202011.xls
no2 202011 success
C:/Users/minipojectweb/data/no2/202012.xls
no2 202012 success
C:/Users/minipojectweb/data/no2/202101.xls
no2 202101 success
C:/Users/minipojectweb/data/no2/202102.xls
no2 202102 success
C:/Users/minipojectweb/data/no2/202103.xls
no2 202103 success
C:/Users/minipojectweb/data/no2/202104.xls
no2 202104 success
C:/Users/minipojectweb/data/no2/202105.xls
no2 202105 success
C:/Users/minipojectweb/data/no2/202106.xls
no2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/o3/202004.xls
o3 202004 success
C:/Users/minipojectweb/data/o3/202005.xls
o3 202005 success
C:/Users/minipojectweb/data/o3/202006.xls
o3 202006 success
C:/Users/minipojectweb/data/o3/202007.xls
o3 202007 success
C:/Users/minipojectweb/data/o3/202008.xls
o3 202008 success
C:/Users/minipojectweb/data/o3/202009.xls
o3 202009 success
C:/Users/minipojectweb/data/o3/202010.xls
o3 202010 success
C:/Users/minipojectweb/data/o3/202011.xls
o3 202011 success
C:/Users/minipojectweb/data/o3/202012.xls
o3 202012 success
C:/Users/minipojectweb/data/o3/202101.xls
o3 202101 success
C:/Users/minipojectweb/data/o3/202102.xls
o3 202102 success
C:/Users/minipojectweb/data/o3/202103.xls
o3 202103 success
C:/Users/minipojectweb/data/o3/202104.xls
o3 202104 success
C:/Users/minipojectweb/data/o3/202105.xls
o3 202105 success
C:/Users/minipojectweb/data/o3/202106.xls
o3 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/so2/202004.xls
so2 202004 success
C:/Users/minipojectweb/data/so2/202005.xls
so2 202005 success
C:/Users/minipojectweb/data/so2/202006.xls
so2 202006 success
C:/Users/minipojectweb/data/so2/202007.xls
so2 202007 success
C:/Users/minipojectweb/data/so2/202008.xls
so2 202008 success
C:/Users/minipojectweb/data/so2/202009.xls
so2 202009 success
C:/Users/minipojectweb/data/so2/202010.xls
so2 202010 success
C:/Users/minipojectweb/data/so2/202011.xls
so2 202011 success
C:/Users/minipojectweb/data/so2/202012.xls
so2 202012 success
C:/Users/minipojectweb/data/so2/202101.xls
so2 202101 success
C:/Users/minipojectweb/data/so2/202102.xls
so2 202102 success
C:/Users/minipojectweb/data/so2/202103.xls
so2 202103 success
C:/Users/minipojectweb/data/so2/202104.xls
so2 202104 success
C:/Users/minipojectweb/data/so2/202105.xls
so2 202105 success
C:/Users/minipojectweb/data/so2/202106.xls
so2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [348]:
pm10DF_I

,날짜,SEOUL,PUSAN,DEAGU,INCHEON,KWANG_JU,DAEJEON,ULSAN,KYEONG_GI,KANGONE,CHUNG_BUK,CHUNG_NAM,JEON_BUK,JEON_NAM,KYUNG_BUK,KYUNG_NAM,JE_JU,SEJONG
426,2021-06-21,56,42,36,51,37,59,41,63,49,64,61,61,35,37,34,26.0,53
427,2021-06-20,51,42,36,62,35,34,43,57,35,39,46,40,34,35,36,36.0,38
428,2021-06-19,42,39,31,44,28,28,33,47,26,38,37,33,27,28,31,25.0,29
429,2021-06-18,17,23,31,15,13,12,27,19,15,13,13,14,15,22,24,17.0,12
430,2021-06-17,17,15,20,18,17,13,12,19,15,14,15,17,14,19,15,19.0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,47,34,33,44,32,35,31,48,33,41,45,36,31,31,32,36.0,39
26,2020-04-04,68,48,57,60,69,68,47,77,59,77,82,73,61,59,50,68.0,74
27,2020-04-03,56,37,43,47,47,44,40,56,40,47,54,52,40,39,33,48.0,50
28,2020-04-02,39,30,38,36,41,38,29,40,31,37,43,42,39,33,31,56.0,42
29,2020-04-01,69,35,56,60,43,50,41,74,49,66,61,49,40,49,41,44.0,58

In [436]:
def cutcity(what):
    for city in globals()[f'{what}DF_I'].columns[1:]:
        globals()[f'{what}{city}DF_II'] = globals()[f'{what}DF_I'][ [ '날짜',city ] ].rename({ city: what}, axis='columns')

In [437]:
append_list = ['pm10', 'pm25', 'co', 'no2', 'o3', 'so2']
for i in append_list:
    cutcity(i)

In [438]:
def mergecity(what, afterwhat):
    for city in globals()[f'{what}DF_I'].columns[1:]:
        globals()[f'{what}{city}DF_II'] = pd.merge(left = globals()[f'{what}{city}DF_II'], right = globals()[f'{afterwhat}{city}DF_II'], how = 'left', left_on ='날짜', right_on='날짜')
        globals()[f'{what}{city}DF_II'].drop_duplicates() # 중복 행제거 모든열기준
        globals()[f'{what}{city}DF_II'].sort_values( by = '날짜', ascending=False, inplace=True)
        #globals()[f'{what}{city}DF_II']['날짜'] = globals()[f'{what}{city}DF_II']['날짜'].dt.date
        pppath    = f'{city}_FIN'
        save_PATH = f'C:/Users/ad/Desktop/test/{pppath}'
        globals()[f'{what}{city}DF_II'].to_excel(save_PATH + '.xlsx', index=False)
        globals()[f'{what}{city}DF_II'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [439]:
append_list = ['pm25', 'co', 'no2', 'o3', 'so2']
for what in ['pm10']:
    pass
    for afterwhat in append_list:
        mergecity(what, afterwhat)

In [310]:
pm10CHUNG_NAMDF_II

             날짜  pm10  pm25   co    no2     o3    so2
0    2021-06-21    61    42  0.5  0.007  0.071  0.004
1    2021-06-20    46    27  0.5  0.006  0.068  0.004
2    2021-06-19    37    22  0.4  0.007  0.055  0.004
3    2021-06-18    13     8  0.3  0.006  0.039  0.003
4    2021-06-17    15     7  0.3  0.008  0.036  0.003
..          ...   ...   ...  ...    ...    ...    ...
442  2020-04-05    45    18  0.4  0.009  0.041  0.003
443  2020-04-04    82    26  0.4  0.010  0.041  0.003
444  2020-04-03    54    32  0.5  0.015  0.038  0.004
445  2020-04-02    43    25  0.4  0.014  0.035  0.003
446  2020-04-01    61    26  0.4  0.014  0.039  0.004

[447 rows x 7 columns]

In [440]:
#### 기상 불러오기
from numpy import append
import pandas as pd
import datetime

def excelappend2(a):
    filepath = f'C:/Users/minipojectweb/data/weather/{a}.xlsx'
    excel_df = pd.read_excel(filepath, usecols='B:F' ,header=0)
    excel_df.sort_values( by = '날짜', ascending=False, inplace=True)
    #excel_df.set_index('날짜', inplace=True)
    print (filepath)
    return(excel_df)

In [446]:
# 기상불러오기 함수 호출

for i in pm10DF_I.columns[1:]:
    globals()[f'{i}WDF'] =   excelappend2(i)
    globals()[f'{i}WDF'] =   globals()[f'{i}WDF'].drop(index=range(0,91), axis=0,)
    globals()[f'{i}WDF'].reset_index(drop=True, inplace=True)
    ####globals()[f'{i}WDF']['날짜'] = globals()[f'{i}WDF']['날짜'].dt.date
    globals()[f'{i}WDF'].날짜=globals()[f'{i}WDF'].날짜.astype(str)

C:/Users/minipojectweb/data/weather/SEOUL.xlsx
C:/Users/minipojectweb/data/weather/PUSAN.xlsx
C:/Users/minipojectweb/data/weather/DEAGU.xlsx
C:/Users/minipojectweb/data/weather/INCHEON.xlsx
C:/Users/minipojectweb/data/weather/KWANG_JU.xlsx
C:/Users/minipojectweb/data/weather/DAEJEON.xlsx
C:/Users/minipojectweb/data/weather/ULSAN.xlsx
C:/Users/minipojectweb/data/weather/KYEONG_GI.xlsx
C:/Users/minipojectweb/data/weather/KANGONE.xlsx
C:/Users/minipojectweb/data/weather/CHUNG_BUK.xlsx
C:/Users/minipojectweb/data/weather/CHUNG_NAM.xlsx
C:/Users/minipojectweb/data/weather/JEON_BUK.xlsx
C:/Users/minipojectweb/data/weather/JEON_NAM.xlsx
C:/Users/minipojectweb/data/weather/KYUNG_BUK.xlsx
C:/Users/minipojectweb/data/weather/KYUNG_NAM.xlsx
C:/Users/minipojectweb/data/weather/JE_JU.xlsx
C:/Users/minipojectweb/data/weather/SEJONG.xlsx

In [447]:
seoulWDF

             날짜  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)
0    2021-06-20      22.9       NaN         2.8        48.0
1    2021-06-19      22.3       NaN         1.8        49.0
2    2021-06-18      20.0       6.3         2.5        82.0
3    2021-06-17      21.9       0.0         2.4        58.0
4    2021-06-16      24.3       NaN         3.6        46.0
..          ...       ...       ...         ...         ...
441  2020-04-05       7.2       NaN         2.8        29.5
442  2020-04-04       8.9       NaN         3.4        36.4
443  2020-04-03      10.0       NaN         2.7        53.8
444  2020-04-02       9.3       NaN         2.3        41.4
445  2020-04-01      11.3       NaN         3.7        35.6

[446 rows x 5 columns]

In [443]:
def mergeWcity(what):
     for wcity in pm10DF_I.columns[1:]:
         if what == wcity :
            print(what, wcity)
            globals()[f'{what}WFIN'] = pd.merge(
                left = globals()[f'pm10{what}DF_II'], right = globals()[f'{wcity}WDF'], how = 'left', left_on ='날짜',
                    right_on='날짜')

            globals()[f'{what}WFIN'].drop_duplicates() # 중복 행제거 모든열기준
            globals()[f'{what}WFIN'].sort_values( by = '날짜', ascending=False, inplace=True)
            pppath    = f'{what}FIN'
            save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
            globals()[f'{what}WFIN'].to_excel(save_PATH + '.xlsx', index=False)
            globals()[f'{what}WFIN'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
     # 결측치 제거      
     for i in pm10DF_I.columns[1:]:
        globals()[f'{i}WFIN'].fillna({'일강수량(mm)': 0.0}, inplace=True)
        globals()[f'{i}WFIN']['평균기온(°C)'].ffill(inplace=True)
        globals()[f'{i}WFIN']['평균 풍속(m/s)'].ffill(inplace=True)
        globals()[f'{i}WFIN']['평균 상대습도(%)'].bfill(inplace=True)

        globals()[f'{i}WFIN'].drop_duplicates() # 중복 행제거 모든열기준
        globals()[f'{i}WFIN'].sort_values( by = '날짜', ascending=False, inplace=True)
     for  i in pm10DF_I.columns[1:]:
        globals()[f'{i}WFIN'].fillna({'일강수량(mm)': 0.0}, inplace=True)
        globals()[f'{i}WFIN']['평균기온(°C)'].ffill(inplace=True)
        globals()[f'{i}WFIN']['평균기온(°C)'].bfill(inplace=True)
        globals()[f'{i}WFIN']['평균 풍속(m/s)'].ffill(inplace=True)
        globals()[f'{i}WFIN']['평균 풍속(m/s)'].bfill(inplace=True)
        globals()[f'{i}WFIN']['평균 상대습도(%)'].ffill(inplace=True)
        globals()[f'{i}WFIN']['평균 상대습도(%)'].bfill(inplace=True)                   
        pppath    = f'{i}FIN'
        save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
        globals()[f'{i}WFIN'].to_excel(save_PATH + '.xlsx', index=False)
        globals()[f'{i}WFIN'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [444]:
for i in pm10DF_I.columns[1:]:
    mergeWcity(i)

SEOUL SEOUL
PUSAN PUSAN
DEAGU DEAGU
INCHEON INCHEON
KWANG_JU KWANG_JU
DAEJEON DAEJEON
ULSAN ULSAN
KYEONG_GI KYEONG_GI
KANGONE KANGONE
CHUNG_BUK CHUNG_BUK
CHUNG_NAM CHUNG_NAM
JEON_BUK JEON_BUK
JEON_NAM JEON_NAM
KYUNG_BUK KYUNG_BUK
KYUNG_NAM KYUNG_NAM
JE_JU JE_JU
SEJONG SEJONG

In [433]:
ULSANWFIN

,날짜,pm10,pm25,co,no2,o3,so2,평균기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%)
0,2021-06-21,41,29,0.5,0.023,0.029,0.004,23.1,0.0,1.2,55.0
1,2021-06-20,43,29,0.5,0.017,0.059,0.005,23.1,0.0,1.2,55.0
2,2021-06-19,33,20,0.4,0.014,0.052,0.003,23.0,0.0,1.9,42.0
3,2021-06-18,27,18,0.4,0.022,0.024,0.004,21.1,2.9,0.9,75.0
4,2021-06-17,12,6,0.3,0.012,0.029,0.003,18.7,1.3,1.8,85.0
...,...,...,...,...,...,...,...,...,...,...,...
442,2020-04-05,31,9,0.4,0.011,0.042,0.004,8.7,0.0,2.2,49.3
443,2020-04-04,47,22,0.4,0.016,0.044,0.004,11.2,0.0,2.7,49.6
444,2020-04-03,40,24,0.5,0.024,0.040,0.005,13.6,0.0,2.1,37.6
445,2020-04-02,29,17,0.4,0.017,0.040,0.004,11.0,0.0,2.4,50.0
446,2020-04-01,41,23,0.5,0.019,0.034,0.004,11.8,0.8,2.1,76.1

In [445]:
def finalimport(a):
    filepath = f'C:/Users/ad/Desktop/test/fin/{a}'
    excel_df = pd.read_excel(filepath)
    print (filepath)
    return(excel_df)

In [ ]:
columnsss = ['SEOUL', 'PUSAN', 'DEAGU', 'INCHEON', 'KWANG_JU', 'DAEJEON', 'ULSAN',
       'KYEONG_GI', 'KANGONE', 'CHUNG_BUK', 'CHUNG_NAM', 'JEON_BUK',
       'JEON_NAM', 'KYUNG_BUK', 'KYUNG_NAM', 'JE_JU', 'SEJONG']
for i in columnsss:
    finalimport(i)

In [ ]:
# 기상불러오기 함수 호출

for i in pm10DF_I.columns[1:]:
    globals()[f'{i}WDF'] =   excelappend2(i)
    globals()[f'{i}WDF'] =   globals()[f'{i}WDF'].drop(index=range(0,91), axis=0,)
    globals()[f'{i}WDF'].reset_index(drop=True, inplace=True)
    ####globals()[f'{i}WDF']['날짜'] = globals()[f'{i}WDF']['날짜'].dt.date
    globals()[f'{i}WDF'].날짜=globals()[f'{i}WDF'].날짜.astype(str)