In [231]:
# from numpy import append
# import pandas as pd
# import datetime

# RENAME_ALL = {
#     '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
#     '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
#     '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}

# def excelappend(aa, yy, mm):
#     '''
#     aa = 파일경로
#     yy = 년도 4자리(ex: 2020)
#     mm = 월 2자리 (ex : 01, 11, 12)
#     '''
#     filepath = f'C:/Users/minipojectweb/data/{aa}/{yy}{mm}.xls' 
#     excel_df = pd.read_excel(filepath, header=3)
#     print (filepath)
#     return(excel_df)

# def appendname(aa):
#     '''
#     aa는 excelappend의 aa (파일 경로를 뜻함)
#     '''
#     CURRENTTIME = datetime.datetime.today()                        # 오늘 날짜 / 시간 /초
#     CURRENTTIME = int(CURRENTTIME.strftime('%m'))                  # 오늘 날짜의 월을 추출
#     globals()[f'{aa}DF'] = pd.DataFrame()
#     for yy in [2020, 2021]:                                        # 년도는 2020, 2021 두개
#         for mm in range (1, 13):                                   # 월은 1~12
#             if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME : # 2020 1~3월/ 2021 현재월보다 크면 제외
#                 print(f'{yy}{str(mm).zfill(2)} fail')
#             else:    
#                 temp = excelappend(aa, str(yy), str(mm).zfill(2))          # zfill 문자열의 빈칸을 0으로 채워줌
#                 globals()[f'{aa}DF'] = globals()[f'{aa}DF'].append(temp, ignore_index=True)
#                 print(f'{aa} {yy}{str(mm).zfill(2)} success')

#     globals()[f'{aa}DF'].sort_values( by = '날짜', ascending=False, inplace=True)
#     save_PATH = f'C:/Users/ad/Desktop/tot/test/KOR_{aa}' # 저장경로
#     globals()[f'{aa}DF'].to_excel(save_PATH + '.xlsx', index=False)
#     globals()[f'{aa}DF'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
#     globals()[f'{aa}DF_I'] = globals()[f'{aa}DF'].rename(RENAME_ALL, axis='columns')

In [93]:
from numpy import append
import pandas as pd
import datetime
import numpy as np


def excelappend(aa, yy, mm):
    '''
    aa = 파일경로
    yy = 년도 4자리(ex: 2020)
    mm = 월 2자리 (ex : 01, 11, 12)
    '''
    filepath = f'C:/Users/minipojectweb/data/{aa}/{yy}{mm}.xls'
    excel_df = pd.read_excel(filepath, header=3)
    print (filepath)
    return(excel_df)

def appendname(aa):
    '''
    aa는 excelappend의 aa (파일 경로를 뜻함)
    '''
    RENAME_ALL = {
    '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
    '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
    '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}
    
    CURRENTTIME = datetime.datetime.today()           # 오늘 날짜 / 시간 /초
    CURRENTTIME = int(CURRENTTIME.strftime('%m'))     # 오늘 날짜의 월을 추출
    globals()[f'{aa}DF'] = pd.DataFrame()
    for yy in [2020, 2021]:                                                   # 2020 ~ 2021
        for mm in range (1, 13):                                              # 1 ~ 12
            if yy == 2020 and mm < 4 or yy == 2021 and mm > CURRENTTIME :     # 2020 1~3월/ 2021 현재월보다 크면 제외
                print(f'{yy}{str(mm).zfill(2)} fail')                         # zfill 문자열의 빈칸을 0으로 채워줌
            else:    
                temp = excelappend(aa, str(yy), str(mm).zfill(2))
                globals()[f'{aa}DF'] = globals()[f'{aa}DF'].append(temp, ignore_index=True)
                print(f'{aa} {yy}{str(mm).zfill(2)} success')

    globals()[f'{aa}DF'].sort_values( by = '날짜', ascending=False, inplace=True)
    save_PATH = f'C:/Users/ad/Desktop/test/tot/KOR_{aa}' # 저장경로
    globals()[f'{aa}DF'].to_excel(save_PATH + '.xlsx', index=False)
    globals()[f'{aa}DF'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
    globals()[f'{aa}DF_I'] = globals()[f'{aa}DF'].rename(RENAME_ALL, axis='columns')

In [94]:
for i in ['pm10', 'pm25', 'co', 'no2', 'o3', 'so2']:
    appendname(i)

202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm10/202004.xls
pm10 202004 success
C:/Users/minipojectweb/data/pm10/202005.xls
pm10 202005 success
C:/Users/minipojectweb/data/pm10/202006.xls
pm10 202006 success
C:/Users/minipojectweb/data/pm10/202007.xls
pm10 202007 success
C:/Users/minipojectweb/data/pm10/202008.xls
pm10 202008 success
C:/Users/minipojectweb/data/pm10/202009.xls
pm10 202009 success
C:/Users/minipojectweb/data/pm10/202010.xls
pm10 202010 success
C:/Users/minipojectweb/data/pm10/202011.xls
pm10 202011 success
C:/Users/minipojectweb/data/pm10/202012.xls
pm10 202012 success
C:/Users/minipojectweb/data/pm10/202101.xls
pm10 202101 success
C:/Users/minipojectweb/data/pm10/202102.xls
pm10 202102 success
C:/Users/minipojectweb/data/pm10/202103.xls
pm10 202103 success
C:/Users/minipojectweb/data/pm10/202104.xls
pm10 202104 success
C:/Users/minipojectweb/data/pm10/202105.xls
pm10 202105 success
C:/Users/minipojectweb/data/pm10/202106.xls
pm10 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/pm25/202004.xls
pm25 202004 success
C:/Users/minipojectweb/data/pm25/202005.xls
pm25 202005 success
C:/Users/minipojectweb/data/pm25/202006.xls
pm25 202006 success
C:/Users/minipojectweb/data/pm25/202007.xls
pm25 202007 success
C:/Users/minipojectweb/data/pm25/202008.xls
pm25 202008 success
C:/Users/minipojectweb/data/pm25/202009.xls
pm25 202009 success
C:/Users/minipojectweb/data/pm25/202010.xls
pm25 202010 success
C:/Users/minipojectweb/data/pm25/202011.xls
pm25 202011 success
C:/Users/minipojectweb/data/pm25/202012.xls
pm25 202012 success
C:/Users/minipojectweb/data/pm25/202101.xls
pm25 202101 success
C:/Users/minipojectweb/data/pm25/202102.xls
pm25 202102 success
C:/Users/minipojectweb/data/pm25/202103.xls
pm25 202103 success
C:/Users/minipojectweb/data/pm25/202104.xls
pm25 202104 success
C:/Users/minipojectweb/data/pm25/202105.xls
pm25 202105 success
C:/Users/minipojectweb/data/pm25/202106.xls
pm25 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/co/202004.xls
co 202004 success
C:/Users/minipojectweb/data/co/202005.xls
co 202005 success
C:/Users/minipojectweb/data/co/202006.xls
co 202006 success
C:/Users/minipojectweb/data/co/202007.xls
co 202007 success
C:/Users/minipojectweb/data/co/202008.xls
co 202008 success
C:/Users/minipojectweb/data/co/202009.xls
co 202009 success
C:/Users/minipojectweb/data/co/202010.xls
co 202010 success
C:/Users/minipojectweb/data/co/202011.xls
co 202011 success
C:/Users/minipojectweb/data/co/202012.xls
co 202012 success
C:/Users/minipojectweb/data/co/202101.xls
co 202101 success
C:/Users/minipojectweb/data/co/202102.xls
co 202102 success
C:/Users/minipojectweb/data/co/202103.xls
co 202103 success
C:/Users/minipojectweb/data/co/202104.xls
co 202104 success
C:/Users/minipojectweb/data/co/202105.xls
co 202105 success
C:/Users/minipojectweb/data/co/202106.xls
co 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/no2/202004.xls
no2 202004 success
C:/Users/minipojectweb/data/no2/202005.xls
no2 202005 success
C:/Users/minipojectweb/data/no2/202006.xls
no2 202006 success
C:/Users/minipojectweb/data/no2/202007.xls
no2 202007 success
C:/Users/minipojectweb/data/no2/202008.xls
no2 202008 success
C:/Users/minipojectweb/data/no2/202009.xls
no2 202009 success
C:/Users/minipojectweb/data/no2/202010.xls
no2 202010 success
C:/Users/minipojectweb/data/no2/202011.xls
no2 202011 success
C:/Users/minipojectweb/data/no2/202012.xls
no2 202012 success
C:/Users/minipojectweb/data/no2/202101.xls
no2 202101 success
C:/Users/minipojectweb/data/no2/202102.xls
no2 202102 success
C:/Users/minipojectweb/data/no2/202103.xls
no2 202103 success
C:/Users/minipojectweb/data/no2/202104.xls
no2 202104 success
C:/Users/minipojectweb/data/no2/202105.xls
no2 202105 success
C:/Users/minipojectweb/data/no2/202106.xls
no2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/o3/202004.xls
o3 202004 success
C:/Users/minipojectweb/data/o3/202005.xls
o3 202005 success
C:/Users/minipojectweb/data/o3/202006.xls
o3 202006 success
C:/Users/minipojectweb/data/o3/202007.xls
o3 202007 success
C:/Users/minipojectweb/data/o3/202008.xls
o3 202008 success
C:/Users/minipojectweb/data/o3/202009.xls
o3 202009 success
C:/Users/minipojectweb/data/o3/202010.xls
o3 202010 success
C:/Users/minipojectweb/data/o3/202011.xls
o3 202011 success
C:/Users/minipojectweb/data/o3/202012.xls
o3 202012 success
C:/Users/minipojectweb/data/o3/202101.xls
o3 202101 success
C:/Users/minipojectweb/data/o3/202102.xls
o3 202102 success
C:/Users/minipojectweb/data/o3/202103.xls
o3 202103 success
C:/Users/minipojectweb/data/o3/202104.xls
o3 202104 success
C:/Users/minipojectweb/data/o3/202105.xls
o3 202105 success
C:/Users/minipojectweb/data/o3/202106.xls
o3 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail
202001 fail
202002 fail
202003 fail
C:/Users/minipojectweb/data/so2/202004.xls
so2 202004 success
C:/Users/minipojectweb/data/so2/202005.xls
so2 202005 success
C:/Users/minipojectweb/data/so2/202006.xls
so2 202006 success
C:/Users/minipojectweb/data/so2/202007.xls
so2 202007 success
C:/Users/minipojectweb/data/so2/202008.xls
so2 202008 success
C:/Users/minipojectweb/data/so2/202009.xls
so2 202009 success
C:/Users/minipojectweb/data/so2/202010.xls
so2 202010 success
C:/Users/minipojectweb/data/so2/202011.xls
so2 202011 success
C:/Users/minipojectweb/data/so2/202012.xls
so2 202012 success
C:/Users/minipojectweb/data/so2/202101.xls
so2 202101 success
C:/Users/minipojectweb/data/so2/202102.xls
so2 202102 success
C:/Users/minipojectweb/data/so2/202103.xls
so2 202103 success
C:/Users/minipojectweb/data/so2/202104.xls
so2 202104 success
C:/Users/minipojectweb/data/so2/202105.xls
so2 202105 success
C:/Users/minipojectweb/data/so2/202106.xls
so2 202106 success
202107 fail
202108 fail
202109 fail
202110 fail
202111 fail
202112 fail

In [95]:
pm10DF_I

,날짜,SEOUL,PUSAN,DEAGU,INCHEON,KWANG_JU,DAEJEON,ULSAN,KYEONG_GI,KANGONE,CHUNG_BUK,CHUNG_NAM,JEON_BUK,JEON_NAM,KYUNG_BUK,KYUNG_NAM,JE_JU,SEJONG
426,2021-06-25,45,25,39,65,25,28,22,52,24,38,37,34,22,29,28,23.0,31
427,2021-06-24,31,17,28,39,24,27,17,36,18,28,35,35,21,21,22,31.0,27
428,2021-06-23,18,18,27,27,29,27,14,23,13,21,30,39,25,19,25,28.0,24
429,2021-06-22,23,21,32,37,30,24,18,32,14,24,33,36,30,24,28,31.0,26
430,2021-06-21,41,37,31,42,32,40,33,47,32,46,48,50,34,33,32,36.0,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2020-04-05,47,34,33,44,32,35,31,48,33,41,45,36,31,31,32,36.0,39
26,2020-04-04,68,48,57,60,69,68,47,77,59,77,82,73,61,59,50,68.0,74
27,2020-04-03,56,37,43,47,47,44,40,56,40,47,54,52,40,39,33,48.0,50
28,2020-04-02,39,30,38,36,41,38,29,40,31,37,43,42,39,33,31,56.0,42
29,2020-04-01,69,35,56,60,43,50,41,74,49,66,61,49,40,49,41,44.0,58

In [96]:
def cutcity(what):
    for city in pm10DF_I.columns[1:]:
        globals()[f'{what}{city}DF_II'] = globals()[f'{what}DF_I'][ [ '날짜',city ] ].rename({ city: what}, axis='columns')

In [97]:
append_list = ['pm10', 'pm25', 'co', 'no2', 'o3', 'so2']
for i in append_list:
    cutcity(i)

In [98]:
def mergecity(what, afterwhat):
    for city in globals()[f'{what}DF_I'].columns[1:]:
        globals()[f'{what}{city}DF_II'] = pd.merge(left = globals()[f'{what}{city}DF_II'], right = globals()[f'{afterwhat}{city}DF_II'], how = 'left', left_on ='날짜', right_on='날짜')
        globals()[f'{what}{city}DF_II'].drop_duplicates() # 중복 행제거 모든열기준
        globals()[f'{what}{city}DF_II'].sort_values( by = '날짜', ascending=False, inplace=True)
        #globals()[f'{what}{city}DF_II']['날짜'] = globals()[f'{what}{city}DF_II']['날짜'].dt.date
        pppath    = f'{city}_FIN'
        save_PATH = f'C:/Users/ad/Desktop/test/{pppath}'
        globals()[f'{what}{city}DF_II'].to_excel(save_PATH + '.xlsx', index=False)
        globals()[f'{what}{city}DF_II'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [99]:
append_list = ['pm25', 'co', 'no2', 'o3', 'so2']
for what in ['pm10']:
    pass
    for afterwhat in append_list:
        mergecity(what, afterwhat)

In [100]:
pm10CHUNG_NAMDF_II

             날짜  pm10  pm25   co    no2     o3    so2
0    2021-06-25    37    23  0.4  0.010  0.025  0.004
1    2021-06-24    35    21  0.4  0.009  0.039  0.004
2    2021-06-23    30    19  0.4  0.011  0.038  0.003
3    2021-06-22    33    20  0.4  0.011  0.049  0.004
4    2021-06-21    48    31  0.5  0.009  0.067  0.004
..          ...   ...   ...  ...    ...    ...    ...
446  2020-04-05    45    18  0.4  0.009  0.041  0.003
447  2020-04-04    82    26  0.4  0.010  0.041  0.003
448  2020-04-03    54    32  0.5  0.015  0.038  0.004
449  2020-04-02    43    25  0.4  0.014  0.035  0.003
450  2020-04-01    61    26  0.4  0.014  0.039  0.004

[451 rows x 7 columns]

In [42]:
# # 참고 파일읽어오기 2
# import pandas as pd
# import os
# openpath = 'C:/Users/ad/Documents/카카오톡 받은 파일/fin/'


# def auto(): # file_list에는 파일 이름과 확장자만 저장
#   file_list = os.listdir(openpath)
#   name_list = []
#   for file_name in file_list:
#     if ".xlsx" in file_name:
#         openfilename = openpath + file_name  
#         name_list.append(file_name) # name_list에는 파일경로 및 이름까지 저장

#   for file in name_list:
#       RENAME_ALL = {'pm25':'pm2.5',
#                     '평균기온(°C)':'mean temperature(°C)',
#                     '일강수량(mm)':'daily precipitation(mm)',
#                     '평균 풍속(m/s)':'mean wind speed', 
#                     '평균 상대습도(%)':'average relatively humidity(%)'} 
#       tmp = pd.read_excel(openfilename)
#       print(tmp.columns)


#       tmp.rename(RENAME_ALL, axis='columns', inplace=True)
#       print(tmp.columns)
#       savepath = f'C:/Users/ad/Desktop/test/test/{file}'
#       tmp.to_excel(savepath, index=False)
#       print(file)
#       print(savepath)

In [101]:
#### 기상 불러오기
from numpy import append
import pandas as pd
import datetime

def excelappend2(a):
    filepath = f'C:/Users/minipojectweb/data/weather/{a}.xlsx'
    excel_df = pd.read_excel(filepath, usecols='B:F' ,header=0)
    excel_df.sort_values( by = '날짜', ascending=False, inplace=True)
    #excel_df.set_index('날짜', inplace=True)
    print (filepath)
    return(excel_df)

In [102]:
# 기상불러오기 함수 호출

for i in pm10DF_I.columns[1:]:
    globals()[f'{i}WDF'] =   excelappend2(i)
    globals()[f'{i}WDF'] =   globals()[f'{i}WDF'].drop(index=range(0,91), axis=0,)
    globals()[f'{i}WDF'].reset_index(drop=True, inplace=True)
    ####globals()[f'{i}WDF']['날짜'] = globals()[f'{i}WDF']['날짜'].dt.date
    globals()[f'{i}WDF'].날짜=globals()[f'{i}WDF'].날짜.astype(str)

C:/Users/minipojectweb/data/weather/SEOUL.xlsx
C:/Users/minipojectweb/data/weather/PUSAN.xlsx
C:/Users/minipojectweb/data/weather/DEAGU.xlsx
C:/Users/minipojectweb/data/weather/INCHEON.xlsx
C:/Users/minipojectweb/data/weather/KWANG_JU.xlsx
C:/Users/minipojectweb/data/weather/DAEJEON.xlsx
C:/Users/minipojectweb/data/weather/ULSAN.xlsx
C:/Users/minipojectweb/data/weather/KYEONG_GI.xlsx
C:/Users/minipojectweb/data/weather/KANGONE.xlsx
C:/Users/minipojectweb/data/weather/CHUNG_BUK.xlsx
C:/Users/minipojectweb/data/weather/CHUNG_NAM.xlsx
C:/Users/minipojectweb/data/weather/JEON_BUK.xlsx
C:/Users/minipojectweb/data/weather/JEON_NAM.xlsx
C:/Users/minipojectweb/data/weather/KYUNG_BUK.xlsx
C:/Users/minipojectweb/data/weather/KYUNG_NAM.xlsx
C:/Users/minipojectweb/data/weather/JE_JU.xlsx
C:/Users/minipojectweb/data/weather/SEJONG.xlsx

In [103]:
pm10DF_I.columns[1:]
PUSANWDF
#pm10PUSANDF_II

             날짜  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)
0    2021-06-20      23.0       NaN         2.6        53.0
1    2021-06-19      22.9       NaN         2.2        51.0
2    2021-06-18      20.0       5.0         2.4        78.0
3    2021-06-17      19.9       1.1         2.5        70.0
4    2021-06-16      20.0      13.5         3.9        75.0
..          ...       ...       ...         ...         ...
441  2020-04-05       9.7       NaN         3.4        43.4
442  2020-04-04      12.8       NaN         4.0        43.3
443  2020-04-03      13.8       NaN         3.8        38.6
444  2020-04-02      11.5       NaN         3.5        42.8
445  2020-04-01      12.5       2.7         2.7        60.1

[446 rows x 5 columns]

In [104]:
def mergeWcity(what):
     for wcity in pm10DF_I.columns[1:]:
         if what == wcity :
            print(what, wcity)
            globals()[f'{what}WFIN'] = pd.merge(
                left = globals()[f'pm10{what}DF_II'], right = globals()[f'{wcity}WDF'], how = 'left', left_on ='날짜',
                    right_on='날짜')

            globals()[f'{what}WFIN'].drop_duplicates() # 중복 행제거 모든열기준
            globals()[f'{what}WFIN'].sort_values( by = '날짜', ascending=False, inplace=True)
            # pppath    = f'{what}FIN'
            # save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
            # globals()[f'{what}WFIN'].to_excel(save_PATH + '.xlsx', index=False)
            # globals()[f'{what}WFIN'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [105]:
a = 0
for i in pm10DF_I.columns[1:]:
    a += 1
    print(a)
    mergeWcity(i)

1
SEOUL SEOUL
2
PUSAN PUSAN
3
DEAGU DEAGU
4
INCHEON INCHEON
5
KWANG_JU KWANG_JU
6
DAEJEON DAEJEON
7
ULSAN ULSAN
8
KYEONG_GI KYEONG_GI
9
KANGONE KANGONE
10
CHUNG_BUK CHUNG_BUK
11
CHUNG_NAM CHUNG_NAM
12
JEON_BUK JEON_BUK
13
JEON_NAM JEON_NAM
14
KYUNG_BUK KYUNG_BUK
15
KYUNG_NAM KYUNG_NAM
16
JE_JU JE_JU
17
SEJONG SEJONG

In [106]:
PUSANWFIN

,날짜,pm10,pm25,co,no2,o3,so2,평균기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%)
0,2021-06-25,25,17,0.3,0.018,0.020,0.003,NaN,NaN,NaN,NaN
1,2021-06-24,17,9,0.2,0.012,0.036,0.003,NaN,NaN,NaN,NaN
2,2021-06-23,18,9,0.2,0.010,0.033,0.002,NaN,NaN,NaN,NaN
3,2021-06-22,21,9,0.2,0.010,0.038,0.003,NaN,NaN,NaN,NaN
4,2021-06-21,37,22,0.3,0.016,0.046,0.003,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
446,2020-04-05,34,11,0.3,0.010,0.042,0.003,9.7,NaN,3.4,43.4
447,2020-04-04,48,23,0.4,0.014,0.047,0.004,12.8,NaN,4.0,43.3
448,2020-04-03,37,21,0.4,0.022,0.039,0.004,13.8,NaN,3.8,38.6
449,2020-04-02,30,16,0.3,0.015,0.040,0.003,11.5,NaN,3.5,42.8
450,2020-04-01,35,19,0.4,0.020,0.036,0.003,12.5,2.7,2.7,60.1

In [107]:
for  i in pm10DF_I.columns[1:]:
        RENAME_ALL = {
            '날짜':'DATE', 'pm10':'PM10', 'pm25':'PM2.5', 'co':'CO', 'no2':'NO2', 'o3':'O3', 'so2':'SO2', 
            '평균기온(°C)':'CENTIGRADE', '일강수량(mm)':'PRECIPITATION', '평균 풍속(m/s)':'WIND SPEED', 
            '평균 상대습도(%)':'RELATIVE HUMIDITY' }
        globals()[f'{i}WFIN'] = globals()[f'{i}WFIN'].rename(RENAME_ALL, axis='columns')
        #-- 컬럼명 제지정 상위 2개----

        #-- 결측치 제거 --
        globals()[f'{i}WFIN'].fillna({'PRECIPITATION': 0.0}, inplace=True)
        globals()[f'{i}WFIN']['CENTIGRADE'].ffill(inplace=True)
        globals()[f'{i}WFIN']['CENTIGRADE'].bfill(inplace=True)
        globals()[f'{i}WFIN']['WIND SPEED'].ffill(inplace=True)
        globals()[f'{i}WFIN']['WIND SPEED'].bfill(inplace=True)
        globals()[f'{i}WFIN']['RELATIVE HUMIDITY'].ffill(inplace=True)
        globals()[f'{i}WFIN']['RELATIVE HUMIDITY'].bfill(inplace=True)
        globals()[f'{i}WFIN'].drop_duplicates() # 중복 행제거 모든열기준
        globals()[f'{i}WFIN'].sort_values( by = 'DATE', ascending=False, inplace=True)
        # -- 이하 저장 --                   
        pppath    = f'{i}FIN'
        save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
        globals()[f'{i}WFIN'].to_excel(save_PATH + '.xlsx', index=False)
        globals()[f'{i}WFIN'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [108]:
PUSANWFIN

,DATE,PM10,PM2.5,CO,NO2,O3,SO2,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-25,25,17,0.3,0.018,0.020,0.003,23.0,0.0,2.6,53.0
1,2021-06-24,17,9,0.2,0.012,0.036,0.003,23.0,0.0,2.6,53.0
2,2021-06-23,18,9,0.2,0.010,0.033,0.002,23.0,0.0,2.6,53.0
3,2021-06-22,21,9,0.2,0.010,0.038,0.003,23.0,0.0,2.6,53.0
4,2021-06-21,37,22,0.3,0.016,0.046,0.003,23.0,0.0,2.6,53.0
...,...,...,...,...,...,...,...,...,...,...,...
446,2020-04-05,34,11,0.3,0.010,0.042,0.003,9.7,0.0,3.4,43.4
447,2020-04-04,48,23,0.4,0.014,0.047,0.004,12.8,0.0,4.0,43.3
448,2020-04-03,37,21,0.4,0.022,0.039,0.004,13.8,0.0,3.8,38.6
449,2020-04-02,30,16,0.3,0.015,0.040,0.003,11.5,0.0,3.5,42.8
450,2020-04-01,35,19,0.4,0.020,0.036,0.003,12.5,2.7,2.7,60.1

In [ ]:
#-----------여기까지

In [76]:
#오류발생 사용금지
def mergeWcity(what):
     columns = ['SEOUL', 'PUSAN', 'DEAGU', 'INCHEON', 'KWANG_JU', 'DAEJEON', 'ULSAN',
       'KYEONG_GI', 'KANGONE', 'CHUNG_BUK', 'CHUNG_NAM', 'JEON_BUK',
       'JEON_NAM', 'KYUNG_BUK', 'KYUNG_NAM', 'JE_JU', 'SEJONG']
     for wcity in columns:
         if what == wcity :
            print(what, wcity)
            globals()[f'{what}F'] = pd.merge(
                left = globals()[f'pm10{what}DF_II'], right = globals()[f'{wcity}WDF'], how = 'left', left_on ='날짜',
                    right_on='날짜')

            globals()[f'{what}F'].drop_duplicates() # 중복 행제거 모든열기준
            globals()[f'{what}F'].sort_values( by = '날짜', ascending=False, inplace=True )
            
            # pppath    = f'{what}FIN'
            # save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
            # globals()[f'{what}WFIN'].to_excel(save_PATH + '.xlsx', index=False)
            # globals()[f'{what}WFIN'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
            RENAME_ALL = {
              '날짜':'DATE', 'pm10':'PM10', 'pm25':'PM2.5', 'co':'CO', 'no2':'NO2', 'o3':'O3', 'so2':'SO2', 
              '평균기온(°C)':'CENTIGRADE', '일강수량(mm)':'PRECIPITATION', '평균 풍속(m/s)':'WIND SPEED', 
              '평균 상대습도(%)':'RELATIVE HUMIDITY' }
            globals()[f'{what}F'] = globals()[f'{what}WDF'].rename(RENAME_ALL, axis='columns')
          #-- 컬럼명 제지정 상위 2개----

          #-- 결측치 제거 --
            globals()[f'{what}F'].fillna({'PRECIPITATION': 0.0}, inplace=True)
            globals()[f'{what}F']['CENTIGRADE'].ffill(inplace=True)
            globals()[f'{what}F']['CENTIGRADE'].bfill(inplace=True)
            globals()[f'{what}F']['WIND SPEED'].ffill(inplace=True)
            globals()[f'{what}F']['WIND SPEED'].bfill(inplace=True)
            globals()[f'{what}F']['RELATIVE HUMIDITY'].ffill(inplace=True)
            globals()[f'{what}F']['RELATIVE HUMIDITY'].bfill(inplace=True)
            globals()[f'{what}F'].drop_duplicates() # 중복 행제거 모든열기준
            globals()[f'{what}F'].sort_values( by = 'DATE', ascending=False, inplace=True)
          # -- 이하 저장 --                   
            pppath    = f'{i}FIN'
            save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
            globals()[f'{i}F'].to_excel(save_PATH + '.xlsx', index=False)
            globals()[f'{i}F'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [77]:
a = 0
columns = ['SEOUL', 'PUSAN', 'DEAGU', 'INCHEON', 'KWANG_JU', 'DAEJEON', 'ULSAN',
       'KYEONG_GI', 'KANGONE', 'CHUNG_BUK', 'CHUNG_NAM', 'JEON_BUK',
       'JEON_NAM', 'KYUNG_BUK', 'KYUNG_NAM', 'JE_JU', 'SEJONG']
for i in columns[1:]:
    a += 1
    print(a)
    mergeWcity(i)

1
PUSAN PUSAN
2
DEAGU DEAGU
3
INCHEON INCHEON
4
KWANG_JU KWANG_JU
5
DAEJEON DAEJEON
6
ULSAN ULSAN
7
KYEONG_GI KYEONG_GI
8
KANGONE KANGONE
9
CHUNG_BUK CHUNG_BUK
10
CHUNG_NAM CHUNG_NAM
11
JEON_BUK JEON_BUK
12
JEON_NAM JEON_NAM
13
KYUNG_BUK KYUNG_BUK
14
KYUNG_NAM KYUNG_NAM
15
JE_JU JE_JU
16
SEJONG SEJONG

In [78]:
PUSANF

           DATE  CENTIGRADE  PRECIPITATION  WIND SPEED  RELATIVE HUMIDITY
0    2021-06-20        23.0            0.0         2.6               53.0
1    2021-06-19        22.9            0.0         2.2               51.0
2    2021-06-18        20.0            5.0         2.4               78.0
3    2021-06-17        19.9            1.1         2.5               70.0
4    2021-06-16        20.0           13.5         3.9               75.0
..          ...         ...            ...         ...                ...
441  2020-04-05         9.7            0.0         3.4               43.4
442  2020-04-04        12.8            0.0         4.0               43.3
443  2020-04-03        13.8            0.0         3.8               38.6
444  2020-04-02        11.5            0.0         3.5               42.8
445  2020-04-01        12.5            2.7         2.7               60.1

[446 rows x 5 columns]

In [48]:
# 최종파일 오픈 최종

def finalopen(a):
    filepath = f'C:/Users/ad/Desktop/test/fin/{a}FIN.xlsx'
    excel_df = pd.read_excel(filepath)
    print (filepath)
    return(excel_df)
    
columns = ['SEOUL', 'PUSAN', 'DEAGU', 'INCHEON', 'KWANG_JU', 'DAEJEON', 'ULSAN',
       'KYEONG_GI', 'KANGONE', 'CHUNG_BUK', 'CHUNG_NAM', 'JEON_BUK',
       'JEON_NAM', 'KYUNG_BUK', 'KYUNG_NAM', 'JE_JU', 'SEJONG']

for column in columns:
     globals()[f'{column}FINAL'] = finalopen(column)

# 각각 파일은 column에있는명 + FINAL (ex: SEOULFINAL)로 데이터프레임 만들어짐

C:/Users/ad/Desktop/test/fin/SEOULFIN.xlsx
C:/Users/ad/Desktop/test/fin/PUSANFIN.xlsx
C:/Users/ad/Desktop/test/fin/DEAGUFIN.xlsx
C:/Users/ad/Desktop/test/fin/INCHEONFIN.xlsx
C:/Users/ad/Desktop/test/fin/KWANG_JUFIN.xlsx
C:/Users/ad/Desktop/test/fin/DAEJEONFIN.xlsx
C:/Users/ad/Desktop/test/fin/ULSANFIN.xlsx
C:/Users/ad/Desktop/test/fin/KYEONG_GIFIN.xlsx
C:/Users/ad/Desktop/test/fin/KANGONEFIN.xlsx
C:/Users/ad/Desktop/test/fin/CHUNG_BUKFIN.xlsx
C:/Users/ad/Desktop/test/fin/CHUNG_NAMFIN.xlsx
C:/Users/ad/Desktop/test/fin/JEON_BUKFIN.xlsx
C:/Users/ad/Desktop/test/fin/JEON_NAMFIN.xlsx
C:/Users/ad/Desktop/test/fin/KYUNG_BUKFIN.xlsx
C:/Users/ad/Desktop/test/fin/KYUNG_NAMFIN.xlsx
C:/Users/ad/Desktop/test/fin/JE_JUFIN.xlsx
C:/Users/ad/Desktop/test/fin/SEJONGFIN.xlsx

In [ ]:
# #최종파일 오픈2 참고
# import pandas as pd
# import os
# openpath = 'C:/Users/ad/Documents/카카오톡 받은 파일/fin/'
# file_list = os.listdir(openpath)
# name_list = []
# for file_name in file_list:
#     if ".xlsx" in file_name:
#         openfilename = openpath + file_name  
#         excel_df = pd.read_excel(openfilename)
#         print(openfilename)
#         for i in openfilename:
#             x = i.split('/')
#             filename = x[-1].replace('.xlsx', '')
#             #print(filename)
#             globals()[f'{filename}FINAL'] = excel_df
#             #print(f'{filename}FINAL')

In [27]:
PUSANFINAL

,DATE,PM10,PM2.5,CO,NO2,O3,SO2,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-22,19,9,0.2,0.009,0.035,0.003,23.0,0.0,2.6,53.0
1,2021-06-21,37,22,0.3,0.016,0.046,0.003,23.0,0.0,2.6,53.0
2,2021-06-20,42,26,0.4,0.015,0.056,0.003,23.0,0.0,2.6,53.0
3,2021-06-19,39,23,0.3,0.013,0.054,0.003,22.9,0.0,2.2,51.0
4,2021-06-18,23,15,0.3,0.018,0.024,0.003,20.0,5.0,2.4,78.0
...,...,...,...,...,...,...,...,...,...,...,...
443,2020-04-05,34,11,0.3,0.010,0.042,0.003,9.7,0.0,3.4,43.4
444,2020-04-04,48,23,0.4,0.014,0.047,0.004,12.8,0.0,4.0,43.3
445,2020-04-03,37,21,0.4,0.022,0.039,0.004,13.8,0.0,3.8,38.6
446,2020-04-02,30,16,0.3,0.015,0.040,0.003,11.5,0.0,3.5,42.8
447,2020-04-01,35,19,0.4,0.020,0.036,0.003,12.5,2.7,2.7,60.1

In [28]:
#참고 데이터프레임> html
PUSANFINAL.to_html('PUSANFINAL.html', justify='center')

In [29]:
# 지도 시각화 시작
for i in test.index:
    print(f"test.loc['{i}']")

NameError: name 'test' is not defined

In [30]:
# #참고 인덱스 안주고 다 컬럼으로 줌
# RENAME_ALL = {
#     '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
#     '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
#     '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}
# listvalues=list()
# for i,j in RENAME_ALL.items():
#     listvalues.append(j)
# import pandas as pd
# test = pd.DataFrame(columns=['이름','위도','경도'])
# test = test.astype({'이름':object, '위도':np.float64, '경도':np.float64})

In [31]:
RENAME_ALL = {
    '서울':'SEOUL', '부산':'PUSAN', '대구':'DEAGU', '인천':'INCHEON', '광주':'KWANG_JU', '대전':'DAEJEON',
    '울산':'ULSAN', '경기':'KYEONG_GI', '강원':'KANGONE', '충북':'CHUNG_BUK', '충남':'CHUNG_NAM', '전북':'JEON_BUK',
    '전남':'JEON_NAM', '경북':'KYUNG_BUK','경남':'KYUNG_NAM','제주':'JE_JU','세종':'SEJONG'}
listvalues=list()
for i,j in RENAME_ALL.items():
    listvalues.append(j)
import pandas as pd
test = pd.DataFrame(index=listvalues,columns=['위도','경도'])
test = test[['위도','경도']].astype('float')
test.index.names=['이름']
test.loc['SEOUL']     = [ 37.59057852325989, 126.9741461697108 ]
test.loc['PUSAN']     = [ 35.16646763080438, 129.02660703271857 ]
test.loc['DEAGU']     = [ 35.81991384028659, 128.5446689181621 ]
test.loc['INCHEON']   = [ 37.449887059861396, 126.70211361857983 ]
test.loc['KWANG_JU']  = [ 35.166368382961416, 126.82977521060587 ]
test.loc['DAEJEON']   = [ 36.333919790187515, 127.39531192170182 ]
test.loc['ULSAN']     = [ 35.56562151744547, 129.2697436746425 ]
test.loc['KYEONG_GI'] = [ 37.39689214652871, 127.49626348873487 ]
test.loc['KANGONE']   = [ 35.481133297445965, 128.30797526353385 ]
test.loc['CHUNG_BUK'] = [ 36.99449992376472, 127.67010320984288 ]
test.loc['CHUNG_NAM'] = [ 36.63527888122404, 126.84859514953921 ]
test.loc['JEON_BUK']  = [ 35.708444280199004, 127.11662005953636 ]
test.loc['JEON_NAM']  = [ 34.88949116972007, 126.99172287794916 ]
test.loc['KYUNG_BUK'] = [ 36.39981068831169, 128.83975128231492 ]
test.loc['KYUNG_NAM'] = [ 35.40505429632169, 128.15416667027876 ]
test.loc['JE_JU']     = [ 33.41802888452141, 126.57348525443793 ]
test.loc['SEJONG']    = [ 36.5594077631663, 127.24823548942054 ]
save_PATH = 'C:/Users/ad/Desktop/test/fin/위도경도'
test.to_excel(save_PATH + '.xlsx', index=True)
test.to_csv(save_PATH + '.csv', index=True, encoding='utf-8-sig')

In [32]:
# test.drop('SEOUL', axis=0)# 인덱스 가로 삭제
# test.drop('위도', axis=1)# 컬럼 세로삭제
# #인덱스 잡힌건 어케삭제하나

NameError: name 'index' is not defined

In [184]:
test.index

Index(['SEOUL', 'PUSAN', 'DEAGU', 'INCHEON', 'KWANG_JU', 'DAEJEON', 'ULSAN',
       'KYEONG_GI', 'KANGONE', 'CHUNG_BUK', 'CHUNG_NAM', 'JEON_BUK',
       'JEON_NAM', 'KYUNG_BUK', 'KYUNG_NAM', 'JE_JU', 'SEJONG'],
      dtype='object', name='이름')

In [185]:
test.loc['SEOUL', '위도']

37.59057852325989

In [206]:
for i in test.index :
    latitude  = test.loc[ i, '위도' ] 
    longitude = test.loc[ i, '경도' ]
    print(latitude, longitude)

37.59057852325989 126.9741461697108
35.16646763080438 129.02660703271857
35.81991384028659 128.5446689181621
37.449887059861396 126.70211361857983
35.166368382961416 126.82977521060587
36.333919790187515 127.39531192170182
35.56562151744547 129.2697436746425
37.39689214652871 127.49626348873487
35.481133297445965 128.30797526353385
36.99449992376472 127.67010320984288
36.63527888122404 126.84859514953921
35.708444280199004 127.11662005953636
34.88949116972007 126.99172287794916
36.39981068831169 128.83975128231492
35.40505429632169 128.15416667027876
33.41802888452141 126.57348525443793
36.5594077631663 127.24823548942054

In [8]:
import folium
Korea_map = folium.Map(
    location = [ 36.71030472717672, 127.84071240718731 ],
    titles   = 'Stamen Terrain',
    zoom_start = 7)

In [5]:
for i in test.index :
    latitude  = test.loc[ i, '위도' ] 
    longitude = test.loc[ i, '경도' ]
    
    folium.CircleMarker(
        location = [float(latitude),float(longitude)],
        fill = True,
        fill_color = 'green',
        fill_opacity = 1,
        weight = 1,
        radius = 3 ).add_to(Korea_map)

NameError: name 'test' is not defined

In [6]:
for i in test.index :
    latitude  = test.loc[ i, '위도' ] 
    longitude = test.loc[ i, '경도' ]
    fillColor = ''
    if i == 'SEOUL':
        fillColor = 'green'
        size = 1
    elif i == 'PUSAN':
        fillColor = 'blue'
        size = 5
    else:
        fillColor = 'red'
        size = 3
    folium.CircleMarker(
        location = [float(latitude),float(longitude)],
        color = fillColor,
        fill = True,
        fill_color = fillColor,
        fill_opacity = 1,
        weight = 1,
        radius = size

    ).add_to(Korea_map)

NameError: name 'test' is not defined

In [9]:
Korea_map

In [5]:
! jupyter nbconvert --to html 2nd.ipynb

# 쥬피터노트북 파일 ==> html로 변환

[NbConvertApp] Converting notebook 2nd.ipynb to html
[NbConvertApp] Writing 667907 bytes to 2nd.html

In [27]:
def mergeWcity(what):
     for wcity in pm10DF_I.columns[1:]:
         if what == wcity :
            print(what, wcity)
            globals()[f'{what}WDF'] = pd.merge(
                left = globals()[f'pm10{what}DF_II'], right = globals()[f'{wcity}WDF'], how = 'left', left_on ='날짜',
                    right_on='날짜')

            globals()[f'{what}WDF'].drop_duplicates() # 중복 행제거 모든열기준
            globals()[f'{what}WDF'].sort_values( by = '날짜', ascending=False, inplace=True )
            
            # pppath    = f'{what}FIN'
            # save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
            # globals()[f'{what}WFIN'].to_excel(save_PATH + '.xlsx', index=False)
            # globals()[f'{what}WFIN'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
     for  i in pm10DF_I.columns[1:]:
        RENAME_ALL = {
            '날짜':'DATE', 'pm10':'PM10', 'pm25':'PM2.5', 'co':'CO', 'no2':'NO2', 'o3':'O3', 'so2':'SO2', 
            '평균기온(°C)':'CENTIGRADE', '일강수량(mm)':'PRECIPITATION', '평균 풍속(m/s)':'WIND SPEED', 
            '평균 상대습도(%)':'RELATIVE HUMIDITY' }
        globals()[f'{i}WFIN'] = globals()[f'{i}WFIN'].rename(RENAME_ALL, axis='columns')
        #-- 컬럼명 제지정 상위 2개----

        #-- 결측치 제거 --
        globals()[f'{i}WDF'].fillna({'PRECIPITATION': 0.0}, inplace=True)
        globals()[f'{i}WDF']['CENTIGRADE'].ffill(inplace=True)
        globals()[f'{i}WDF']['CENTIGRADE'].bfill(inplace=True)
        globals()[f'{i}WDF']['WIND SPEED'].ffill(inplace=True)
        globals()[f'{i}WDF']['WIND SPEED'].bfill(inplace=True)
        globals()[f'{i}WDF']['RELATIVE HUMIDITY'].ffill(inplace=True)
        globals()[f'{i}WDF']['RELATIVE HUMIDITY'].bfill(inplace=True)
        globals()[f'{i}WDF'].drop_duplicates() # 중복 행제거 모든열기준
        globals()[f'{i}WDF'].sort_values( by = 'DATE', ascending=False, inplace=True)
        # -- 이하 저장 --                   
        pppath    = f'{i}FIN'
        save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
        globals()[f'{i}WDF'].to_excel(save_PATH + '.xlsx', index=False)
        globals()[f'{i}WDF'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [29]:
a = 0
for i in pm10DF_I.columns[1:]:
    a += 1
    print(a)
    mergeWcity(i)

1
SEOUL SEOUL

KeyError: 'SEOULWFIN'

In [26]:
pm10PUSANDF_II

             날짜  pm10  pm25   co    no2     o3    so2
0    2021-06-24    16     9  0.2  0.011  0.033  0.003
1    2021-06-23    18     9  0.2  0.010  0.033  0.002
2    2021-06-22    21     9  0.2  0.010  0.038  0.003
3    2021-06-21    37    22  0.3  0.016  0.046  0.003
4    2021-06-20    42    26  0.4  0.015  0.056  0.003
..          ...   ...   ...  ...    ...    ...    ...
445  2020-04-05    34    11  0.3  0.010  0.042  0.003
446  2020-04-04    48    23  0.4  0.014  0.047  0.004
447  2020-04-03    37    21  0.4  0.022  0.039  0.004
448  2020-04-02    30    16  0.3  0.015  0.040  0.003
449  2020-04-01    35    19  0.4  0.020  0.036  0.003

[450 rows x 7 columns]

In [54]:
def mergeWcity(what):
     columns = ['SEOUL', 'PUSAN', 'DEAGU', 'INCHEON', 'KWANG_JU', 'DAEJEON', 'ULSAN',
       'KYEONG_GI', 'KANGONE', 'CHUNG_BUK', 'CHUNG_NAM', 'JEON_BUK',
       'JEON_NAM', 'KYUNG_BUK', 'KYUNG_NAM', 'JE_JU', 'SEJONG']
     for wcity in columns:
         if what == wcity :
            print(what, wcity)
            globals()[f'{what}F'] = pd.merge(
                left = globals()[f'pm10{what}DF_II'], right = globals()[f'{wcity}WDF'], how = 'left', left_on ='날짜',
                    right_on='날짜')
            #print(f'{wcity},{what}')
            #break

            globals()[f'{what}F'].drop_duplicates() # 중복 행제거 모든열기준
            globals()[f'{what}F'].sort_values( by = '날짜', ascending=False, inplace=True )
            
            # pppath    = f'{what}FIN'
            # save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
            # globals()[f'{what}WFIN'].to_excel(save_PATH + '.xlsx', index=False)
            # globals()[f'{what}WFIN'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')
     for  i in columns:
        
        #  continue
         print(f'{i}F')
         RENAME_ALL = {
            '날짜':'DATE', 'pm10':'PM10', 'pm25':'PM2.5', 'co':'CO', 'no2':'NO2', 'o3':'O3', 'so2':'SO2', 
            '평균기온(°C)':'CENTIGRADE', '일강수량(mm)':'PRECIPITATION', '평균 풍속(m/s)':'WIND SPEED', 
            '평균 상대습도(%)':'RELATIVE HUMIDITY' }
         globals()[f'{i}F'] = globals()[f'{i}WDF'].rename(RENAME_ALL, axis='columns')
        
        #-- 컬럼명 제지정 상위 2개----

        # #-- 결측치 제거 --
         globals()[f'{i}F'].fillna({'PRECIPITATION': 0.0}, inplace=True)
         globals()[f'{i}F']['CENTIGRADE'].ffill(inplace=True)
         globals()[f'{i}F']['CENTIGRADE'].bfill(inplace=True)
         globals()[f'{i}F']['WIND SPEED'].ffill(inplace=True)
         globals()[f'{i}F']['WIND SPEED'].bfill(inplace=True)
         globals()[f'{i}F']['RELATIVE HUMIDITY'].ffill(inplace=True)
         globals()[f'{i}F']['RELATIVE HUMIDITY'].bfill(inplace=True)
         globals()[f'{i}F'].drop_duplicates() # 중복 행제거 모든열기준
         globals()[f'{i}F'].sort_values( by = 'DATE', ascending=False, inplace=True)
        # -- 이하 저장 --                   
         pppath    = f'{i}FIN'
         save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
         globals()[f'{i}F'].to_excel(save_PATH + '.xlsx', index=False)
         globals()[f'{i}F'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [55]:
a = 0
for i in pm10DF_I.columns[1:]:
    a += 1
    print(a)
    mergeWcity(i)

1
SEOUL SEOUL
2
PUSAN PUSAN
3
DEAGU DEAGU
4
INCHEON INCHEON
5
KWANG_JU KWANG_JU
6
DAEJEON DAEJEON
7
ULSAN ULSAN
8
KYEONG_GI KYEONG_GI
9
KANGONE KANGONE
10
CHUNG_BUK CHUNG_BUK
11
CHUNG_NAM CHUNG_NAM
12
JEON_BUK JEON_BUK
13
JEON_NAM JEON_NAM
14
KYUNG_BUK KYUNG_BUK
15
KYUNG_NAM KYUNG_NAM
16
JE_JU JE_JU
17
SEJONG SEJONG

In [47]:
RENAME_ALL = {
            '날짜':'DATE', 'pm10':'PM10', 'pm25':'PM2.5', 'co':'CO', 'no2':'NO2', 'o3':'O3', 'so2':'SO2', 
            '평균기온(°C)':'CENTIGRADE', '일강수량(mm)':'PRECIPITATION', '평균 풍속(m/s)':'WIND SPEED', 
            '평균 상대습도(%)':'RELATIVE HUMIDITY' }
PUSANF.rename(RENAME_ALL, axis='columns')

,DATE,PM10,PM2.5,CO,NO2,O3,SO2,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-24,16,9,0.2,0.011,0.033,0.003,NaN,NaN,NaN,NaN
1,2021-06-23,18,9,0.2,0.010,0.033,0.002,NaN,NaN,NaN,NaN
2,2021-06-22,21,9,0.2,0.010,0.038,0.003,NaN,NaN,NaN,NaN
3,2021-06-21,37,22,0.3,0.016,0.046,0.003,NaN,NaN,NaN,NaN
4,2021-06-20,42,26,0.4,0.015,0.056,0.003,23.0,NaN,2.6,53.0
...,...,...,...,...,...,...,...,...,...,...,...
445,2020-04-05,34,11,0.3,0.010,0.042,0.003,9.7,NaN,3.4,43.4
446,2020-04-04,48,23,0.4,0.014,0.047,0.004,12.8,NaN,4.0,43.3
447,2020-04-03,37,21,0.4,0.022,0.039,0.004,13.8,NaN,3.8,38.6
448,2020-04-02,30,16,0.3,0.015,0.040,0.003,11.5,NaN,3.5,42.8
449,2020-04-01,35,19,0.4,0.020,0.036,0.003,12.5,2.7,2.7,60.1

In [56]:
SEOULF

,DATE,PM10,PM2.5,CO,NO2,O3,SO2,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-24,23,13,0.4,0.016,0.033,0.003,22.9,0.0,2.8,48.0
1,2021-06-23,18,10,0.3,0.015,0.041,0.003,22.9,0.0,2.8,48.0
2,2021-06-22,23,13,0.4,0.018,0.039,0.003,22.9,0.0,2.8,48.0
3,2021-06-21,41,24,0.4,0.015,0.051,0.003,22.9,0.0,2.8,48.0
4,2021-06-20,51,31,0.5,0.014,0.059,0.004,22.9,0.0,2.8,48.0
...,...,...,...,...,...,...,...,...,...,...,...
445,2020-04-05,47,22,0.4,0.015,0.038,0.003,7.2,0.0,2.8,29.5
446,2020-04-04,68,27,0.4,0.015,0.037,0.003,8.9,0.0,3.4,36.4
447,2020-04-03,56,32,0.5,0.028,0.032,0.003,10.0,0.0,2.7,53.8
448,2020-04-02,39,24,0.5,0.027,0.029,0.003,9.3,0.0,2.3,41.4
449,2020-04-01,69,30,0.5,0.020,0.041,0.004,11.3,0.0,3.7,35.6

In [57]:
JE_JUF

           DATE  CENTIGRADE  PRECIPITATION  WIND SPEED  RELATIVE HUMIDITY
0    2021-06-20        22.9            0.0         2.8               48.0
1    2021-06-19        22.3            0.0         1.8               49.0
2    2021-06-18        20.0            6.3         2.5               82.0
3    2021-06-17        21.9            0.0         2.4               58.0
4    2021-06-16        24.3            0.0         3.6               46.0
..          ...         ...            ...         ...                ...
807  2020-01-05         1.3            0.0         1.1               45.6
808  2020-01-04         1.2            0.0         1.9               50.8
809  2020-01-03        -0.1            0.0         1.7               56.9
810  2020-01-02         1.0            0.0         1.2               65.4
811  2020-01-01        -2.2            0.1         0.6               64.4

[812 rows x 5 columns]

In [87]:
def mergeWcity(what):
     for wcity in pm10DF_I.columns[1:]:
         if what == wcity :
            print(what, wcity)
            globals()[f'{what}WFIN'] = pd.merge(
                left = globals()[f'pm10{what}DF_II'], right = globals()[f'{wcity}WDF'], how = 'left', left_on ='날짜',
                    right_on='날짜')

            globals()[f'{what}WFIN'].drop_duplicates() # 중복 행제거 모든열기준
            globals()[f'{what}WFIN'].sort_values( by = '날짜', ascending=False, inplace=True)
            # pppath    = f'{what}FIN'
            # save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
            # globals()[f'{what}WFIN'].to_excel(save_PATH + '.xlsx', index=False)
            # globals()[f'{what}WFIN'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [88]:
a = 0
for i in pm10DF_I.columns[1:]:
    a += 1
    print(a)
    mergeWcity(i)

1
SEOUL SEOUL
2
PUSAN PUSAN
3
DEAGU DEAGU
4
INCHEON INCHEON
5
KWANG_JU KWANG_JU
6
DAEJEON DAEJEON
7
ULSAN ULSAN
8
KYEONG_GI KYEONG_GI
9
KANGONE KANGONE
10
CHUNG_BUK CHUNG_BUK
11
CHUNG_NAM CHUNG_NAM
12
JEON_BUK JEON_BUK
13
JEON_NAM JEON_NAM
14
KYUNG_BUK KYUNG_BUK
15
KYUNG_NAM KYUNG_NAM
16
JE_JU JE_JU
17
SEJONG SEJONG

In [90]:
PUSANWFIN

,날짜,pm10,pm25,co,no2,o3,so2,평균기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%)
0,2021-06-24,16,9,0.2,0.011,0.033,0.003,NaN,NaN,NaN,NaN
1,2021-06-23,18,9,0.2,0.010,0.033,0.002,NaN,NaN,NaN,NaN
2,2021-06-22,21,9,0.2,0.010,0.038,0.003,NaN,NaN,NaN,NaN
3,2021-06-21,37,22,0.3,0.016,0.046,0.003,NaN,NaN,NaN,NaN
4,2021-06-20,42,26,0.4,0.015,0.056,0.003,23.0,NaN,2.6,53.0
...,...,...,...,...,...,...,...,...,...,...,...
445,2020-04-05,34,11,0.3,0.010,0.042,0.003,9.7,NaN,3.4,43.4
446,2020-04-04,48,23,0.4,0.014,0.047,0.004,12.8,NaN,4.0,43.3
447,2020-04-03,37,21,0.4,0.022,0.039,0.004,13.8,NaN,3.8,38.6
448,2020-04-02,30,16,0.3,0.015,0.040,0.003,11.5,NaN,3.5,42.8
449,2020-04-01,35,19,0.4,0.020,0.036,0.003,12.5,2.7,2.7,60.1

In [91]:
for  i in pm10DF_I.columns[1:]:
        RENAME_ALL = {
            '날짜':'DATE', 'pm10':'PM10', 'pm25':'PM2.5', 'co':'CO', 'no2':'NO2', 'o3':'O3', 'so2':'SO2', 
            '평균기온(°C)':'CENTIGRADE', '일강수량(mm)':'PRECIPITATION', '평균 풍속(m/s)':'WIND SPEED', 
            '평균 상대습도(%)':'RELATIVE HUMIDITY' }
        globals()[f'{i}WFIN'] = globals()[f'{i}WFIN'].rename(RENAME_ALL, axis='columns')
        #-- 컬럼명 제지정 상위 2개----

        #-- 결측치 제거 --
        globals()[f'{i}WFIN'].fillna({'PRECIPITATION': 0.0}, inplace=True)
        globals()[f'{i}WFIN']['CENTIGRADE'].ffill(inplace=True)
        globals()[f'{i}WFIN']['CENTIGRADE'].bfill(inplace=True)
        globals()[f'{i}WFIN']['WIND SPEED'].ffill(inplace=True)
        globals()[f'{i}WFIN']['WIND SPEED'].bfill(inplace=True)
        globals()[f'{i}WFIN']['RELATIVE HUMIDITY'].ffill(inplace=True)
        globals()[f'{i}WFIN']['RELATIVE HUMIDITY'].bfill(inplace=True)
        globals()[f'{i}WFIN'].drop_duplicates() # 중복 행제거 모든열기준
        globals()[f'{i}WFIN'].sort_values( by = 'DATE', ascending=False, inplace=True)
        # -- 이하 저장 --                   
        pppath    = f'{i}FIN'
        save_PATH = f'C:/Users/ad/Desktop/test/fin/{pppath}'
        globals()[f'{i}WFIN'].to_excel(save_PATH + '.xlsx', index=False)
        globals()[f'{i}WFIN'].to_csv(save_PATH + '.csv', index=False, encoding='utf-8-sig')

In [92]:
PUSANWFIN

,DATE,PM10,PM2.5,CO,NO2,O3,SO2,CENTIGRADE,PRECIPITATION,WIND SPEED,RELATIVE HUMIDITY
0,2021-06-24,16,9,0.2,0.011,0.033,0.003,23.0,0.0,2.6,53.0
1,2021-06-23,18,9,0.2,0.010,0.033,0.002,23.0,0.0,2.6,53.0
2,2021-06-22,21,9,0.2,0.010,0.038,0.003,23.0,0.0,2.6,53.0
3,2021-06-21,37,22,0.3,0.016,0.046,0.003,23.0,0.0,2.6,53.0
4,2021-06-20,42,26,0.4,0.015,0.056,0.003,23.0,0.0,2.6,53.0
...,...,...,...,...,...,...,...,...,...,...,...
445,2020-04-05,34,11,0.3,0.010,0.042,0.003,9.7,0.0,3.4,43.4
446,2020-04-04,48,23,0.4,0.014,0.047,0.004,12.8,0.0,4.0,43.3
447,2020-04-03,37,21,0.4,0.022,0.039,0.004,13.8,0.0,3.8,38.6
448,2020-04-02,30,16,0.3,0.015,0.040,0.003,11.5,0.0,3.5,42.8
449,2020-04-01,35,19,0.4,0.020,0.036,0.003,12.5,2.7,2.7,60.1